---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false
const user_id = !user ? false : user.user_id

import type { GroupItemUI } from '@dtypes/layout_components'
import { get_groups_auth, get_groups } from '@helpers/fetching/groups'

let groups:GroupItemUI[] = []
let get_groups_error:string | null = null
try {
    if (auth_token && user_id)
        groups = await get_groups_auth(auth_token, user_id, 'group')
    else
        groups = await get_groups('group')
} catch (error) {
    get_groups_error = prod_error_messages() ? t('get_groups_error') : error.message
}

const GROUPS_LIST_PARTIAL_URL = translatePath('/partials/groups_list_component')

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import GroupsList from '@components/blocks/GroupsList.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';

const page_title = t('groups.list.page_title');
const leading_text = t('groups.list.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('groups.list.meta_description')}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageWide
        cover={{
            image: "/images/groups-cover.jpg",
            image_990: "/images/groups-cover.jpg",
            animated: false,
            scrollable: true,
            overlay: true
        }}
        x-data={`{
            group_name: '',
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <Flexblock gap="var(--space-3xs)">
                <PageTitle>
                    {page_title}
                </PageTitle>
                <small>{groups.length} {groups.length != 1 ? t('groups_available').toLowerCase() : t('group_available').toLowerCase()}</small>
            </Flexblock>
        </FlexInline>

        <Flexblock gap="var(--space-xl)">
            <TextBox>
                <p>{leading_text}</p>
            </TextBox>

            {get_groups_error ?
                <ErrorRefetch
                    args={{
                        partial: `${GROUPS_LIST_PARTIAL_URL}?groups_type=group`,
                        message: get_groups_error,
                        delay: 0,
                    }}
                />
                :
                <GroupsList
                    groups={groups}
                    groups_type='group'
                />
            }
        </Flexblock>
	</PageWide>
</Viewport>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }
</style>