---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { ContractMarketLocationUI, SelectOptions } from '@dtypes/layout_components';
import type { LocationMarketData } from '@dtypes/api.minmatar.org'
import { SHIP_TYPES_SORTED } from '@helpers/eve'
import { get_contracts_data } from '@helpers/pages/contracts'
import type { ContractsData } from '@helpers/pages/contracts'
import { get_ship_info } from '@helpers/sde/ships'

let contracts_data:ContractsData = {}
let data_fetching_error = ''

try {
    contracts_data = await get_contracts_data(lang)
} catch (error) {
    data_fetching_error = error.message
}

const {
    market_locations = [],
} = contracts_data

let doctrines:string[] = []

let active_location_name = Astro.url.searchParams.get('location_name') ?? (market_locations[0]?.location_name ?? '')

if (market_locations.length > 0) {
    if (active_location_name === '' || !market_locations.find(location => location.location_name === active_location_name) )
        active_location_name = market_locations[0].location_name
}

const market_locations_ui:ContractMarketLocationUI[] = await Promise.all(market_locations.map(async (location:LocationMarketData) => {
    const fittings = location.doctrines.map(doctrine => {
        if (location.location_name === active_location_name)
            doctrines.push(doctrine.doctrine_name)

        return doctrine.fittings.map(fitting => {
            return {
                ...fitting,
                doctrine_name: doctrine.doctrine_name,
            }
        })
    }).flat()

    const ship_ids = fittings.map((fitting) => fitting.ship_id)
    const unique_ship_ids = Array.from(new Set(ship_ids))
    
    let ship_info_map: Record<number, string> = {}
    await Promise.all(unique_ship_ids.map(async (ship_id) => {
        const ship_info = await get_ship_info(ship_id)
        ship_info_map[ship_id] = ship_info ? ship_info.type : 'Unclassified'
    }))

    const sorted_location_fittings = fittings.sort((a, b) => {
        return SHIP_TYPES_SORTED.indexOf(ship_info_map[a.ship_id.toString()] as string) - SHIP_TYPES_SORTED.indexOf(ship_info_map[b.ship_id.toString()] as string)
    })

    return {
        name: location.location_name,
        doctrine_count: location.doctrines.length,
        fittings: sorted_location_fittings,
        completion: 0, // To be calculated
    } as ContractMarketLocationUI
}))

const unique_doctrines = Array.from(new Set(doctrines))

const doctrines_select_options = unique_doctrines.map( doctrine_name => {
    return { label: doctrine_name, value: doctrine_name } as SelectOptions
})

import { query_string } from '@helpers/string';

const CONTRACTS_PARTIAL_URL = translatePath(`/partials/contracts_component?${query_string({
    location_name: active_location_name
})}`)

const active_market_locations_ui = market_locations_ui.find(location => location.name === active_location_name)
const contracts_count = active_market_locations_ui?.fittings.length ?? 0

const non_active_market_locations_ui = market_locations_ui.filter(location => location.name !== active_location_name)

const is_video_cover = active_location_name === 'R-6KYM - Here be Rats' || active_location_name === 'Amamake - 5 times nearly AT winners'

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import Input from '@components/blocks/Input.astro'
import Select from '@components/blocks/Select.astro';
import ContractsTable from '@components/blocks/ContractsTable.astro';

import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';

const page_title = t('contracts.page_title')
const page_description = t('contracts.leading_text')
---

<Viewport
    title={page_title}
    meta_description={t('contracts.meta_description')}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageDefault
        cover={{
			video: active_location_name === 'R-6KYM - Here be Rats' ? '/videos/r6-loop.webm' :
					active_location_name === 'Amamake - 5 times nearly AT winners' ? '/videos/amamake-loop.webm' :
                    undefined,
			video_thumb: active_location_name === 'R-6KYM - Here be Rats' ? '/images/home-r6-cover.jpg' :
					active_location_name === 'Amamake - 5 times nearly AT winners' ? '/images/home-amamake-cover.jpg' :
                    undefined,
            image: active_location_name === 'R-6KYM - Here be Rats' ? '/images/home-r6-cover-eve.jpg' :
					active_location_name === 'Amamake - 5 times nearly AT winners' ? '/images/home-amamake-cover-eve.jpg' :
                    '/images/contracts-cover.jpg',
            image_990: active_location_name === 'R-6KYM - Here be Rats' ? '/images/home-r6-cover-eve.jpg' :
					   active_location_name === 'Amamake - 5 times nearly AT winners' ? '/images/home-amamake-cover-eve.jpg' :
                       '/images/contracts-cover.jpg',
            animated: false,
            scrollable: !is_video_cover,
            overlay: !is_video_cover,
        }}
        x-data={`{
            contracts_count: ${contracts_count},
            item_name_filter: '',
            item_doctine_filter: '',
            doctrines_select_options: ${JSON.stringify(doctrines_select_options)},
            countVisibleElements(selector, parent = document) {
                const elements = parent.querySelectorAll(selector)
                let visible_count = 0

                elements.forEach(element => {
                    const is_visible = element.offsetParent !== null
                    if (is_visible)
                        visible_count++
                })

                return visible_count
            },
            show_item(el) {
                const name_filter_element = el.querySelectorAll('.title')
                const doctrine_filter_element = el.querySelectorAll('.subtitle')

                const name_filter = ( this.item_name_filter === '' || name_filter_element[0].textContent.toLowerCase().includes(this.item_name_filter.toLowerCase()) )
                const doctrine_filter = ( this.item_doctine_filter === '' || doctrine_filter_element[0].textContent.toLowerCase().includes(this.item_doctine_filter.toLowerCase()) )

                return name_filter && doctrine_filter
            },
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <Flexblock gap="var(--space-3xs)">
                <PageTitle>
                    {page_title}
                </PageTitle>
                <small x-text={`\`${t('showing')} \${contracts_count} \${contracts_count !== 1 ? '${t('contracts')}' : '${t('contract')}'}\``}>
                    {t('showing')} {contracts_count} {contracts_count !== 1 ? t('contracts') : t('contract')}
                </small>
            </Flexblock>
            <FlexInline>
                <Input type="text"
                    placeholder={t('filter')}
                    x-model="item_name_filter"
                    x-on:keyup="setTimeout(function () { contracts_count = countVisibleElements('.title') })"
                    x-init="$el.focus()"
                >
                    <MagnifierIcon slot="icon" />
                </Input>

                <Select
                    x-model="item_doctine_filter"
                    x-on:change="setTimeout(function () { contracts_count = countVisibleElements('.title') }, 100)"
                >
                    <option selected value="">{t('all_doctrines')}</option>
                    <template x-for="option in doctrines_select_options">
                        <option x-bind:value="option.value" x-text="option.label" />
                    </template>
                </Select>
            </FlexInline>
        </FlexInline>
    
        {data_fetching_error ?
            <ErrorRefetch
                args={{
                    partial: CONTRACTS_PARTIAL_URL,
                    message: data_fetching_error,
                    delay: 0,
                }}
            />
            :
            active_market_locations_ui !== undefined ?
                <ContractsTable
                    active_market_locations_ui={active_market_locations_ui}
                    non_active_market_locations_ui={non_active_market_locations_ui}
                /> :
                <p>{t('no_market_locations')}</p>
        }
	</PageDefault>
</Viewport>