---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { getGuideBySlug } from '@/data/guides'

import { marked } from 'marked'
import { renderer } from '@helpers/marked'
import { strip_markdown } from '@helpers/string'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

const slug = Astro.params.name ?? ''
const guide = getGuideBySlug(slug)

if (!guide) {
    return HTTP_404_Not_Found()
}

const { module } = guide
const page_title = module.frontmatter.title
const page_description = module.frontmatter.excerpt

import Viewport from '@layouts/Viewport.astro'

import PageLanding from '@components/page/PageLanding.astro'
import PageTitle from '@components/page/PageTitle.astro'

import TextBox from '@components/layout/TextBox.astro'

import Flexblock from '@components/compositions/Flexblock.astro'
import BlockList from '@components/compositions/BlockList.astro'

import Button from '@components/blocks/Button.astro'
---

<Viewport
    title={page_title}
    meta_description={await strip_markdown(page_description)}
    components={{
        alert_dialog: true,
    }}
>
    <PageLanding
        wide={true}
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover.jpg",
            scrollable: true,
            overlay: true
        }}
    >
        <Flexblock gap='var(--space-2xl)'>
            <TextBox>
                <Flexblock gap='var(--space-m)'>
                    <small class="[ text-muted ]">{guide.category}</small>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                </Flexblock>
            </TextBox>

            <TextBox>
                <BlockList gap='var(--space-xl)'>
                    <div
                        class="[ prose ]"
                        set:html={marked.parse(module.rawContent(), { renderer })}
                        x-data={`{
                            init_zoom() {
                                mediumZoom('.prose img', {
                                    background: 'var(--solid-transparency-background)',
                                    scrollOffset: 0,
                                    margin: 24,
                                    metaClick: false,
                                })
                            }
                        }`}
                        x-init="init_zoom()"
                    />

                    <hr class="[ border-bottom ]" />

                    <Button
                        class="[ w-fit! ]"
                        href={translatePath('/guides/')}
                    >
                        {t('guides.back_to_guides')}
                    </Button>
                </BlockList>
            </TextBox>
        </Flexblock>
    </PageLanding>
</Viewport>
