---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { prod_error_messages } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_view_page = is_superuser || user_permissions.includes('eveonline.view_evecorporation')

if (!can_view_page)
    return HTTP_404_Not_Found()

import type { CorporationMembers, MainCharacters, SelectOptions } from '@dtypes/layout_components'
import { get_all_corporations_members } from '@helpers/fetching/corporations'

let corporations_members:CorporationMembers[] = []
let get_all_mains_alts_error:string | false = false
let mains_alts:MainCharacters[] = []
let UNREGISTERED_COUNT = 0
let ALLIANCE_MEMBERS_COUNT = 0

try {
    corporations_members = await get_all_corporations_members(auth_token as string)
    
    corporations_members.sort( (a, b) => {
        return b.members.length - a.members.length
    })

    corporations_members = corporations_members.map( (corporation) => {
        ALLIANCE_MEMBERS_COUNT += corporation.members.length

        corporation.members.filter( (member) => {
            if (member.is_main) {
                mains_alts.push({
                    character_id: member.character_id,
                    character_name: member.character_name,
                    corporation_id: corporation.corporation_id,
                    corporation_name: corporation.corporation_name,
                    registered: member.registered,
                    alts: [],
                })
            }

            return member.is_main 
        }).length

        corporation.members.map( (member) => {
            if (!member.is_main) {
                mains_alts.map( (main) => {
                    if (main.character_id === member?.main_character?.character_id) {
                        member.corporation_id = corporation.corporation_id
                        member.corporation_name = corporation.corporation_name
                        main.alts.push(member)
                    }

                    return main
                })
            }

            return member.is_main 
        }).length

        const unregistered_members = corporation.members.filter( (member) => !member.registered && !member.exempt )
        
        UNREGISTERED_COUNT += unregistered_members.length

        return corporation
    })
} catch (error) {
    get_all_mains_alts_error = prod_error_messages() ? t('get_all_mains_alts_error') : error.message
}

const MAINS_ALTS_PARTIAL_URL = `${translatePath('/partials/mains_alts_component')}`

mains_alts.sort( (a, b) => a.character_name.localeCompare(b.character_name))
mains_alts = mains_alts.filter( (main) => main.registered )

const MAIN_COUNT = mains_alts.length

let TOTAL_ALTS = 0
const MAINS_UNFILTERED = {}
mains_alts.forEach( (main) => {
    MAINS_UNFILTERED[main.character_id] = main.alts.map( (alt) => alt.character_id )
    TOTAL_ALTS += main.alts.length
})

const MAINS_ALTS_COUNT = {}
mains_alts.forEach( (main) => {
    MAINS_ALTS_COUNT[main.character_id] = main.alts.length
})

const mains_options = mains_alts.map( (main):SelectOptions => {
    return {
        value: main.character_id,
        label: main.character_name,
    }
} )

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import FlexInline from '@components/compositions/FlexInline.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

import MainAltsList from '@components/blocks/MainAltsList.astro';
import TextBox from '@components/layout/TextBox.astro';
import Input from '@components/blocks/Input.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import Button from '@components/blocks/Button.astro';
import NotificationBadge from '@components/blocks/NotificationBadge.astro';

import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';

const page_title = t('corporations.members.mains.page_title')
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageDefault
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover-990.jpg",
            alt: t('alliance.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
        x-data={`{
            MAIN_COUNT: ${MAIN_COUNT},
            ALLIANCE_MEMBERS_COUNT: ${ALLIANCE_MEMBERS_COUNT},
            UNREGISTERED_COUNT: ${UNREGISTERED_COUNT},
            global_collapsed: [],
            mains_alts: ${JSON.stringify(mains_alts)},
            mains_unfiltered: ${JSON.stringify(MAINS_UNFILTERED)},
            mains_filtered: ${JSON.stringify(MAINS_UNFILTERED)},
            mains_filtered_alts_count: ${JSON.stringify(MAINS_ALTS_COUNT)},
            total_alts_filtered: ${TOTAL_ALTS},
            total_alts_unfiltered: ${TOTAL_ALTS},
            mains_options: ${JSON.stringify(mains_options)},
            character_name: '',
            main_filter: '-1',
            filter() {
                console.log(this.character_name)
                if (this.character_name === '') {
                    this.mains_filtered = this.mains_unfiltered
                    this.mains_filtered_alts_count = ${JSON.stringify(MAINS_ALTS_COUNT)}
                    this.total_alts_filtered = this.total_alts_unfiltered
                    return
                }

                this.mains_filtered = {}
                this.mains_filtered_alts_count = {}
                this.total_alts_filtered = 0

                this.mains_alts.forEach( (main) => {
                    let alts

                    if (main.character_name.toLowerCase().includes(this.character_name.toLowerCase())) {
                        alts = main.alts
                        this.mains_filtered[main.character_id] = alts
                    } else
                        alts = main.alts.filter( (alt) => alt.character_name.toLowerCase().includes(this.character_name.toLowerCase()) )
                    
                    if (alts.length > 0) {
                        this.total_alts_filtered += alts.length
                        this.mains_filtered[main.character_id] = alts.map( (alt) => alt.character_id )
                        this.mains_filtered_alts_count[main.character_id] = alts.length
                    }
                })
            },
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <PageTitle>
                {page_title}
            </PageTitle>
            <FlexInline>
                <Input type="text"
                    placeholder={t('filter')}
                    x-model="character_name"
                    x-on:keyup="filter()"
                >
                    <MagnifierIcon slot="icon" />
                </Input>
            </FlexInline>
        </FlexInline>

        <FlexInline slot="subheader">
            <Button
                color='transparent'
                href={translatePath('/alliance/corporations/members/mains')}
                size='sm'
            >
                {t('mains')}
                <NotificationBadge
                    x-text="MAIN_COUNT"
                    number={MAIN_COUNT ?? 0}
                />
            </Button>

            <Button
                href={translatePath('/alliance/corporations/members')}
                size='sm'
            >
                {t('members')}
                <NotificationBadge
                    color='fleet-yellow'
                    x-text="ALLIANCE_MEMBERS_COUNT"
                    number={TOTAL_ALTS ?? 0}
                />
            </Button>

            <Button
                href={translatePath('/alliance/corporations/members/unregistered')}
                size='sm'
            >
                {t('unregistered')}
                <NotificationBadge
                    color='fleet-yellow'
                    x-text="UNREGISTERED_COUNT"
                    number={UNREGISTERED_COUNT ?? 0}
                />
            </Button>
        </FlexInline>

        <Flexblock gap="var(--space-xl)">
            <TextBox>
                <p>{t('corporations.members.mains.leading_text')}</p>
            </TextBox>

            {get_all_mains_alts_error ?
                <ErrorRefetch
                    args={{
                        partial: MAINS_ALTS_PARTIAL_URL,
                        message: get_all_mains_alts_error,
                        delay: 0,
                    }}
                />
                :
                <MainAltsList mains={mains_alts} />
            }
        </Flexblock>
    </PageDefault>
</Viewport>