---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import ButtonStack from '@components/blocks/ButtonStack.astro';
import Button from '@components/blocks/Button.astro';

const page_title = t('404.page_title');
const content_title = t('404.content_title');
const page_description = t('404.leading_text');
---

<Viewport title={page_title} meta_description={page_description} neocom={false}>
    <PageLanding
        cover={{
            image: "/images/404-cover.jpg",
            image_990: "/images/404-cover-990.jpg",
            alt: t('404.cover_alt'),
            animated: false,
            overlay: true
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Flexblock>
                <h1>{content_title}</h1>
                <p>{page_description}</p>
            </Flexblock>

            <ButtonStack>
                <Button color={'fleet-red'} href={translatePath('/')}>
                    {t('back_to_safe')}
                </Button>
            </ButtonStack>
        </Flexblock>
    </PageLanding>
</Viewport>

<style lang="scss">
    #content {
        min-height: 100vh;
        display: flex;
        align-items: center;
		position: relative;
    }
</style>