---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import Flexblock from '@components/compositions/Flexblock.astro';
import Viewport from '@layouts/Viewport.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import Button from '@components/blocks/Button.astro';
import ButtonStack from '@components/blocks/ButtonStack.astro';

import PageCover from '@components/page/PageCover.astro';

const page_title = t('500.page_title');
const page_description = t('500.leading_text');
---

<Viewport title={page_title} meta_description={page_description} neocom={false}>
    <PageCover
        image="/images/404-cover.jpg"
        image_990="/images/404-cover-990.jpg"
        alt={t('403.cover_alt')}
        animated={false}
        overlay={true}
    />

	<main id="content">
		<Wrapper max_width="var(--max-text-width)" neocom={true}>
            <Flexblock gap='var(--space-2xl)'>
                <Flexblock>
                    <h1>{page_title}</h1>
                    <p>{page_description}</p>
                </Flexblock>

                <ButtonStack>
                    <Button color={'fleet-red'} href={translatePath('/')}>
                        {t('back_to_safe')}
                    </Button>
                </ButtonStack>
            </Flexblock>
		</Wrapper>
	</main>
</Viewport>

<style lang="scss">
    #content {
        min-height: 100vh;
        display: flex;
        align-items: center;
		position: relative;
    }
</style>