---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'
import { get_auth_url } from '@helpers/env'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

if (!auth_token || !user) {
    Astro.cookies.set('redirect_after_auth', Astro.url.href, { path: '/' })
    return Astro.redirect(get_auth_url())
}

import { semantic_list } from '@helpers/array';

let roles:string[] = []
if (user.is_superuser) roles.push(t('administrator'))
if (user.is_staff) roles.push(t('director'))
const roles_semantic_list:string = (roles.length > 0 ? semantic_list(lang, roles) : t('default'))

import type { Character, Corporation, EveCharacterProfile } from '@dtypes/api.minmatar.org'
import type { NotificationSubscription } from '@dtypes/layout_components'
import { get_characters } from '@helpers/api.minmatar.org/characters'
import { get_user_character } from '@helpers/fetching/characters'
import { get_user_subscriptions } from '@helpers/push_notification_subscriptions'
import { get_all_corporations } from '@helpers/api.minmatar.org/corporations'

let pilots:Character[] = []
let get_characters_error:string | false = false
let alliance_corporations:Corporation[]
let user_character:EveCharacterProfile | null = null
let is_fleet_pilot = false
let readonly = false
let notification_subscriptions:NotificationSubscription[] = []

try {
    pilots = await get_characters(auth_token)
    alliance_corporations = await get_all_corporations('alliance')
    user_character = await get_user_character(user.user_id)
    if (user_character) {
        const user_corporation = user_character?.corporation_id ? alliance_corporations.find((corporation) => corporation?.corporation_id === user_character?.corporation_id) : undefined
        is_fleet_pilot = (user_corporation !== undefined)
    }
} catch (error) {
    get_characters_error = (prod_error_messages() ? t('get_characters_error') : error.message)
    readonly = true
}

try {
    if (is_fleet_pilot)
        notification_subscriptions = await get_user_subscriptions(user.user_id)
} catch (error) {
    console.log(error)
}

const DELETE_ACCOUNT_URL = translatePath('/api/auth')
const CLEAR_ACCOUNT_CACHE_URL = translatePath('/api/cache')
const PILOTS_LIST_PARTIAL_URL = translatePath('/partials/pilots_list_component/')
const REFRESH_DISCORD_ROLES_PARTIAL_URL = `${translatePath('/partials/refresh_discord_roles_component/')}?is_friend=false`

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Context from '@components/layout/Context.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import BlockList from '@components/compositions/BlockList.astro';

import TextGroup from '@components/blocks/TextGroup.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import Tippy from '@components/blocks/Tippy.astro';

import PilotsList from '@components/blocks/PilotsList.astro';
import Mumble from '@components/blocks/Mumble.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import PushNotifications from '@components/blocks/PushNotifications.astro';
import DisableBlock from '@components/blocks/DisableBlock.astro';
import Button from '@components/blocks/Button.astro';
import SwitchSquare from '@components/blocks/SwitchSquare.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';

import LogoutIcon from '@components/icons/buttons/LogoutIcon.astro';
import RifterIcon from '@components/icons/RifterIcon.astro';

const page_title = t('account.page_title');
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
        modal: true
    }}
>
    <PageDefault
        cover={{
            image: "/images/account-cover.jpg",
            image_990: "/images/account-cover.jpg",
            alt: t('account.cover_alt'),
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <PageTitle>
                {page_title}
            </PageTitle>
            <FlexInline>
                <Button class="[ !hidden md:!flex ]" href={translatePath('/auth/logout/')}>
                    <LogoutIcon slot="icon" />
                    {t('logout')}
                </Button>
            </FlexInline>
        </FlexInline>
        
        <Flexblock>            
            <ComponentBlock width='narrow'>
                <FlexInline justification='space-between'>
                    <FlexInline class="[ grow ]">
                        <VerticalCenter class="[ basis-48 ]">
                            <TextGroup title={t('account_name')}>
                                {user.username}
                            </TextGroup>
                        </VerticalCenter>
                        <VerticalCenter class="[ basis-48 ]">
                            <TextGroup title={t('status')}>
                                {roles_semantic_list}
                            </TextGroup>
                        </VerticalCenter>
                    </FlexInline>
                    <FlexInline class="[ items-center ]">
                        <Button
                            size='sm'
                            type="button"
                            hx-post={REFRESH_DISCORD_ROLES_PARTIAL_URL}
                            hx-swap="outerHTML transition:true"
                            hx-on--before-request="this.setAttribute('disabled','');"
                            hx-on--after-request="this.removeAttribute('disabled')"
                        >
                            {t('refresh_discord_roles')}
                        </Button>
                        <Tippy
                            data-tippy-placement="top"
                            partial={`${translatePath('/partials/normal_tooltip')}?description=clear_cache_description`}
                            height='70px'
                            width='340px'
                            element='div'
                            show_delay={2000}
                        >
                            <Button
                                size='sm'
                                type="button"
                                x-bind:disabled="disabled"
                                x-data={`{
                                    disabled: false,
                                    async clear_cache() {
                                        this.disabled = true
                                        
                                        await fetch(
                                            '${CLEAR_ACCOUNT_CACHE_URL}', {
                                                method: 'DELETE'
                                            }
                                        )

                                        navigate('${translatePath('/account')}')
                                    }
                                }`}
                                x-on:click="clear_cache()"
                            >
                                {t('clear_account_cache')}
                            </Button>
                        </Tippy>
                    </FlexInline>
                </FlexInline>
            </ComponentBlock>

            {is_fleet_pilot &&
                <Mumble />
            }

            <ComponentBlock 
                width='narrow'
                x-data={`{
                    remove_request_ongoing: [],
                    start_remove_animation(character_id) {
                        if (!character_id) return
                        this.remove_request_ongoing.push(character_id)
                    },
                    stop_remove_animation(character_id) {
                        if (!character_id) return
                        this.remove_request_ongoing = this.remove_request_ongoing.filter(value => value !== character_id)
                    },
                }`}
            >
                {get_characters_error ?
                    <PilotsList
                        pilots={pilots}
                        readonly={readonly}
                    >
                        <ErrorRefetch
                            args={{
                                partial: PILOTS_LIST_PARTIAL_URL,
                                message: get_characters_error,
                                delay: 0,
                                target: '#pilots-list',
                            }}
                        />
                    </PilotsList>
                    :
                    <PilotsList
                        pilots={pilots}
                        readonly={readonly}
                    />
                }
            </ComponentBlock>

            {is_fleet_pilot &&
                <ComponentBlock
                    width='narrow'
                >
                    <PushNotifications notification_subscriptions={notification_subscriptions} />
                </ComponentBlock>
            }

            <ComponentBlock
                width='narrow'
            >
                <Flexblock gap='var(--space-l)' class="[ w-full ]">
                    <h2>{t('reset_suppress_message_settings')}</h2>

                    <FlexInline x-init="$el.remove()" class="[ items-center py-[var(--space-s)] ]" gap='var(--space-3xs)'>
                        <RifterIcon class="small" />
                        <p class="[ loading ]">{t('loading')}</p>
                    </FlexInline>

                    <div
                        x-data={`{ show: false }`}
                        x-show="show"
                        x-init="show = true"
                        style="display: none;"
                    >
                        <BlockList
                            gap='var(--space-l)'
                            class="[ w-full ]"
                        >
                            <div 
                                x-data={`{
                                    show_rendering_options: $persist(),
                                }`}
                                x-show="!show_rendering_options"
                            >
                                <FlexInline
                                    justification='space-between'
                                    width='100px'
                                >
                                    <TextGroup title={t('disable_ships_renders_prompt')}>
                                        <small>{t('disable_ships_renders_prompt_description')}</small>
                                    </TextGroup>
                                    
                                    <Button
                                        size='sm'
                                        x-on:click=`show_rendering_options = true`
                                    >
                                        {t('reset')}
                                    </Button>
                                </FlexInline>
                            </div>
                            <p class="[ no-options-text ]">{t('no_options_to_reset')}</p>
                        </BlockList>
                    </div>
                </Flexblock>
            </ComponentBlock>

            <Context>
                <ComponentBlock
                    width='narrow'
                    x-data={`{
                        danger_zone_enable: false,
                    }`}
                >
                    <Flexblock gap='var(--space-l)' class="[ w-full ]">
                        <h2>{t('danger_zone')}</h2>

                        <SwitchSquare
                            class="[ w-full ]"
                            x-model="danger_zone_enable"
                            label={t('enable_danger_zone_switch_title')}
                            description={t('enable_danger_zone_switch_description')}
                        />

                        <DisableBlock x_model="danger_zone_enable">
                            <FlexInline
                                justification='space-between'
                                x-data={`{                                                
                                    async delete_account(proceed) {
                                        if (!proceed) return
                                        
                                        const response = await fetch(
                                            '${DELETE_ACCOUNT_URL}', {
                                                method: 'DELETE'
                                            }
                                        )

                                        if (!response.ok) {
                                            show_alert_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_error')}'
                                            })
                                            return
                                        }

                                        const json = await response.json()
                                        if (json.redirect)
                                            navigate(json.redirect)
                                    }
                                }`}
                            >
                                <TextGroup title={t('unregister_account')}>
                                    <small>{t('unregister_account_description')}</small>
                                </TextGroup>
                                <Button
                                    type="button"
                                    size='sm'
                                    x-data={`{
                                        show_unregister_account_dialog() {
                                            show_confirm_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_dialog_text')}'
                                            }).then( (accepted) => delete_account(accepted) )
                                        }
                                    }`}
                                    x-on:click="show_unregister_account_dialog()"
                                >
                                    {t('unregister')}
                                </Button>
                            </FlexInline>
                        </DisableBlock>
                    </Flexblock>
                </ComponentBlock>
            </Context>
        </Flexblock>
    </PageDefault>
</Viewport>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }

    :not([style="display: none;"]) + .no-options-text {
        display: none;
    }
</style>