---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

if (!auth_token || !user) {
    Astro.cookies.set('redirect_after_auth', Astro.url.href, { path: '/' })
    return Astro.redirect(get_auth_url())
}

import { semantic_list } from '@helpers/array';

let roles:string[] = []
if (user.is_superuser) roles.push(t('administrator'))
if (user.is_staff) roles.push(t('director'))
const roles_semantic_list:string = (roles.length > 0 ? semantic_list(lang, roles) : t('no_roles_assigned'))

import type { Character } from '@dtypes/api.minmatar.org'
import { get_characters } from '@helpers/api.minmatar.org/characters'

let pilots:Character[] = []
let get_characters_error:string | false = false
let readonly = false
try {
    pilots = await get_characters(auth_token);
} catch (error) {
    get_characters_error = (is_prod_mode() ? t('get_characters_error') : error.message)
    readonly = true
}

import { get_app_url } from '@helpers/env'
const DELETE_ACCOUNT_URL = `${get_app_url()}/api/auth`
const CLEAR_ACCOUNT_CACHE_URL = `${get_app_url()}/api/cache`
const PILOTS_LIST_PARTIAL_URL = `${get_app_url()}/partials/pilots_list_component/`

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Context from '@components/layout/Context.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import TextGroup from '@components/blocks/TextGroup.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';

import PilotsList from '@components/blocks/PilotsList.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import DisableBlock from '@components/blocks/DisableBlock.astro';
import Button from '@components/blocks/Button.astro';
import SwitchSquare from '@components/blocks/SwitchSquare.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';

import LogoutIcon from '@components/icons/buttons/LogoutIcon.astro';

const page_title = t('account.page_title');
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true
    }}
>
    <PageDefault
        cover={{
            image: "/images/account-cover.jpg",
            image_990: "/images/account-cover-990.jpg",
            alt: t('account.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between'>
            <PageTitle>
                {page_title}
            </PageTitle>
            <FlexInline>
                <Button class="[ !hidden md:!flex ]" href={translatePath('/auth/logout/')}>
                    <LogoutIcon slot="icon" />
                    {t('logout')}
                </Button>
            </FlexInline>
        </FlexInline>
        
        <Context>            
            <ComponentBlock width='narrow'>
                <FlexInline gap="var(--space-3xl)" justification='space-between'>
                    <FlexInline gap="var(--space-3xl)">
                        <VerticalCenter>
                            <TextGroup title={t('account_name')}>
                                {user.username}
                            </TextGroup>
                        </VerticalCenter>
                        <VerticalCenter>
                            <TextGroup title={t('roles')}>
                                {roles_semantic_list}
                            </TextGroup>
                        </VerticalCenter>
                    </FlexInline>
                    <VerticalCenter>
                        <Button
                            size='sm'
                            type="button"
                            x-bind:disabled="disabled"
                            x-data={`{
                                disabled: false,
                                async clear_cache() {
                                    this.disabled = true
                                    
                                    await fetch(
                                        '${CLEAR_ACCOUNT_CACHE_URL}', {
                                            method: 'DELETE'
                                        }
                                    )

                                    navigate('${translatePath('/account')}')
                                }
                            }`}
                            x-on:click="clear_cache()"
                        >
                            {t('clear_account_cache')}
                        </Button>
                    </VerticalCenter>
                </FlexInline>
            </ComponentBlock>

            <ComponentBlock 
                width='narrow'
                x-data={`{
                    remove_request_ongoing: [],
                    start_remove_animation(character_id) {
                        if (!character_id) return
                        this.remove_request_ongoing.push(character_id)
                    },
                    stop_remove_animation(character_id) {
                        if (!character_id) return
                        this.remove_request_ongoing = this.remove_request_ongoing.filter(value => value !== character_id)
                    },
                }`}
            >
                {get_characters_error ?
                    <PilotsList
                        pilots={pilots}
                        readonly={readonly}
                    >
                        <ErrorRefetch
                            args={{
                                partial: PILOTS_LIST_PARTIAL_URL,
                                message: get_characters_error,
                                delay: 0,
                                target: '#pilots-list',
                            }}
                        />
                    </PilotsList>
                    :
                    <PilotsList
                        pilots={pilots}
                        readonly={readonly}
                    />
                }
            </ComponentBlock>

            <Context>
                <ComponentBlock
                    width='narrow'
                    x-data={`{
                        danger_zone_enable: false,
                    }`}
                >
                    <Flexblock gap='var(--space-l)' class="[ w-full ]">
                        <h2>{t('danger_zone')}</h2>

                        <SwitchSquare
                            class="[ w-full ]"
                            x-model="danger_zone_enable"
                            label={t('enable_danger_zone_switch_title')}
                            description={t('enable_danger_zone_switch_description')}
                        />

                        <DisableBlock x_model="danger_zone_enable">
                            <FlexInline
                                justification='space-between'
                                x-data={`{                                                
                                    async delete_account(proceed) {
                                        if (!proceed) return
                                        
                                        const response = await fetch(
                                            '${DELETE_ACCOUNT_URL}', {
                                                method: 'DELETE'
                                            }
                                        )

                                        if (!response.ok) {
                                            show_alert_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_error')}'
                                            })
                                            return
                                        }

                                        const json = await response.json()
                                        if (json.redirect)
                                            navigate(json.redirect)
                                    }
                                }`}
                            >
                                <TextGroup title={t('unregister_account')}>
                                    {t('unregister_account_description')}
                                </TextGroup>
                                <Button
                                    type="button"
                                    size='sm'
                                    x-data={`{
                                        show_unregister_account_dialog() {
                                            show_confirm_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_dialog_text')}'
                                            }).then( (accepted) => delete_account(accepted) )
                                        }
                                    }`}
                                    x-on:click="show_unregister_account_dialog()"
                                >
                                    {t('unregister')}
                                </Button>
                            </FlexInline>
                        </DisableBlock>
                    </Flexblock>
                </ComponentBlock>
            </Context>
        </Context>

    </PageDefault>
</Viewport>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }
</style>