---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

if (!user) return Astro.redirect(`${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`)

import { semantic_list } from '@helpers/array';

let roles:string[] = []
if (user.is_superuser) roles.push(t('administrator'))
if (user.is_staff) roles.push(t('director'))
const roles_semantic_list:string = (roles.length > 0 ? semantic_list(lang, roles) : t('default'))

import type { SummaryCharacter, Player } from '@dtypes/api.minmatar.org'
import type { NotificationSubscription, CharacterErrorUI } from '@dtypes/layout_components'
import { get_characters_summary_sorted, get_character_error_ui } from '@helpers/fetching/characters'
import { get_current_player } from '@helpers/api.minmatar.org/players'
import { get_user_subscriptions } from '@helpers/api.minmatar.org/notifications'

let user_permissions:string[] = []
let pilots:SummaryCharacter[] = []
let get_characters_error:string | false = false
let readonly = false
let notification_subscriptions:NotificationSubscription[] = []
let readiness_character_id = 0
let character_errors:CharacterErrorUI[] = []
let current_player:Player | null = null

import { get_user_permissions } from '@helpers/permissions'

try {
    user_permissions = await get_user_permissions(user?.username)
    const character_summary = await get_characters_summary_sorted(auth_token as string)
    pilots = character_summary.characters ?? []
    character_errors = get_character_error_ui(pilots)
    current_player = await get_current_player(auth_token as string)

    if (user_permissions.includes('eveonline.add_evecharactertag'))
        readiness_character_id = pilots[0]?.character_id ?? 0

    if (readiness_character_id === 0)
        character_errors = character_errors.filter(character_error => character_error.error !== 'NO_TAGS')
} catch (error) {
    get_characters_error = (prod_error_messages() ? t('get_characters_error') : error.message)
    readonly = true
}

try {
    if (user_permissions.includes('subscriptions.add_usersubscription'))
        notification_subscriptions = await get_user_subscriptions(auth_token as string, user.user_id)
} catch (error) {
    console.log(error)
}

const DELETE_ACCOUNT_URL = translatePath('/api/auth')
const CLEAR_ACCOUNT_CACHE_URL = translatePath('/api/cache')
const PILOTS_LIST_PARTIAL_URL = translatePath('/partials/pilots_list_component/')
const REFRESH_DISCORD_ROLES_PARTIAL_URL = `${translatePath('/partials/refresh_discord_roles_component/')}?is_friend=false`

const fix_esi_token_error = Astro.url.searchParams.get('error') as string

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Context from '@components/layout/Context.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import BlockList from '@components/compositions/BlockList.astro';

import TextGroup from '@components/blocks/TextGroup.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import Tippy from '@components/blocks/Tippy.astro';

import PilotsList from '@components/blocks/PilotsList.astro';
import Mumble from '@components/blocks/Mumble.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import PushNotifications from '@components/blocks/PushNotifications.astro';
import DisableBlock from '@components/blocks/DisableBlock.astro';
import Button from '@components/blocks/Button.astro';
import SwitchSquare from '@components/blocks/SwitchSquare.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import CopyToken from '@components/blocks/CopyToken.astro';
import PilotReadinessBanner from '@components/blocks/PilotReadinessBanner.astro'
import CharacterErrors from '@components/blocks/CharacterErrors.astro'
import PrimeTimezone from '@components/blocks/PrimeTimezone.astro'

import LogoutIcon from '@components/icons/buttons/LogoutIcon.astro';
import RifterIcon from '@components/icons/RifterIcon.astro';

const page_title = t('account.page_title');
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
        modal: true
    }}
>
    <PageDefault
        cover={{
            image: "/images/account-cover.jpg",
            image_990: "/images/account-cover.jpg",
            scrollable: true,
            overlay: true
        }}
        x-init={`set_character_errors_count(${character_errors.length})`}
    >        
        {fix_esi_token_error &&
            <div class="[ toast ][ animate-fade-in-up ]" set:html={t(fix_esi_token_error as any)} x-on:click="$el.remove()"></div>
        }

        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <PageTitle>
                {page_title}
            </PageTitle>
            <FlexInline>
                <Button href={translatePath('/auth/logout/')}>
                    <LogoutIcon slot="icon" />
                    {t('logout')}
                </Button>
            </FlexInline>
        </FlexInline>

        <FlexInline slot="subheader">
            <Button
                href={translatePath('/account/referrals/')}
                size='sm'
            >
                {t('referral_links')}
            </Button>
            <Button
                href="https://wiki.minmatar.org/en/guides/account-issues"
                size='sm'
                external={true}
            >
                {t('troubleshooting')}
            </Button>
        </FlexInline>
        
        <Flexblock>            
            <ComponentBlock width='narrow'>
                <FlexInline justification='space-between'>
                    <VerticalCenter>
                        <TextGroup title={t('account_name')}>
                            <FlexInline slot="outside" gap='var(--space-2xs)'>{user.username} <CopyToken /></FlexInline>
                        </TextGroup>
                    </VerticalCenter>
                    <VerticalCenter>
                        <TextGroup title={t('status')}>
                            {roles_semantic_list}
                        </TextGroup>
                    </VerticalCenter>
                    <FlexInline class="[ items-center ]">
                        <Button
                            size='sm'
                            type="button"
                            hx-post={REFRESH_DISCORD_ROLES_PARTIAL_URL}
                            hx-swap="outerHTML transition:true"
                            hx-on--before-request="this.setAttribute('disabled','');"
                            hx-on--after-request="this.removeAttribute('disabled')"
                        >
                            {t('refresh_discord_roles')}
                        </Button>
                        <Tippy
                            data-tippy-placement="top"
                            partial={`${translatePath('/partials/normal_tooltip')}?description=clear_cache_description`}
                            height='70px'
                            width='340px'
                            element='div'
                            show_delay={2000}
                        >
                            <Button
                                size='sm'
                                type="button"
                                x-bind:disabled="disabled"
                                x-data={`{
                                    disabled: false,
                                    async clear_cache() {
                                        this.disabled = true
                                        
                                        await fetch(
                                            '${CLEAR_ACCOUNT_CACHE_URL}', {
                                                method: 'DELETE'
                                            }
                                        )

                                        navigate('${translatePath('/account/')}')
                                    }
                                }`}
                                x-on:click="clear_cache()"
                            >
                                {t('clear_account_cache')}
                            </Button>
                        </Tippy>
                    </FlexInline>
                </FlexInline>
            </ComponentBlock>

            {user_permissions.includes('mumble.view_mumbleaccess') &&
                <Mumble />
            }

            <Context>
                {character_errors.length > 0 &&
                    <CharacterErrors character_errors={character_errors} />
                }

                {readiness_character_id > 0 &&
                    <PilotReadinessBanner main_character_id={readiness_character_id} />
                }

                {readiness_character_id > 0 && current_player &&
                    <ComponentBlock width='narrow'>
                        <PrimeTimezone
                            prime_time={current_player.prime_time}
                            nickname={current_player.nickname}
                        />
                    </ComponentBlock>
                }

                <ComponentBlock 
                    width='narrow'
                    x-data={`{
                        remove_request_ongoing: [],
                        start_remove_animation(character_id) {
                            if (!character_id) return
                            this.remove_request_ongoing.push(character_id)
                        },
                        stop_remove_animation(character_id) {
                            if (!character_id) return
                            this.remove_request_ongoing = this.remove_request_ongoing.filter(value => value !== character_id)
                        },
                    }`}
                >
                    {get_characters_error ?
                        <PilotsList
                            pilots={pilots}
                            readonly={readonly}
                        >
                            <ErrorRefetch
                                args={{
                                    partial: PILOTS_LIST_PARTIAL_URL,
                                    message: get_characters_error,
                                    delay: 0,
                                    target: '#pilots-list',
                                }}
                            />
                        </PilotsList>
                        :
                        <PilotsList
                            pilots={pilots}
                            readonly={readonly}
                        />
                    }
                </ComponentBlock>

                <ComponentBlock width='narrow'>
                    <Flexblock gap="var(--space-3xs)">
                        <a
                            href="https://developers.eveonline.com/authorized-apps"
                            target="_blank"
                            rel="nofollow noopener noreferrer"
                        >
                            {t('auth_third_party_link_link')}
                        </a>
                        <small>{t('auth_third_party_link_description')}</small>
                    </Flexblock>
                </ComponentBlock>
            </Context>

            {user_permissions.includes('subscriptions.add_usersubscription') &&
                <ComponentBlock width='narrow'>
                    <PushNotifications notification_subscriptions={notification_subscriptions} />
                </ComponentBlock>
            }

            <ComponentBlock width='narrow'>
                <Flexblock gap='var(--space-l)' class="[ w-full ]">
                    <h2>{t('reset_suppress_message_settings')}</h2>

                    <FlexInline x-init="$el.remove()" class="[ items-center ]" gap='var(--space-3xs)'>
                        <RifterIcon class="small" />
                        <p class="[ loading ]">{t('loading')}</p>
                    </FlexInline>

                    <div
                        x-data={`{ show: false }`}
                        x-show="show"
                        x-init="show = true"
                        style="display: none;"
                    >
                        <BlockList
                            gap='var(--space-l)'
                            class="[ w-full ]"
                        >
                            <div 
                                x-data={`{
                                    show_rendering_options: $persist(true),
                                }`}
                                x-show="!show_rendering_options"
                            >
                                <FlexInline>
                                    <div class="basis-[450px]">
                                        <TextGroup title={t('disable_ships_renders_prompt')}>
                                            <small>{t('disable_ships_renders_prompt_description')}</small>
                                        </TextGroup>
                                    </div>
                                    
                                    <Button
                                        size='sm'
                                        x-on:click=`show_rendering_options = true`
                                    >
                                        {t('reset')}
                                    </Button>
                                </FlexInline>
                            </div>
                            <div 
                                x-data={`{
                                    hide_external_link_disclaimer: $persist(false),
                                }`}
                                x-show="hide_external_link_disclaimer"
                            >
                                <FlexInline>
                                    <div class="basis-[450px]">
                                        <TextGroup title={t('disable_external_link_prompt')}>
                                            <small>{t('disable_external_link_prompt_description')}</small>
                                        </TextGroup>
                                    </div>
                                    
                                    <Button
                                        size='sm'
                                        x-on:click=`hide_external_link_disclaimer = false`
                                    >
                                        {t('reset')}
                                    </Button>
                                </FlexInline>
                            </div>
                            <p class="[ no-options-text ]">{t('no_options_to_reset')}</p>
                        </BlockList>
                    </div>
                </Flexblock>
            </ComponentBlock>

            <Context>
                <ComponentBlock
                    width='narrow'
                    x-data={`{
                        danger_zone_enable: false,
                    }`}
                >
                    <Flexblock gap='var(--space-l)' class="[ w-full ]">
                        <h2>{t('danger_zone')}</h2>

                        <SwitchSquare
                            class="[ w-full ]"
                            x-model="danger_zone_enable"
                            label={t('enable_danger_zone_switch_title')}
                            description={t('enable_danger_zone_switch_description')}
                        />

                        <DisableBlock x_model="danger_zone_enable">
                            <FlexInline
                                justification='space-between'
                                x-data={`{                                                
                                    async delete_account(proceed) {
                                        if (!proceed) return
                                        
                                        const response = await fetch(
                                            '${DELETE_ACCOUNT_URL}', {
                                                method: 'DELETE'
                                            }
                                        )

                                        if (!response.ok) {
                                            show_alert_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_error')}'
                                            })
                                            return
                                        }

                                        const json = await response.json()
                                        if (json.redirect)
                                            navigate(json.redirect)
                                    }
                                }`}
                            >
                                <TextGroup title={t('delete_account_title')}>
                                    <small>{t('unregister_account_description')}</small>
                                </TextGroup>
                                <Button
                                    type="button"
                                    size='sm'
                                    x-data={`{
                                        show_unregister_account_dialog() {
                                            show_confirm_dialog({
                                                title: '${t('delete_account_dialog_title')}',
                                                content: '${t('delete_account_dialog_text')}'
                                            }).then( (accepted) => delete_account(accepted) )
                                        }
                                    }`}
                                    x-on:click="show_unregister_account_dialog()"
                                >
                                    {t('delete_account')}
                                </Button>
                            </FlexInline>
                        </DisableBlock>
                    </Flexblock>
                </ComponentBlock>
            </Context>
        </Flexblock>
    </PageDefault>
</Viewport>

<script is:inline>
    const show_rendering_options = localStorage.getItem('_x_show_rendering_options')
    
    if (show_rendering_options === 'undefined') {
        localStorage.setItem('_x_show_rendering_options', 'true')
        location.reload()
    }
</script>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }

    :not([style="display: none;"]) ~ .no-options-text {
        display: none;
    }
</style>