---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import AllianceReel from '@components/blocks/AllianceReel.astro';
import TutorialBadge from '@components/blocks/TutorialBadge.astro';
import Button from '@components/blocks/Button.astro';
import FlexInline from '@components/compositions/FlexInline.astro'

const page_title = t('alliance.page_title');
const leading_text = t('alliance.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('alliance.meta_description')}
    components={{
        modal: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-text-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                    <p class="[ excerpt ]">{leading_text}</p>
                </Flexblock>
            </Wrapper>
            
            <AllianceReel />
        </Flexblock>
    </PageLanding>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    h3 {
        font-size: var(--step-1);
    }
</style>