---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token')?.value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { is_officer, is_director } from '@helpers/fetching/groups'

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_view_applications = is_superuser || user_permissions.includes('applications.change_evecorporationapplication')
const can_view_corp_members = is_superuser || user_permissions.includes('eveonline.view_evecorporation')
const user_is_officer = (auth_token && user ? await is_officer(auth_token, user.user_id) : false)
const user_is_director = (auth_token && user ? await is_director(auth_token, user.user_id) : false)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import AllianceReel from '@components/blocks/AllianceReel.astro';
import TutorialBadge from '@components/blocks/TutorialBadge.astro';
import Button from '@components/blocks/Button.astro';
import FlexInline from '@components/compositions/FlexInline.astro'

const page_title = t('alliance.page_title');
const leading_text = t('alliance.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('alliance.meta_description')}
    components={{
        modal: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-text-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                    <p class="[ excerpt ]">{leading_text}</p>
                </Flexblock>
            </Wrapper>
            
            <AllianceReel
                can_view_applications={can_view_applications}
                user_is_officer={user_is_officer}
                user_is_director={user_is_director}
                can_view_corp_members={can_view_corp_members}
                is_superuser={is_superuser}
            />

            <TutorialBadge>
                <FlexInline class="[ items-center! ]">
                    <Flexblock gap='var(--space-3xs)' class="[ basis-[650px] ]">
                        <h4>{t('propaganda_new_page')}</h4>
                        <small>{t('propaganda_new_page_description')}</small>
                    </Flexblock>
                    <Button size='sm' href={translatePath('/propaganda')}>{t('browse')}</Button>
                </FlexInline>
            </TutorialBadge>
        </Flexblock>
    </PageLanding>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    h3 {
        font-size: var(--step-1);
    }
</style>