---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { query_string } from '@helpers/string';

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { is_officer, is_director } from '@helpers/fetching/groups'

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_view_applications = is_superuser || user_permissions.includes('auth.change_evecorporationapplication')
const can_view_corp_members = is_superuser || user_permissions.includes('eveonline.view_evecorporation')
const user_is_officer = (auth_token && user ? await is_officer(auth_token, user.user_id) : false)
const user_is_director = (auth_token && user ? await is_director(auth_token, user.user_id) : false)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import AllianceReel from '@components/blocks/AllianceReel.astro';
// import AllianceBento from '@components/blocks/AllianceBento.astro';

const page_title = t('alliance.page_title');
const page_description = t('alliance.leading_text');
---

<Viewport
    title={page_title}
    meta_description={page_description}
    components={{
        modal: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover-990.jpg",
            alt: t('alliance.cover_alt'),
            overlay: true
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-landing-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock>
                    <h1>{page_title}</h1>
                    <p>{page_description}</p>
                </Flexblock>
            </Wrapper>
            
            <AllianceReel
                can_view_applications={can_view_applications}
                user_is_officer={user_is_officer}
                user_is_director={user_is_director}
                can_view_corp_members={can_view_corp_members}
                is_superuser={is_superuser}
            />
        </Flexblock>

        <small class="[ cover-credits ][ hidden lg:block ]">
            {t('alliance.cover_credits')}
            <span
                x-data={`{
                    show_character_modal() {
                        show_modal({
                            partial: '${translatePath('/partials/character_modal_component/')}?${query_string({
                                character_id: '2120834555',
                            })}',
                        })
                    }
                }`}
                x-on:click="show_character_modal()"
            >Faye Vaelent</span>.
        </small>
    </PageLanding>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }
</style>