---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'
import { query_string } from '@helpers/string';

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token')?.value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { is_officer, is_director } from '@helpers/fetching/groups'
import type { PostListUI } from '@dtypes/layout_components'
import { fetch_posts } from '@helpers/fetching/posts'

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_view_applications = is_superuser || user_permissions.includes('applications.change_evecorporationapplication')
const can_view_corp_members = is_superuser || user_permissions.includes('eveonline.view_evecorporation')
const user_is_officer = (auth_token && user ? await is_officer(auth_token, user.user_id) : false)
const user_is_director = (auth_token && user ? await is_director(auth_token, user.user_id) : false)

let posts:PostListUI[] = []
let total_posts:number = 0
const PAGE_LENGTH = 9
let total_pages:number = 0
let post_fetching_error:string | false = false

try {
    const paginated_posts = await fetch_posts({
        page: 1,
        page_length: PAGE_LENGTH,
    })

    posts = paginated_posts.chunk
    total_posts = paginated_posts.total
    total_pages = Math.ceil(total_posts/PAGE_LENGTH)
} catch (error) {
    post_fetching_error = prod_error_messages() ? t('fetch_doctrines_error') : error.message
}

const POSTS_LIST_PARTIAL_URL = `${translatePath('/partials/posts_list_component')}?page=1`

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import AllianceReel from '@components/blocks/AllianceReel.astro';
import PostsList from '@components/blocks/PostsList.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';

const page_title = t('alliance.page_title');
const leading_text = t('alliance.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('alliance.meta_description')}
    components={{
        modal: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/alliance-cover.jpg",
            image_990: "/images/alliance-cover-990.jpg",
            alt: t('alliance.cover_alt'),
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-landing-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <h1>{page_title}</h1>
                    <p>{leading_text}</p>
                </Flexblock>
            </Wrapper>
            
            <AllianceReel
                can_view_applications={can_view_applications}
                user_is_officer={user_is_officer}
                user_is_director={user_is_director}
                can_view_corp_members={can_view_corp_members}
                is_superuser={is_superuser}
            />

            
            <Flexblock gap='var(--space-l)'>
                <h2>{t('news_timeline')}</h2>
                <TextBox>
                    <p>{t('news_timeline_description')}</p>
                </TextBox>
            </Flexblock>
            {post_fetching_error ?
                <ErrorRefetch
                    args={{
                        partial: POSTS_LIST_PARTIAL_URL,
                        message: post_fetching_error,
                        delay: 0,
                    }}
                />
                :
                posts.length > 0 ?
                    <PostsList posts={posts} total_pages={total_pages} current_page={1} /> :
                    t('no_posts')
            }
        </Flexblock>

        <small class="[ cover-credits ][ hidden lg:block ]">
            {t('alliance.cover_credits')}
            <span
                x-data={`{
                    show_character_modal() {
                        show_modal({
                            partial: '${translatePath('/partials/character_modal_component/')}?${query_string({
                                character_id: '2120834555',
                            })}',
                        })
                    }
                }`}
                x-on:click="show_character_modal()"
            >Faye Vaelent</span>.
        </small>
    </PageLanding>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    h3 {
        font-size: var(--step-1);
    }
</style>