---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

if (is_prod_mode())
    return HTTP_404_Not_Found()

import Flexblock from '@components/compositions/Flexblock.astro';
import Viewport from '@layouts/Viewport.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import PageCover from '@components/page/PageCover.astro';

const page_title = t('contracts.page_title');
const page_description = t('contracts.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageCover
        image="/images/contract-service-cover.jpg"
        image_990="/images/contract-service-cover-990.jpg"
        alt={t('contracts.cover_alt')}
        overlay={true}
    />

	<main id="content">
		<Wrapper max_width="var(--max-text-width)" neocom={true}>
            <Flexblock gap='var(--space-2xl)'>
                <Flexblock>
                    <h1>{page_title}</h1>
                    <p>{page_description}</p>
                </Flexblock>
            </Flexblock>
		</Wrapper>
	</main>
</Viewport>

<style lang="scss">
</style>