---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

const user_is_superadmin = (auth_token && user ? user.is_superuser : false)

import type { StaggeringType } from '@dtypes/layout_components'

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import FluidFixed from '@components/compositions/FluidFixed.astro';

import StationAssets from '@components/blocks/StationAssets.astro';
import WatermellonInfo from '@components/blocks/WatermellonInfo.astro';
import AugaInfo from '@components/blocks/AugaInfo.astro';
import YishinoonInfo from '@components/blocks/YishinoonInfo.astro';
import NakahInfo from '@components/blocks/NakahInfo.astro';
import Input from '@components/blocks/Input.astro';
import HomeCorporations from '@components/blocks/HomeCorporations.astro';
import FleetFeed from '@components/blocks/FleetFeed.astro';
import MediaFeed from '@components/blocks/MediaFeed.astro';
import WikiSmall from '@components/blocks/WikiSmall.astro';
import RatBibbleWidget from '@components/blocks/RatBibbleWidget.astro';
import DiscordSmall from '@components/blocks/DiscordSmall.astro';
import RedditSmall from '@components/blocks/RedditSmall.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import StylessButton from '@components/blocks/StylessButton.astro';
import MetaGuideWidget from '@components/blocks/MetaGuideWidget.astro';

import FleetLogo from '@components/icons/FleetLogo.astro';
import MapEvEIcon from '@components/icons/MapEvEIcon.astro';

import {
	WatermellonXData,
	WatermellonCameraXData,
	AugaMilitiaHQCameraXData,
	AugaMilitiaHQXData,
	SpaceInvadersCameraXData,
	SpaceInvadersXData,
	BananaCameraXData,
	BananaXData,
} from '@components/partials/HomepageRenders.astro';

const RATTINI_TRIBE_ID = 98726134
const BLACK_OMEGA_SECUTIRY_ID = 263585335
const BALLS_DEEP_ID = 98252708

const staggering = Astro.cookies.has('staggering') ? Astro.cookies.get('staggering')?.value as StaggeringType : 'watermellon'

const page_title = t('index.page_title');
const page_description = t('index.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageLanding
        cover={{
            image: staggering === 'auga' ? '/images/home-auga-cover.jpg' :
					staggering === 'yishinoon' ? '/images/home-yishinoon-cover.jpg' :
					staggering === 'nakah' ? '/images/home-nakah-cover.jpg' :
					'/images/home-cover.jpg',
            image_990: staggering === 'auga' ? '/images/home-auga-cover.jpg' :
					   staggering === 'yishinoon' ? '/images/home-yishinoon-cover.jpg' :
					   staggering === 'nakah' ? '/images/home-nakah-cover.jpg' :
					   '/images/home-cover.jpg',
            alt: t('index.cover_alt'),
            animated: false,
        }}
        fullscreen={true}
        wide={true}
		x-data={`{
			show_fleet_feeds: true,
            ${staggering === 'auga' ? AugaMilitiaHQCameraXData :
				staggering === 'yishinoon' ? SpaceInvadersCameraXData :
				staggering === 'nakah' ? BananaCameraXData :
				WatermellonCameraXData
			}
        }`}
        x-effect="update"
    >
        <canvas
            slot="cover"
            id="mainCanvas"
            width="500"
            height="500"
			x-on:scroll.stop
			x-on:mousewheel.stop
            x-data={`{
				${staggering === 'auga' ? AugaMilitiaHQXData :
					staggering === 'yishinoon' ? SpaceInvadersXData :
					staggering === 'nakah' ? BananaXData :
					WatermellonXData
				}
            }`}
			x-on:resize.window.throttle="resizeCanvasToDisplaySize(resize_canvas, ccpwgl_context)"
            x-init="$nextTick(() => init_ccpwgl())"
        />

		<Flexblock 
			class="[ station-info ][ !hidden xl:!block ]"
			gap='0'
		>
			{staggering === 'auga' ? <AugaInfo /> :
				staggering === 'yishinoon' ? <YishinoonInfo /> :
				staggering === 'nakah' ? <NakahInfo /> :
				<WatermellonInfo />
			}
			<FlexInline gap='var(--space-3xs)'>
				{user &&
					<StationAssets
						corporation={
							staggering === 'auga' ? {
								id: RATTINI_TRIBE_ID,
								name: 'Rattini Tribe',
							} : staggering === 'yishinoon' ? {
								id: RATTINI_TRIBE_ID,
								name: 'Rattini Tribe',
							} : staggering === 'nakah' ? {
								id: BALLS_DEEP_ID,
								name: 'Balls Deep Inc.',
							} : {
								id: BLACK_OMEGA_SECUTIRY_ID,
								name: 'Black Omega Security'
							}
						}
						station={
							staggering === 'auga' ? 'Auga - Minmatar Militia HQ' :
							staggering === 'yishinoon' ? 'Yishinoon - Space Invaders' :
							staggering === 'nakah' ? 'Nakah - Banana' :
							'Sosala - WATERMELLON'
						}
					/>
				}
				<a
					class="[ w-[32px] neocom-button ]"
					data-tippy-content={t('view_on_dotlan')}
					href={`https://evemaps.dotlan.net/system/${staggering === 'auga' ? 'Auga' : staggering === 'yishinoon' ? 'Yishinoon' : staggering === 'nakah' ? 'Nakah' : 'Sosala'}`}
					target="_blank"
					rel="nofollow noopener noreferrer"
				>
					<MapEvEIcon />
				</a>
			</FlexInline>
		</Flexblock>

		<VerticalCenter
			class="[ content-section ][ min-h-[100vh] max-w-[48rem] ]"
		>
			<Wrapper
				max_width='48rem'
				padding_inline='0'
				padding_block="var(--space-l)"
			>
				<Flexblock
					gap='var(--space-m)'
					class="[ text-center ]"
				>
					<h1 class="[ flex justify-center ]"><FleetLogo width='256' height='256' /></h1>
					
					<h2 class="[ welcome-heading ]">{t('index.title')}</h2>

					<p>{t('index.leading_text')}</p>

					<FlexInline justification='center'>
						<StylessButton href='#widgets' class="[ caret-down ]" />
					</FlexInline>

					{user_is_superadmin &&
						<Flexblock class="[ camera-controls !hidden ]">
							<Flexblock gap='0'>
								<label for="doctrine">{t('rotation_x')}</label>
								<Input type="number" x-model="rotation_x" step="0.01" />
							</Flexblock>
							<Flexblock gap='0'>
								<label for="doctrine">{t('rotation_y')}</label>
								<Input type="number" x-model="rotation_y" step="0.01" />
							</Flexblock>
						</Flexblock>
					}
				</Flexblock>
			</Wrapper>
		</VerticalCenter>

		<Wrapper
			max_width='90rem'
			padding_inline='0'
			padding_block="0"
			class="[ content-section mt-2 ]"
		>

			<Flexblock
				id="widgets"
				gap='var(--space-3xs)'
				class="[ w-full ]"
				x-intersect:enter="show_fleet_feeds = false"
				x-intersect:leave="show_fleet_feeds = true"
			>
				<FluidFixed
					width='656px'
					gap='var(--space-3xs)'
					breakpoint='49%'
				>
					<Wrapper
						padding_block='0'
						padding_inline='0'
						class="[ relative ]"
						max_width='656px'
					>
						<Flexblock gap='var(--space-3xs)'>
							<HomeCorporations />
							<WikiSmall						
								padding_block='0'
								padding_inline='var(--space-s)'
								class="[ basis-[50%] shrink ]"
							/>
						</Flexblock>
					</Wrapper>

					<Wrapper
						padding_block='0'
						padding_inline='0'
						max_width='656px'
						class="[ relative z-10 ]"
					>
						<MediaFeed />
					</Wrapper>
				</FluidFixed>

				<FluidFixed
					width='656px'
					gap='var(--space-3xs)'
					breakpoint='49%'
					class="[ !items-start ]"
				>
					<MetaGuideWidget />
					<RatBibbleWidget						
						padding_block='0'
						padding_inline='var(--space-s)'
						class="[ basis-[50%] shrink ]"
					/>
				</FluidFixed>
			</Flexblock>

			<Wrapper
				padding_inline="0"
				padding_block="var(--space-3xl)"
				max_width='100%'
				centered={true}
			>
				<Flexblock>
					<FlexInline
						gap='var(--space-l)'
						justification='center'
					>
						<RedditSmall						
							padding_block='0'
							padding_inline='var(--space-s)'
						/>
						<DiscordSmall						
							padding_block='0'
							padding_inline='var(--space-s)'
						/>
					</FlexInline>

					<Wrapper
						padding_inline="0"
						padding_block="0"
						max_width='40rem'
						centered={true}
					>
						<p class="[ ccp-disclaimer ][ text-center ]">{t('ccp_disclaimer')}</p>
					</Wrapper>
				</Flexblock>
			</Wrapper>
		</Wrapper>

		{user &&
			<FleetFeed />
		}
    </PageLanding>
</Viewport>

<style lang="scss">
	.station-info {
		position: fixed;
		top: var(--space-l);
		right: var(--space-xl);
		z-index: 2;
	}

	.ccp-disclaimer {
		font-size: var(--step--2);
	}

	.camera-controls {
		position: fixed;
		top: 60px;
		left: 100px;
		width: 250px;
	}

	.welcome-heading {
		font-size: var(--step-5);
	}

    .left-panel {
        position: absolute;
    }

	.content-section {
		position: relative;
		z-index: 1;
		align-items: center;
	}

	.caret-down {
		transform: rotate(90deg);

		&:before {
			content: 'next';
			color: var(--highlight);
			font-family: swiper-icons;
			font-size: var(--swiper-navigation-size);
			text-transform: none !important;
			letter-spacing: 0;
			font-variant: initial;
			line-height: 1;
		}
	}
</style>

<style is:global>

    #mainCanvas {
        border: none;
        position:fixed;
        width:100%;
        height:100%;
		/*z-index: -1;*/
    }

</style>