---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_valid_user = (user && user.user_id > 0)
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
let is_alliance = false

try {
    const user_permissions = is_valid_user ? await get_user_permissions(user?.username) : []
    is_alliance = user_permissions.includes('eveonline.add_evecharactertag')
} catch (error) {
    console.log(error)
}

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import IndustryTiles from '@components/blocks/IndustryTiles.astro';
import Button from '@components/blocks/Button.astro';

const page_title = t('industry.page_title');
const leading_text = t('industry.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('industry.meta_description')}
>
    <PageLanding
        cover={{
            image: "/images/industry-cover.jpg",
            image_990: "/images/industry-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <FlexInline class="[ !items-start ]" justification='space-between'>
                <TextBox>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                </TextBox>
                {is_alliance &&
                    <FlexInline class="[ !items-start ]">
                        <Button href={translatePath('/industry/industrialists/')}>
                            {t('set_your_industrialists')}
                        </Button>
                    </FlexInline>
                }
            </FlexInline>
            
            <TextBox>
                <p class="[ excerpt ]">{leading_text}</p>
            </TextBox>

            <IndustryTiles is_superuser={is_superuser} />
        </Flexblock>
    </PageLanding>
</Viewport>