---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_view_timers = user_permissions.includes('structures.view_evestructuretimer')
const can_add_moons = user_permissions.includes('moons.add_evemoon')
const can_view_moons = user_permissions.includes('moons.view_evemoon')

if (!is_superuser && !can_view_timers && !can_add_moons)
    return HTTP_404_Not_Found()

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import IntelReel from '@components/blocks/IntelReel.astro';

const page_title = t('intel.page_title');
const leading_text = t('intel.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('intel.meta_description')}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/intel-cover.jpg",
            image_990: "/images/intel-cover-990.jpg",
            alt: t('intel.cover_alt'),
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-landing-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <h1>{page_title}</h1>
                    <p>{leading_text}</p>
                </Flexblock>
            </Wrapper>
            
            <IntelReel can_view_timers={can_view_timers} can_add_moons={can_add_moons} can_view_moons={can_view_moons} is_superuser={is_superuser} />
        </Flexblock>
    </PageLanding>
</Viewport>