---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { prod_error_messages } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

if (!is_superuser && !user_permissions.includes('structures.view_evestructuretimer'))
    return HTTP_404_Not_Found()

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import IntelReel from '@components/blocks/IntelReel.astro';

const page_title = t('intel.page_title');
const page_description = t('intel.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageLanding
        cover={{
            image: "/images/intel-cover.jpg",
            image_990: "/images/intel-cover-990.jpg",
            alt: t('intel.cover_alt'),
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-landing-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <h1>{page_title}</h1>
                    <p>{page_description}</p>
                </Flexblock>
            </Wrapper>
            
            <IntelReel />
        </Flexblock>
    </PageLanding>
</Viewport>