---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { get_market_locations } from '@helpers/api.minmatar.org/locations'
import {
    has_ops_deep_link_params,
    ops_redirect_target,
} from '@helpers/market_ops_redirect'

if (has_ops_deep_link_params(Astro.url.searchParams)) {
    try {
        const locations = await get_market_locations()
        return Astro.redirect(
            ops_redirect_target(translatePath, locations, Astro.url.searchParams),
            301,
        )
    } catch {
        return Astro.redirect(translatePath('/market/ops/'), 301)
    }
}

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import MarketTiles from '@components/blocks/MarketTiles.astro';

const page_title = t('market.page_title');
const leading_text = t('market.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('market.meta_description')}
>
    <PageLanding
        cover={{
            image: "/images/market-cover.jpg",
            image_990: "/images/market-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <TextBox>
                <PageTitle is_landing={true}>{page_title}</PageTitle>
            </TextBox>

            <TextBox>
                <p class="[ excerpt ]">{leading_text}</p>
            </TextBox>
            
            <MarketTiles />
        </Flexblock>
    </PageLanding>
</Viewport>
