---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import ShipsReel from '@components/blocks/ShipsReel.astro';

const page_title = t('ships.page_title');
const page_description = t('ships.leading_text');
---

<Viewport title={page_title} meta_description={page_description}>
    <PageLanding
        cover={{
            image: "/images/fits-cover.jpg",
            image_990: "/images/fits-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-text-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                    <p class="[ excerpt ]">{page_description}</p>
                </Flexblock>
            </Wrapper>

            <ShipsReel />
        </Flexblock>
    </PageLanding>
</Viewport>