---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

if (is_prod_mode())
    return HTTP_404_Not_Found()

// TODO: Replace the static JSON below with the endpoint request using the id
const { id } = Astro.params;
console.log(`TODO: Fetch endpoint with id: ${id}`)
// Replace me 👇
import fit_details from '@json/page/fitting/list/adv-30-arazu.json';

import { get_item_icon_by_name } from '@helpers/eve_image_server';

import Viewport from '@layouts/Viewport.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import Button from '@components/blocks/Button.astro';
import ClipboardIcon from '@components/icons/buttons/ClipboardIcon.astro';
import Fit from '@components/blocks/Fit.astro';

import PageCover from '@components/page/PageCover.astro';
import PageHeader from '@components/page/PageHeader.astro';
import PageTitle from '@components/page/PageTitle.astro';
import PageBody from '@components/page/PageBody.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

const page_title = fit_details.name;
---

<Viewport title={page_title}>
    <PageCover
        image="/images/fits-cover.jpg"
        image_990="/images/fits-cover-990.jpg"
        alt={t('fitting.cover_alt')}
        animated={false}
        scrollable={true}
        overlay={true}
    />

	<main id="content">
        <PageHeader max_width="var(--max-content-width)">
            <FlexInline justification='space-between'>
                <FlexInline>
                    <img height="64" width="64" src={get_item_icon_by_name(fit_details.alt)} alt={fit_details.alt} />
                    <PageTitle>
                        {page_title}
                    </PageTitle>
                </FlexInline>
                <Button onclick="copyFitToClipboard('fit-clipboard', 'Fit copied (EFT Format): ')">
                    <ClipboardIcon slot="icon" />
                    {t('copy_to_clipboard')}
                </Button>
            </FlexInline>
        </PageHeader>

        <PageBody max_width="var(--max-content-width)">
            <Wrapper class="[ !pt-0 ]" max_width="var(--max-text-width)" padding_inline="0" padding_block="0">
                <Flexblock gap="var(--space-xl)">
                    <p>{fit_details.description}</p>
                    
                    <Fit fitting={fit_details.fitting_eft} />
                </Flexblock>
            </Wrapper>
        </PageBody>
	</main>
</Viewport>

<textarea id="fit-clipboard" set:html={fit_details.fitting_eft}></textarea>

<style>
    #fit-clipboard {
        display: none;
    }
</style>