---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

if (is_prod_mode())
    return HTTP_404_Not_Found()

// TODO: Replace the static JSON below with the endpoint request using the id
const { id } = Astro.params;
console.log(`TODO: Fetch endpoint with id: ${id}`)
// Replace me 👇
import fit_details from '@json/page/fitting/list/adv-30-arazu.json';

import { get_item_icon_by_name } from '@helpers/eve_image_server';

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import FlexInline from '@components/compositions/FlexInline.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import Fit from '@components/blocks/Fit.astro';
import Button from '@components/blocks/Button.astro';

import ClipboardIcon from '@components/icons/buttons/ClipboardIcon.astro';

const page_title = fit_details.name;
---

<Viewport title={page_title}>
    <PageDefault
        cover={{
            image: "/images/fits-cover.jpg",
            image_990: "/images/fits-cover-990.jpg",
            alt: t('fitting.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between'>
            <FlexInline>
                <img height="64" width="64" src={get_item_icon_by_name(fit_details.alt)} alt={fit_details.alt} />
                <PageTitle>
                    {page_title}
                </PageTitle>
            </FlexInline>
            <Button onclick="copyFitToClipboard('fit-clipboard', 'Fit copied (EFT Format): ')">
                <ClipboardIcon slot="icon" />
                {t('copy_to_clipboard')}
            </Button>
        </FlexInline>

        <Flexblock gap="var(--space-xl)">
            <TextBox>
                <p>{fit_details.description}</p>
            </TextBox>
            
            <Fit fitting={fit_details.fitting_eft} />
        </Flexblock>
    </PageDefault>
</Viewport>

<textarea id="fit-clipboard" set:html={fit_details.fitting_eft}></textarea>

<style>
    #fit-clipboard {
        display: none;
    }
</style>