---
import { i18n } from '@helpers/i18n'
const { lang, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

interface Props {
    is_landing?:    boolean;
    no_link?:       boolean;
}

const {
    is_landing = false,
    no_link = false,
} = Astro.props

console.log(Astro.url.href)
import { is_referral_url_debug } from '@helpers/fetching/referrals'
const debug = is_referral_url_debug(Astro.url.pathname, lang)

import { is_referral_url } from '@helpers/fetching/referrals'
const is_referral_page = user ? is_referral_url(Astro.url.pathname, lang) : false

const current_page = `${Astro.url.pathname}${Astro.url.search}${Astro.url.hash}`

import FlexInline from '@components/compositions/FlexInline.astro';

import ReferralLink from '@components/blocks/ReferralLink.astro';
---

<FlexInline class="[ page-title ][ !items-center relative ]" gap='var(--space-xs)'>
    {is_referral_page && user &&
        <ReferralLink user_id={user.user_id} />
    }
    <h1 class:list={{ 'is-landing': is_landing }} {...Astro.props}>
        {no_link ?
            <slot /> :
            <a href={translatePath(current_page)}><slot /></a>
        }
    </h1>
</FlexInline>

<style lang="scss">
    h1 {
        font-size: var(--step-1);
        transition: var(--fast-transition);

        &.is-landing {
            font-size: var(--step-5);
        }
    }

    :global(.page-title .referral-link) {
        position: absolute;
        left: -35px;
    }
</style>