---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import { prod_error_messages } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

if (!user)
    return HTTP_404_Not_Found()

const fleet_id = parseInt(Astro.params.fleet_id)

if (isNaN(fleet_id))
    return HTTP_404_Not_Found()

import type { FleetUI, FleetCompositionUI, FleetRadarUI } from '@dtypes/layout_components'
import type { EveCharacterProfile } from '@dtypes/api.minmatar.org'
import { fetch_fleet_by_id, group_members_by_ship, group_members_by_location } from '@helpers/fetching/fleets'
import { get_fleet_members } from '@helpers/api.minmatar.org/fleets'
import { get_user_character } from '@helpers/fetching/characters'
import { get_system_id } from '@helpers/sde/map'

let fetch_fleets_error:string | false = false
let fleet:FleetUI
let user_character:EveCharacterProfile
let fleet_composition:FleetCompositionUI[]
let fleet_radar:FleetRadarUI[]

try {
    fleet = await fetch_fleet_by_id(auth_token as string, fleet_id)
    user_character = await get_user_character(user.user_id)

    const staggering_solar_system = fleet.location.split(' - ')[0]
    const staggering_solar_system_id = await get_system_id(staggering_solar_system)

    const members = await get_fleet_members(auth_token as string, fleet_id)
    fleet_composition = await group_members_by_ship(members)
    fleet_radar = await group_members_by_location(members, staggering_solar_system_id)
} catch (error) {
    console.log(error)
    if (error.message === 'Error fetching fleet: HTTP error! Status: 403')
        return HTTP_404_Not_Found()
    
    fetch_fleets_error = prod_error_messages() ? t('fetch_fleets_error') : error.message
}

const is_fleet_commander = (user_character.character_id === fleet.fleet_commander_id)

const can_remove_fleet = is_superuser ||
                         user_permissions.includes('fleets.delete_evefleet') ||
                         user_character.character_id === fleet.fleet_commander_id

const FLEET_DETAIL_PARTIAL_URL = translatePath(`/partials/fleet_detail_component?fleet_id=${fleet_id}&upcoming=${JSON.stringify(true)}`)

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import FlexInline from '@components/compositions/FlexInline.astro';

import FleetDetails from '@components/blocks/FleetDetails.astro';
import Button from '@components/blocks/Button.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';

import AddIcon from '@components/icons/buttons/AddIcon.astro';
import FleetIcon from '@components/icons/buttons/FleetIcon.astro';

const page_title = `${t('fleet')} ${fleet?.id ?? ''}`;
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageDefault
        cover={{
            image: "/images/fleets-cover.jpg",
            image_990: "/images/fleets-cover-990.jpg",
            alt: t('fleets.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <PageTitle>
                    {page_title}
                </PageTitle>
            </FlexInline>
            <FlexInline>
                <Button class="[ !hidden md:!flex ]" href={translatePath('/fleets/upcoming')}>
                    <FleetIcon slot="icon" />
                    {t('upcoming_fleets')}
                </Button>
                <Button color={'green'} class="[ !hidden lg:!flex ]" href={translatePath('/fleets/add')}>
                    <AddIcon slot="icon" />
                    {t('schedule_fleet')}
                </Button>
            </FlexInline>
        </FlexInline>

        {fetch_fleets_error ?
            <ErrorRefetch
                args={{
                    partial: FLEET_DETAIL_PARTIAL_URL,
                    message: fetch_fleets_error,
                    delay: 0,
                }}
            />
            :
            <FleetDetails
                fleet={fleet}
                can_remove_fleet={can_remove_fleet}
                is_fleet_commander={is_fleet_commander}
                fleet_composition={fleet_composition}
                fleet_radar={fleet_radar}
            />
        }
    </PageDefault>
</Viewport>