---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import Flexblock from '@components/compositions/Flexblock.astro';
import Viewport from '@layouts/Viewport.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FluidFixed from '@components/compositions/FluidFixed.astro';

import PageCover from '@components/page/PageCover.astro';
import VideoWidget from '@components/blocks/VideoWidget.astro';

const page_title = t('intel.tutrial.page_title');
---

<Viewport title={page_title}>
    <PageCover
        image="/images/intel-cover.jpg"
        image_990="/images/intel-cover-990.jpg"
        alt={t('intel.cover_alt')}
        animated={false}
        scrollable={true}
        overlay={true}
    />

	<main id="content">
		<Wrapper max_width="var(--max-content-width)" neocom={true}>
            <FluidFixed class="[ items-center ]" width="var(--max-text-width)" breakpoint="30%" gap="var(--space-2xl-3xl)">
                <Wrapper max_width="var(--max-text-width)" padding_inline="0" padding_block="0">
                    <Flexblock gap="var(--space-l)" class="[ slide-in ]">
                        <h1>{t('intel.tutrial.page_title')}</h1>
                        <p>{t('intel.tutrial.leading_text')}</p>
                    </Flexblock>
                </Wrapper>

                <VideoWidget src='https://www.youtube.com/embed/ANKrefcxGNo?si=Wq9xxKe1UHmFTzy8' credits='BearThatCares'>
            </FluidFixed>
		</Wrapper>
	</main>
</Viewport>

<style lang="scss">
    #content {
        min-height: 100vh;
        display: flex;
        align-items: center;
		position: relative;
    }

	.markdown {
		font-size: var(--step-0);
	}
</style>