---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const middleware_error = Astro.cookies.has('middleware_error') ? Astro.cookies.get('middleware_error').value : false
if (middleware_error) Astro.cookies.delete('middleware_error', { path: '/' })

import { ViewTransitions } from 'astro:transitions';
import Neocom from '@components/blocks/Neocom.astro';

import SkipToContent from '@components/blocks/SkipToContent.astro';
import CoverImagesPreload from '@components/partials/CoverImagesPreload.astro';
import HeadScripts from '@components/partials/HeadScripts.astro';
import FooterScripts from '@components/partials/FooterScripts.astro';
import AlertDialog from '@components/blocks/AlertDialog.astro';
import ConfirmDialog from '@components/blocks/ConfirmDialog.astro';
import Modal from '@components/blocks/Modal.astro';
import PersonaFinder from '@components/blocks/PersonasFinder.astro';
import CorporationFinder from '@components/blocks/CorporationFinder.astro';
import AllianceFinder from '@components/blocks/AllianceFinder.astro';
import {
	AlertDialogXData,
	ConfirmDialogXData,
	ModalXData,
	PersonaFinderXData,
	CorporationFinderXData,
	AllianceFinderXData,
	UtilitiesXData,
	RifterAnimationXData
} from '@components/partials/AlpineScripts.astro';

import type { ViewportComponents } from '@dtypes/layout_components'

interface Props {
	title: 					string;
	meta_image?: 			string;
	meta_description?: 		string;
	neocom?: 				boolean;
	components?:			ViewportComponents;
}

const {
	title,
	meta_image = `${Astro.url.origin}/images/fleet-logo.png`,
	meta_description = t('generic.meta_description'),
	neocom = true,
	components = {},
} = Astro.props

import '@fontsource-variable/montserrat';
import '@fontsource/qahiri';
import 'tippy.js/dist/tippy.css';
import '../styles/base.scss';
import RifterIcon from '@components/icons/RifterIcon.astro';
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		{meta_description && <meta name="description" content={meta_description} />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/fleet-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />

		<meta property="og:title" content={title}>
		{meta_description && <meta property="og:description" content={meta_description} />}
		<meta property="og:image" content={meta_image}>
		<meta property="og:type" content="website">
		<meta property="og:url" content={Astro.url}>
		<meta name="twitter:title" content={title}>
		{meta_description && <meta name="twitter:description" content={meta_description} />}
		<meta name="twitter:image" content={meta_image}>
		<link rel="preload" href="/fonts/norwester-webfont.woff2" as="font" type="font/woff" crossorigin>

		<HeadScripts />
		<CoverImagesPreload />

		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body
		class="[ viewport-layout ]"
		x-data={`{
			${components?.alert_dialog ? AlertDialogXData : ''}
			${components?.confirm_dialog ? ConfirmDialogXData : ''}
			${components?.modal ? ModalXData : ''}
			${components?.personas_finder ? PersonaFinderXData : ''}
			${components?.corporation_finder ? CorporationFinderXData : ''}
			${components?.alliance_finder ? AllianceFinderXData : ''}
            ${UtilitiesXData}
            ${RifterAnimationXData}
		}`}
		x-init="rifter_animation_init"
	>
		<div
			class="[ viewport-layout-inner ]"
			x-bind:inert={`
				${[
					components?.alert_dialog ? 'alert_dialog_open' : false,
					components?.confirm_dialog ? 'confirm_dialog_open' : false,
					components?.personas_finder ? 'personas_finder_open' : false,
					components?.corporation_finder ? 'corporations_finder_open' : false,
					components?.alliance_finder ? 'alliances_finder_open' : false,
				].join(' || ')}
			`}
		>
			<SkipToContent />

			{neocom && <Neocom />}
			<slot />
			<canvas id="confetti-canvas" transition:persist></canvas>
		</div>

		{components?.alert_dialog &&
			<AlertDialog />
		}
		{components?.confirm_dialog &&
			<ConfirmDialog />
		}
		{components?.modal &&
			<Modal />
		}
		{components?.personas_finder &&
			<PersonaFinder />
		}
		{components?.corporation_finder &&
			<CorporationFinder />
		}
		{components?.alliance_finder &&
			<AllianceFinder />
		}

		<FooterScripts />

		{middleware_error &&
			<div class="toast">
				{middleware_error}
			</div>
		}

		<div class="[ hidden ]">
			<RifterIcon x-ref="rifter" />
		</div>
	</body>
</html>

<style is:global lang="scss">
	/* The integration's default injected base.css file */
	@tailwind components;
	@tailwind utilities;

	.toast {
		position: fixed;
		right: var(--space-s);
		bottom: var(--space-s);
		background-color: var(--fleet-red);
		color: var(--foreground);
		padding: var(--space-2xs) var(--space-2xs);
	}

	#confetti-canvas {
		position:fixed;
		inset: 0;
		z-index: 1000;
		width: 100%;
		pointer-events: none;
		height: 100%;
	}
</style>