---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang)

const middleware_error = Astro.cookies.has('middleware_error') ? Astro.cookies.get('middleware_error').value : false
if (middleware_error) Astro.cookies.delete('middleware_error', { path: '/' })

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

import { is_officer, is_director } from '@helpers/fetching/groups'
const user_is_officer = (auth_token && user ? await is_officer(auth_token, user.user_id) : false)
const user_is_director = (auth_token && user ? await is_director(auth_token, user.user_id) : false)
const user_is_superadmin = (auth_token && user ? user.is_superuser : false)

import { ViewTransitions } from 'astro:transitions';
import Neocom from '@components/blocks/Neocom.astro';

import SkipToContent from '@components/blocks/SkipToContent.astro';
import CoverImagesPreload from '@components/partials/CoverImagesPreload.astro';
import HeadScripts from '@components/partials/HeadScripts.astro';
import FooterScripts from '@components/partials/FooterScripts.astro';
import AlertDialog from '@components/blocks/AlertDialog.astro';
import ConfirmDialog from '@components/blocks/ConfirmDialog.astro';
import PersistentModal from '@components/blocks/PersistentModal.astro';
import Modal from '@components/blocks/Modal.astro';
import PersonaFinder from '@components/blocks/PersonasFinder.astro';
import PageFinder from '@components/blocks/PageFinder.astro';
import CorporationFinder from '@components/blocks/CorporationFinder.astro';
import AllianceFinder from '@components/blocks/AllianceFinder.astro';
import {
	AlertDialogXData,
	ConfirmDialogXData,
	ModalXData,
	PersistentModalXData,
	PersonaFinderXData,
	PageFinderXData,
	CharacterFinderXData,
	FittingFinderXData,
	MemberFinderXData,
	CorporationFinderXData,
	AllianceFinderXData,
	UtilitiesXData,
	RifterAnimationXData
} from '@components/partials/AlpineScripts.astro';

import type { ViewportComponents } from '@dtypes/layout_components'

interface Props {
	title: 					string;
	meta_image?: 			string;
	meta_description?: 		string;
	neocom?: 				boolean;
	components?:			ViewportComponents;
}

const {
	title,
	meta_image = `${Astro.url.origin}/images/fleet-logo.png`,
	meta_description = t('generic.meta_description'),
	neocom = true,
	components = {},
} = Astro.props

components.modal = components.modal ?? true

const CHARACTER_FINDER_PARTIAL_URL = translatePath('/partials/character_finder_component')
const MEMBER_FINDER_PARTIAL_URL = translatePath('/partials/member_finder_component')
const FITTING_FINDER_PARTIAL_URL = translatePath('/partials/fitting_finder_component')

import '@fontsource-variable/montserrat';
import '@fontsource/qahiri';
import 'tippy.js/dist/tippy.css';
import '../styles/base.scss';
import RifterIcon from '@components/icons/RifterIcon.astro';
---

<!doctype html>
<html
	lang="en"
	x-data={`{
		${PersistentModalXData}
	}`}
>
	<head>
		<meta charset="UTF-8" />
		{meta_description && <meta name="description" content={meta_description} />}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/fleet-logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />

		<meta property="og:title" content={title}>
		{meta_description && <meta property="og:description" content={meta_description} />}
		<meta property="og:image" content={meta_image}>
		<meta property="og:type" content="website">
		<meta property="og:url" content={Astro.url}>
		<meta name="twitter:title" content={title}>
		{meta_description && <meta name="twitter:description" content={meta_description} />}
		<meta name="twitter:image" content={meta_image}>
		<link rel="preload" href="/fonts/norwester-webfont.woff2" as="font" type="font/woff" crossorigin>

		<HeadScripts />
		<CoverImagesPreload />

		<link rel="manifest" href="/site.webmanifest">
	</head>
	<body
		class="[ viewport-layout ]"
		x-data={`{
			${components?.alert_dialog ? AlertDialogXData : ''}
			${components?.confirm_dialog ? ConfirmDialogXData : ''}
			${components?.modal ? ModalXData : ''}
			${components?.personas_finder ? PersonaFinderXData : ''}
			${components?.corporation_finder ? CorporationFinderXData : ''}
			${components?.alliance_finder ? AllianceFinderXData : ''}
			${components?.modal ? ModalXData : ''}
			${user ? CharacterFinderXData : ''}
			${user_is_officer || user_is_director ? MemberFinderXData : ''}
            ${PageFinderXData}
            ${FittingFinderXData}
            ${UtilitiesXData}
            ${RifterAnimationXData}
		}`}
		x-init="rifter_animation_init"
	>
		<div
			class="[ viewport-layout-inner ]"
			x-bind:inert={`
				${[
					components?.alert_dialog ? 'alert_dialog_open' : false,
					components?.confirm_dialog ? 'confirm_dialog_open' : false,
					components?.modal ? 'modal_open' : false,
					'persistent_modal_open',
					components?.personas_finder ? 'personas_finder_open' : false,
					components?.corporation_finder ? 'corporations_finder_open' : false,
					components?.alliance_finder ? 'alliances_finder_open' : false,
					user ? 'characters_finder_open' : false,
					user_is_officer || user_is_director ? 'members_finder_open' : false,
					'fittings_finder_open',
					'pages_finder_open',
				].join(' || ')}
			`}
		>
			<SkipToContent />

			{neocom &&
				<Neocom
					user_is_officer={user_is_officer}
					user_is_director={user_is_director}
					user_is_superadmin={user_is_superadmin}
					authenticated={user !== false}
				/>
			}
			<slot />
			<canvas id="confetti-canvas" transition:persist></canvas>
		</div>

		{components?.alert_dialog &&
			<AlertDialog />
		}
		{components?.confirm_dialog &&
			<ConfirmDialog />
		}
		{components?.modal &&
			<Modal />
		}
		<div transition:persist>
			<PersistentModal />
		</div>
		{components?.personas_finder &&
			<PersonaFinder />
		}
		{components?.corporation_finder &&
			<CorporationFinder />
		}
		{components?.alliance_finder &&
			<AllianceFinder />
		}

		{(user) &&
			<div
				transition:persist
				hx-get={CHARACTER_FINDER_PARTIAL_URL}
				hx-trigger="load"
				hx-indicator=".loader"
			/>
		}

		{(user_is_officer || user_is_director) &&
			<div
				transition:persist
				hx-get={MEMBER_FINDER_PARTIAL_URL}
				hx-trigger="load"
				hx-indicator=".loader"
			/>
		}

		<div
			transition:persist
			hx-get={FITTING_FINDER_PARTIAL_URL}
			hx-trigger="load"
			hx-indicator=".loader"
		/>

		<PageFinder transition:persist />

		{middleware_error &&
			<div class="toast">
				{middleware_error}
			</div>
		}

		<div class="[ hidden ]">
			<RifterIcon x-ref="rifter" />
		</div>

		<FooterScripts />
	</body>
</html>

<style is:global lang="scss">
	/* The integration's default injected base.css file */
	@tailwind components;
	@tailwind utilities;

	.toast {
		position: fixed;
		right: var(--space-s);
		bottom: var(--space-s);
		background-color: var(--fleet-red);
		color: var(--foreground);
		padding: var(--space-2xs) var(--space-2xs);
	}

	#confetti-canvas {
		position:fixed;
		inset: 0;
		z-index: 1000;
		width: 100%;
		pointer-events: none;
		height: 100%;
	}
</style>