---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token').value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

if (!is_superuser && !user_permissions.includes('structures.view_evestructuretimer'))
    return HTTP_404_Not_Found()

import { get_region_systems } from '@helpers/eve'
import { get_system_moons } from '@helpers/api.minmatar.org/moons'
import { find_system_moons } from '@helpers/sde/map'
import type { SystemCardInfo } from '@dtypes/layout_components'

let systems:SystemCardInfo[] = []
let low_sec_systems:SystemCardInfo[]
const BASE_SYSTEM = 'Sosala'
const MAX_RANGE = 1

try {
    systems = await get_region_systems('The Bleak Lands', BASE_SYSTEM)
    /*console.log(systems.length)
    low_sec_systems = systems.filter((system) => (system.security.toFixed(1) > '0.1' && system.security.toFixed(1) < '0.5'))*/
    low_sec_systems = await Promise.all(systems.map(async (system) => {
        system.moons_count = (await find_system_moons(system.system_name)).length
        return system
    }))

    low_sec_systems = low_sec_systems.filter((system) => system.moons_count > 0)

    low_sec_systems = await Promise.all(low_sec_systems.map(async (system) => {
        const moons = await get_system_moons(system.system_name)
        system.progress = system.moons_count > 0 ? ((moons?.length && 0) / system.moons_count) * 100 : 0
        return system
    }))
} catch (error) {
    console.log(error)
}

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Grid from '@components/compositions/Grid.astro';
import BlockList from '@components/compositions/BlockList.astro';

import FindSystemButton from '@components/blocks/FindSystemButton.astro';
import AddMoonButton from '@components/blocks/AddMoonButton.astro';
import SystemCard from '@components/blocks/SystemCard.astro'

const page_title = t('intel.moon_tracking.page_title');
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
    }}
>
    <PageWide
        cover={{
            image: "/images/moon-tracking-cover.jpg",
            image_990: "/images/moon-tracking-cover-900.jpg",
            alt: t('intel.cover_alt'),
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <Flexblock gap="var(--space-3xs)">
                    <PageTitle>
                        {page_title}
                    </PageTitle>
                    <small>{low_sec_systems.length} {t('systems_in_the_region')}</small>
                </Flexblock>
            </FlexInline>
            <FlexInline>
                <FindSystemButton />
                <AddMoonButton />
            </FlexInline>
        </FlexInline>

        <BlockList gap='var(--space-l)'>
            <Grid
                role="list"
                class="[ w-full grid-fill ]"
                min_item_width='240px'
                row_gap='var(--space-3xs)'
                column_gap='var(--space-3xs)'
            >
                {low_sec_systems.map((system) =>
                    <a
                        class="[ fitting-card-container ]"
                        href={translatePath(`/intel/moons/${system.system_id}`)}
                    >
                        <SystemCard system={system} role="listitem" />
                    </a>
                )}
            </Grid>
        </BlockList>
	</PageWide>
</Viewport>