---
import { getLangFromUrl, useTranslations } from '@i18n/utils'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import FixedFluid from '@components/compositions/FixedFluid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import VerticalCenter from '@components/blocks/VerticalCenter.astro';
---

<div>
    <template x-if="assets_style === 'list'">
        <FixedFluid
            width='64px'
            class="[ asset-item ]"
            {...Astro.props}
        >
            <picture>
                <img loading="lazy" x-bind:src="get_item_icon(asset.id)" width="64" height="64" x-bind:alt={'`${asset.name} '+t('icon').toLowerCase()+'`'} />
            </picture>
            <FlexInline justification='space-between'>
                <VerticalCenter>
                    <Flexblock gap='0' class="[ w-full ]">
                        <span x-text={'`${asset.count} x ${asset.name}`'} />
                    </Flexblock>
                </VerticalCenter>
            </FlexInline>
        </FixedFluid>
    </template>

    <template x-if="assets_style === 'icons'">
        <Flexblock class="[ asset-icon ]" centered={true} gap='var(--space-3xs)'>
            <picture>
                <img loading="lazy" x-bind:src="get_item_icon(asset.id)" width="64" height="64" x-bind:alt={'`${asset.name} '+t('icon').toLowerCase()+'`'} />
            </picture>
            <small x-text={'`${asset.name}`'} />
        </Flexblock>
    </template>
</div>

<style lang="scss">
    .asset-icon {
        small {
            height: 40px;
            overflow: hidden;
            text-align: center;
        }
    }
</style>