---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { ButtonColors, ButtonSizes } from '@dtypes/layout_components';

interface Props {
    color?:         ButtonColors;
    size?:          ButtonSizes;
    narrow?:        boolean;
    dialog_title:   string;
}

const {
    color = 'fleet-red',
    size = 'lg',
    narrow = false,
    dialog_title,
} = Astro.props;

const AUTH_REDIRECT_URL = `${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`

import Button from '@components/blocks/Button.astro';
---

<Button
    type="button"
    color={color}
    size={size}
    narrow={narrow}
    x-data={`{
        disabled: false,
        show_auth_request_dialog() {
            this.disabled = true
            
            show_confirm_dialog({
                title: '${dialog_title}',
                partial: '${translatePath('/partials/authentication_missing_dialog/')}'
            }).then( (accepted) => {
                if (accepted)
                    window.location.href = '${AUTH_REDIRECT_URL}'
            })
        }
    }`}
    x-on:click="show_auth_request_dialog()"
    type="button"
>
    <slot />
</Button>