---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { SummaryCharacter } from '@dtypes/api.minmatar.org'
import type { FleetRoles, FleetRolesSubtypes } from '@dtypes/layout_components'

interface Props {
    target:     string;
    title:      string;
    fleet_id:   number;
    pilots:     SummaryCharacter[],
    role:       FleetRoles;
    subtype?:   FleetRolesSubtypes;
    icon?:      number;
    hidden?:    boolean;
    id?:        string;
}

const {
    target,
    title,
    fleet_id,
    pilots,
    role,
    subtype,
    icon,
    hidden = false,
    id,
} = Astro.props

import { query_string } from '@helpers/string';

const FLEET_ROLE_ITEM_PARTIAL_URL = `${translatePath('/partials/fleet_role_item_component/')}`

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import DialogButton from "@components/blocks/DialogButton.astro";
import Button from '@components/blocks/Button.astro';
import CharacterCard from '@components/blocks/CharacterCard.astro';
import LandingSwiper from '@components/blocks/LandingSwiper.astro';
import CorporationBadge from '@components/blocks/CorporationBadge.astro';
import StylessButton from '@components/blocks/StylessButton.astro';

import AddIcon from '@components/icons/buttons/AddIcon.astro';
---

<DialogButton
    id={id ? id : undefined}
    size='sm'
    color='green'
    narrow={true}
    hidden={hidden}
    max_width='820px'
>
    <AddIcon slot="icon" />

    <form
        slot="dialog" 
        hx-post={FLEET_ROLE_ITEM_PARTIAL_URL}
        hx-trigger="submit"
        hx-target={`#${target}`}
        hx-indicator=".loader"
        hx-swap="outerHTML transition:true"
        x-on:submit="close_dialog()"
    >
        <Flexblock gap="var(--space-l)">
            <Flexblock gap="var(--space-s)">
                <Flexblock gap="var(--space-3xs)">
                    <h3>{title}</h3>
                    <small>{t('add_volunteer')}</small>
                </Flexblock>
                
                <Wrapper
                    padding_block='0'
                    padding_inline='var(--space-xl)'
                >
                    <div id={`${target}-swiper`} class="[ swiper ][ w-full pb-10! ]">
                        <LandingSwiper swiper_selector={`#${target}-swiper`}>
                            {pilots.map(pilot =>
                                <div class="[ swiper-slide ]" style="margin-right: 5px">
                                    <StylessButton
                                        hx-post={`${FLEET_ROLE_ITEM_PARTIAL_URL}?${query_string({
                                            id: target,
                                            fleet_id: fleet_id,
                                            character_id: pilot.character_id,
                                            role: role,
                                            ...(subtype && { subtype }),
                                            ...(icon && { icon }),
                                        })}`}
                                        hx-target={`#${target}`}
                                        hx-indicator=".loader"
                                        hx-swap='outerHTML transition:true'
                                        x-on:click="close_dialog()"
                                    >
                                        <CharacterCard
                                            character_id={pilot.character_id}
                                            character_name={pilot.character_name}
                                            inert={true}
                                        >
                                            <Flexblock gap='var(--space-3xs)'>
                                                <h3>{pilot.character_name}</h3>
                                                <CorporationBadge
                                                    corporation={{
                                                        id: pilot.corp_id,
                                                        name: pilot.corp_name,
                                                        size: 'xs',
                                                    }}
                                                    highlight={false}
                                                />
                                            </Flexblock>
                                        </CharacterCard>
                                    </StylessButton>
                                </div>
                            )}
                        </LandingSwiper>
                    </div>

                    <div id={`${target}-swiper-button-prev`} class="[ swiper-button-prev hidden lg:block! ]"></div>
                    <div id={`${target}-swiper-button-next`} class="[ swiper-button-next hidden lg:block! ]"></div>
                </Wrapper>
            </Flexblock>

            <FlexInline justification='flex-end'>
                <Button
                    type="button"
                    size='sm'
                    x-on:click="close_dialog()"
                >
                    {t('close')}
                </Button>
            </FlexInline>
        </Flexblock>
    </form>
</DialogButton>

<style lang="scss">
    h3 {
        font-size: var(--step-1);
    }

    .alliance-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: var(--space-l);

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-button-prev {
        transform: translateY(-1.25rem);
    }

    .swiper-button-next {
        transform: translateY(-1.25rem);
    }

    .swiper-slide {
        width: min(100%, 240px);
    }
</style>