---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { FittingMarketData } from '@dtypes/api.minmatar.org'
import type { ContractMarketLocationUI } from '@dtypes/layout_components';

interface Props {
    active_market_locations_ui:         ContractMarketLocationUI;
    non_active_market_locations_ui:     ContractMarketLocationUI[];
}

const {
    active_market_locations_ui,
    non_active_market_locations_ui,
} = Astro.props

function deduple_market_location_fittings(market_location_fittings:FittingMarketData[]) {
    const active_market_locations_fittings: Record<string,FittingMarketData> = {} 
    market_location_fittings.map(fitting => {
        if (!active_market_locations_fittings[fitting.fitting_id])
            active_market_locations_fittings[fitting.fitting_id] = fitting
        else
            active_market_locations_fittings[fitting.fitting_id].doctrine_name = active_market_locations_fittings[fitting.fitting_id].doctrine_name?.concat(`,${fitting.doctrine_name}`)
    })

    let deduped_active_market_locations_fittings:FittingMarketData[] = []
    for (let id in active_market_locations_fittings)
        deduped_active_market_locations_fittings.push(active_market_locations_fittings[id])

    return deduped_active_market_locations_fittings
}

active_market_locations_ui.fittings = deduple_market_location_fittings(active_market_locations_ui.fittings)

function get_completion(market_location_fittings:FittingMarketData[]) {
    let completion = 0
    let total_expectations = 0

    market_location_fittings.forEach(fitting => {
        if (!fitting.expectation_quantity) return true

        if (fitting.expectation_quantity > 0 && fitting.current_quantity > fitting.expectation_quantity)
            completion += 100
        else if (fitting.expectation_quantity > 0)
            completion += fitting.current_quantity / fitting.expectation_quantity * 100

        total_expectations++
    })

    return total_expectations > 0 ? (completion / total_expectations) : 100
}

active_market_locations_ui.completion = get_completion(active_market_locations_ui.fittings)

const contracts_with_expectations = active_market_locations_ui.fittings.filter(fitting => fitting.expectation_quantity)
const contracts_without_expectations = active_market_locations_ui.fittings.filter(fitting => !fitting.expectation_quantity)

const sorted_contracts_with_expectations = contracts_with_expectations.sort((a, b) => {
    const completion_of_a = (a.expectation_quantity as number) > 0 ? a.current_quantity/(a.expectation_quantity as number)*100 : 0
    const completion_of_b = (b.expectation_quantity as number) > 0 ? b.current_quantity/(b.expectation_quantity as number)*100 : 0
    return completion_of_a - completion_of_b
})
const sorted_contracts_without_expectations = contracts_without_expectations.sort((a, b) => a.current_quantity - b.current_quantity)

let deduped_non_active_market_locations_ui = non_active_market_locations_ui.map(non_active_market_location => {
    non_active_market_location.fittings = deduple_market_location_fittings(non_active_market_location.fittings)
    return non_active_market_location
})

deduped_non_active_market_locations_ui = deduped_non_active_market_locations_ui.map(non_active_market_location => {
    non_active_market_location.completion = get_completion(non_active_market_location.fittings)
    return non_active_market_location
})

import { query_string } from '@helpers/string';

const REEL_GAP = 80

import Flexblock from '@components/compositions/Flexblock.astro';
import BlockList from '@components/compositions/BlockList.astro';

import ContractMarketFittingCard from '@components/blocks/ContractMarketFittingCard.astro';
import Progress from '@components/blocks/Progress.astro';
import LocationsReel from '@components/blocks/LocationsReel.astro';
import LocationsReelSlide from '@components/blocks/LocationsReelSlide.astro';
---

<Flexblock gap='var(--space-xl)'>
    <LocationsReel gap={REEL_GAP}>
        <LocationsReelSlide gap={REEL_GAP}>
            <Flexblock gap='var(--space-2xs)'>
                <h2>
                    <a href={translatePath(`/market/contracts?${query_string({
                            location_name: active_market_locations_ui.name
                        })}`)}
                    >
                        {active_market_locations_ui.name}
                    </a>
                </h2>
                <Progress
                    class:list={[ 'w-full', { danger: active_market_locations_ui.completion < 30 } ]}
                    max="100"
                    value={active_market_locations_ui.completion > 0 ? active_market_locations_ui.completion : 0.1}
                    data-tippy-content={`${active_market_locations_ui.completion.toFixed(0)}%`}
                >
                    {active_market_locations_ui.completion.toFixed(2)}%
                </Progress>
                <small>{`${active_market_locations_ui.fittings.length} ${active_market_locations_ui.fittings.length != 1 ? t('fittings').toLowerCase() : t('fitting').toLowerCase()}`}</small>
            </Flexblock>
        </LocationsReelSlide>

        {deduped_non_active_market_locations_ui.map(location =>
            <LocationsReelSlide gap={REEL_GAP}>
                <Flexblock gap='var(--space-2xs)'>
                    <h3>
                        <a href={translatePath(`/market/contracts?${query_string({
                                location_name: location.name
                            })}`)}
                        >
                            {location.name}
                        </a>
                    </h3>
                    <Progress
                        class:list={[ 'w-full', { danger: location.completion < 30 } ]}
                        max="100"
                        value={location.completion > 0 ? location.completion : 1}
                        data-tippy-content={`${location.completion.toFixed(0)}%`}
                    >
                        {location.completion.toFixed(2)}%
                    </Progress>
                    <small>{`${location.fittings.length} ${location.fittings.length != 1 ? t('fittings').toLowerCase() : t('fitting').toLowerCase()}`}</small>
                </Flexblock>
            </LocationsReelSlide>
        )}
    </LocationsReel>

    <Flexblock gap='var(--space-2xl)'>
        <Flexblock gap='var(--space-l)'>
            <h3 class="[ group-title ]">{t('expected_fittings')}</h3>
            <BlockList role="list" gap='var(--space-l)'>
                {sorted_contracts_with_expectations.map((fitting) =>
                    <div x-show="show_item($el)">
                        <ContractMarketFittingCard fitting={fitting} no_expectation_progress={false} />
                    </div>
                )}
                <p class="[ no-result-text ]">{t('no_results')}</p>
            </BlockList>
        </Flexblock>
        <Flexblock gap='var(--space-l)'>
            <h3 class="[ group-title ]">{t('other_fittings_seeded_at_station')}</h3>
            <BlockList role="list" gap='var(--space-l)'>
                {sorted_contracts_without_expectations.map((fitting) =>
                    <div x-show="show_item($el)">
                        <ContractMarketFittingCard fitting={fitting} no_expectation_progress={false} />
                    </div>
                )}
                <p class="[ no-result-text ]">{t('no_results')}</p>
            </BlockList>
    </Flexblock>
</Flexblock>

<style lang="scss">
    :not([style="display: none;"]) ~ .no-result-text {
        display: none;
    }

    .group-title {
        font-size: var(--step-1);
    }
</style>