---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { MarketLocationUI } from '@dtypes/layout_components';

interface Props {
    active_market_locations_ui:         MarketLocationUI;
    non_active_market_locations_ui:     MarketLocationUI[];
}

const {
    active_market_locations_ui,
    non_active_market_locations_ui,
} = Astro.props

const contracts_with_expectations = active_market_locations_ui.fittings.filter(fitting => fitting.expectation_quantity)
const contracts_without_expectations = active_market_locations_ui.fittings.filter(fitting => !fitting.expectation_quantity)

import { query_string } from '@helpers/string';

const REEL_GAP = 80

import Flexblock from '@components/compositions/Flexblock.astro';
import BlockList from '@components/compositions/BlockList.astro';

import MarketFittingCard from '@components/blocks/MarketFittingCard.astro';
import Progress from '@components/blocks/Progress.astro';
import LocationsReel from '@components/blocks/LocationsReel.astro';
import LocationsReelSlide from '@components/blocks/LocationsReelSlide.astro';
---

<Flexblock gap='var(--space-xl)'>
    <LocationsReel gap={REEL_GAP}>
        <LocationsReelSlide gap={REEL_GAP}>
            <Flexblock gap='var(--space-2xs)'>
                <h2>
                    <a href={translatePath(`/market/contracts?${query_string({
                            location_name: active_market_locations_ui.name
                        })}`)}
                    >
                        {active_market_locations_ui.name}
                    </a>
                </h2>
                <Progress
                    class:list={[ 'w-full', { danger: active_market_locations_ui.completion < 30 } ]}
                    max="100"
                    value={active_market_locations_ui.completion > 0 ? active_market_locations_ui.completion : 0.1}
                    data-tippy-content={`${active_market_locations_ui.completion.toFixed(0)}%`}
                >
                    {active_market_locations_ui.completion.toFixed(2)}%
                </Progress>
                <small>{`${active_market_locations_ui.fittings.length} ${active_market_locations_ui.fittings.length != 1 ? t('fittings').toLowerCase() : t('fitting').toLowerCase()}`}</small>
            </Flexblock>
        </LocationsReelSlide>

        {non_active_market_locations_ui.map(location =>
            <LocationsReelSlide gap={REEL_GAP}>
                <Flexblock gap='var(--space-2xs)'>
                    <h3>
                        <a href={translatePath(`/market/contracts?${query_string({
                                location_name: location.name
                            })}`)}
                        >
                            {location.name}
                        </a>
                    </h3>
                    <Progress
                        class:list={[ 'w-full', { danger: location.completion < 30 } ]}
                        max="100"
                        value={location.completion > 0 ? location.completion : 1}
                        data-tippy-content={`${location.completion.toFixed(0)}%`}
                    >
                        {location.completion.toFixed(2)}%
                    </Progress>
                    <small>{`${location.fittings.length} ${location.fittings.length != 1 ? t('fittings').toLowerCase() : t('fitting').toLowerCase()}`}</small>
                </Flexblock>
            </LocationsReelSlide>
        )}
    </LocationsReel>

    <BlockList role="list">
        {contracts_with_expectations.map((fitting) =>
            <div x-show="show_item($el)">
                <MarketFittingCard fitting={fitting} no_expectation_progress={false} />
            </div>
        )}
        {contracts_without_expectations.map((fitting) =>
            <div x-show="show_item($el)">
                <MarketFittingCard fitting={fitting} no_expectation_progress={false} />
            </div>
        )}
        {<p class="[ no-result-text ]">{t('no_results')}</p>}
    </BlockList>
</Flexblock>

<style lang="scss">
    :not([style="display: none;"]) ~ .no-result-text {
        display: none;
    }
</style>