---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { Alert, CorporationObject } from '@dtypes/layout_components'

interface Props {
    corporation:            CorporationObject;
    is_user_corporation?:   boolean;
    alert?:                 Alert | false;
    disable_applications?:  boolean;
}

const {
    corporation,
    alert = false,
    is_user_corporation = false,
    disable_applications = false,
} = Astro.props

import { get_corporation_logo, get_alliance_logo } from '@helpers/eve_image_server';

import FixedFluid from '@components/compositions/FixedFluid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import CorporationStatus from "@components/blocks/CorporationStatus.astro";
---

<FixedFluid
    width='64px'
    class="[ corporation-item items-center ]"
    id={`corporation-item-${corporation.corporation_id}`}
    x-data={`{
        corporation_item_init() {
            ${alert !== false ? `show_alert_dialog(${JSON.stringify(alert)})` : ''}
        }
    }`}
    x-init="corporation_item_init()"
>
    <picture class="[ border ]">
        <img loading="lazy" src={get_corporation_logo(corporation.corporation_id, 64)} width="64" height="64" alt={`${corporation.corporation_name} ${t('corporation_logo')}`} />
    </picture>
    <FlexInline justification='space-between' class="[ items-center ]">
        <Flexblock gap='0' class="[ grow basis-[220px] ]">
            <span class="[ text-[var(--highlight)] ]">
                {corporation.corporation_name}
            </span>
            {corporation.alliance_id &&
                <FixedFluid
                    width='24px'
                    class="[ items-center w-full ]"
                    gap='var(--space-3xs)'
                >
                    <picture>
                        <img loading="lazy" src={get_alliance_logo(corporation.alliance_id)} width="24" height="24" alt={`${corporation.alliance_name} ${t('alliance_logo')}`} />
                    </picture>
                    <span>
                        <small>
                            {corporation.alliance_name}
                        </small>
                    </span>                        
                </FixedFluid>
            }
        </Flexblock>
        <CorporationStatus
            corporation={corporation}
            is_user_corporation={is_user_corporation}
            disable_applications={disable_applications}
        />
    </FlexInline>
</FixedFluid>

<style lang="scss">
    .corporation-item {
        picture {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1/1;
        }

        a {
            display: inline-block;

            > .flex-inline {
                max-width: fit-content;
            }
        }
    }
</style>