---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { CorporationObject } from '@dtypes/layout_components'

interface Props {
    corporations?:          CorporationObject[];
    user_corporation_id?:   number;
}

let {
    corporations = [],
    user_corporation_id = 0,
} = Astro.props

corporations = corporations.filter( (i) => i.corporation_id != 98735318 )

import { get_corporation_logo } from '@helpers/eve_image_server';
import { get_alliance_logo } from '@helpers/eve_image_server';

const pagination_icons:string[] = []
corporations.forEach( (corp, i) => pagination_icons[i] = get_corporation_logo(corp.corporation_id, 64) );
const VINDICTA_ID = 98760041
const MINMATAR_FLEET_ASSOCIATES_ID = 99012009
pagination_icons.push(get_corporation_logo(VINDICTA_ID, 64))
pagination_icons.push(get_alliance_logo(MINMATAR_FLEET_ASSOCIATES_ID, 64))

import { slugify } from '@helpers/string'

import Wrapper from '@components/compositions/Wrapper.astro';

import CorporationsSwiper from '@components/blocks/CorporationsSwiper.astro';
import RattiniSlide from '@components/blocks/RattiniSlide.astro';
import BlackOmegaSlide from '@components/blocks/BlackOmegaSlide.astro';
import BallsDeepSlide from '@components/blocks/BallsDeepSlide.astro';
import VindictaExpeditionarySlider from '@components/blocks/VindictaExpeditionarySlider.astro';
import AssociatesSlide from '@components/blocks/AssociatesSlide.astro';
---

<div
    class="[ swiper ][ w-full ]"
    class:list={[ 'w-full', { swiper: corporations.length > 0 } ]}
    id="corporations-list"
>
    {corporations.length > 0 &&
        <CorporationsSwiper
            pagination_icons={pagination_icons}
        >
            {corporations.map((corporation, index) =>
                <div class="swiper-slide" id={slugify(corporation.corporation_name)}>
                    {corporation.corporation_name == 'Rattini Tribe' &&
                        <RattiniSlide
                            corporation={corporation}
                            is_user_corporation={corporation.corporation_id === user_corporation_id}
                            picture_placement={index%2 == 0 ? 'left' : 'right'}
                        />
                    }
                    {corporation.corporation_name == 'Black Omega Security' &&
                        <BlackOmegaSlide
                            corporation={corporation}
                            is_user_corporation={corporation.corporation_id === user_corporation_id}
                            picture_placement={index%2 == 0 ? 'left' : 'right'}
                        />
                    }
                    {corporation.corporation_name == 'Balls Deep Inc.' &&
                        <BallsDeepSlide
                            corporation={corporation}
                            is_user_corporation={corporation.corporation_id === user_corporation_id}
                            picture_placement={index%2 == 0 ? 'left' : 'right'}
                        />
                    }
                    {corporation.corporation_name == 'Vindicta Expeditionary' &&
                        <VindictaExpeditionarySlider
                            corporation={corporation}
                            is_user_corporation={corporation.corporation_id === user_corporation_id}
                            picture_placement={index%2 == 0 ? 'left' : 'right'}
                        />
                    }
                </div>
            )}
            <div class="swiper-slide" id="minmatar-fleet-associates">
                <VindictaExpeditionarySlider
                    corporation={{
                        alliance_id: 99011978,
                        alliance_name: 'Minmatar Fleet Alliance',
                        corporation_id: 98760041,
                        corporation_name: 'Vindicta Expeditionary',
                        corporation_type: 'alliance',
                        status: 'available',
                    }}
                    is_user_corporation={98760041 === user_corporation_id}
                    picture_placement={corporations.length%2 == 0 ? 'left' : 'right'}
                />
            </div>
            <div class="swiper-slide" id="minmatar-fleet-associates">
                <AssociatesSlide
                    id="associates-alliance"
                    picture_placement={(corporations.length+1)%2 == 0 ? 'left' : 'right'}
                />
            </div>
        </CorporationsSwiper>
    }
    {corporations.length == 0 &&
        <Wrapper padding_inline='0'>
            <slot>
                {t('empty_corporations_text')}
            </slot>
        </Wrapper>
    }
</div>