---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import type { Alert, CorporationObject } from '@dtypes/layout_components'

interface Props {
    corporation:            CorporationObject;
    is_user_corporation?:   boolean;
    alert?:                 Alert | false;
}

const {
    corporation,
    is_user_corporation = false,
    alert = false,
} = Astro.props

import { query_string } from '@helpers/string';
import { get_app_url } from '@helpers/env'
const CORPORATION_REQUEST_STATUS_PARTIAL_URL = `${get_app_url()}/partials/corporation_request_status_item`

import ButtonStack from '@components/blocks/ButtonStack.astro';
import Button from '@components/blocks/Button.astro';
import Tag from '@components/blocks/Tag.astro';
---
<div
    id={`corporation-status-${corporation.corporation_id}`}
    x-data={`{
        init() {
            ${alert !== false ? `show_alert_dialog(${JSON.stringify(alert)})` : ''}
        }
    }`}
>
    {is_user_corporation ?
        <div class="[ max-w-fit ]"><Tag color='green' text={t('joined')} /></div>
        :
        <ButtonStack>
            {!corporation?.status &&
                <Button
                    type="button"
                    size='sm'
                    color='green'
                    x-bind:disabled="disabled"
                    x-data={`{
                        disabled: false,
                        show_join_request_dialog() {
                            this.disabled = true
                            
                            show_confirm_dialog({
                                title: '${t('corporation_join_request_dialog_title')}',
                                partial: '${translatePath('/partials/dialog_with_corporation/')}?${query_string({
                                    corporation_id: corporation.corporation_id,
                                    corporation_name: corporation.corporation_name,
                                    alliance_id: corporation.alliance_id,
                                    alliance_name: corporation.alliance_name,
                                    corporation_type: corporation.corporation_type,
                                    status: corporation.status,
                                    message: t('corporation_join_request_dialog_text')
                                })}',
                                return_on_accept: ${corporation.corporation_id},
                                hx: {
                                    method: 'post',
                                    url: '${CORPORATION_REQUEST_STATUS_PARTIAL_URL}?${query_string({
                                        corporation: JSON.stringify(corporation),
                                    })}',
                                    target: '${`#corporation-status-${corporation.corporation_id}`}',
                                    swap: 'outerHTML transition:true'
                                }
                            }).then( (corporation_id) => { this.disabled = !!corporation_id } )
                        }
                    }`}
                    x-on:click="show_join_request_dialog()"
                    type="button"
                >
                    {t('enlist_today')}
                </Button>
            }
            {corporation?.status == 'requested' &&
                <Tag color='alliance-blue' text={t('pending')} />
            }
        </ButtonStack>
    }
</div>