---
import type { ButtonColors, ButtonSizes } from '@dtypes/layout_components';

interface Props {
    size?:              ButtonSizes;
    color?:             ButtonColors;
    hidden?:            boolean;
    narrow?:            boolean;
    id?:                string;
    max_width?:         string;
    inside_swiper?:     boolean;
    [propName: string]: any;
}

const {
    size = 'lg',
    color = 'green',
    hidden = false,
    narrow = false,
    id,
    max_width = '700px',
    inside_swiper = false,
    ...attributes
} = Astro.props

import Dialog from '@components/blocks/Dialog.astro';
import Button from '@components/blocks/Button.astro';
---

<div
    x-data={`{
        button_dialog_open: false,
        open_dialog() {
            this.button_dialog_open = true
            ${inside_swiper ? 'swiper.allowTouchMove = false' : ''}
        },
        close_dialog() {
            this.button_dialog_open = false
            ${inside_swiper ? 'swiper.allowTouchMove = true' : ''}
        }
    }`}
    {...attributes}
>
    <Button
        size={size}
        type="button"
        color={color}
        narrow={narrow}
        x-on:click.stop.prevent="open_dialog()"
        type="button"
        id={id ? id : undefined}
        class={hidden ? '[ hidden! ]' : undefined}
    >
        <slot name="icon" />
        <slot />
    </Button>

    <Dialog
        breakout={true}
        non_centered={true}
        class:list={[ 'button-dialog w-full component overflow-y-auto' ]}
        x-bind:class="(button_dialog_open ? 'open' : '')"
        x-bind:aria-hidden="button_dialog_open == false"
        x-trap="button_dialog_open"
        x-bind:inert="!button_dialog_open"
        @keyup.escape.window="close_dialog()"
        @mousedown.outside="open && close_dialog()"
        style={max_width ? `--dialog-max-width: ${max_width}` : undefined}
    >
        <slot name="dialog" />
    </Dialog>
</div>

<style lang="scss">
    .button-dialog {
        max-height: min(750px, 88vh);
    }
</style>