---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { ButtonColors, ButtonSizes } from '@dtypes/layout_components';

interface Props {
    size?:                  ButtonSizes;
    color?:                 ButtonColors;
    hidden?:                boolean;
    narrow?:                boolean;
    id?:                    string;
    max_width?:             string;
    inside_swiper?:         boolean;
    thin_dialog?:           boolean;
    disable_when_open?:     boolean;
    non_centered?:          boolean;
    close_button?:          boolean;
    full_screen?:           boolean;
    body_full_h?:           boolean;
    styless?:               boolean;
    transparent?:           boolean;
    [propName: string]:     any;
}

const {
    size = 'lg',
    color = 'green',
    hidden = false,
    narrow = false,
    id,
    max_width = '700px',
    inside_swiper = false,
    thin_dialog = false,
    disable_when_open = false,
    non_centered = true,
    close_button = true,
    full_screen = false,
    body_full_h = false,
    styless = false,
    transparent = false,
    ...attributes
} = Astro.props

import { marked } from 'marked';

import Dialog from '@components/blocks/Dialog.astro';
import Button from '@components/blocks/Button.astro';
import DebugTag from '@components/blocks/DebugTag.astro';
import StylessButton from './StylessButton.astro';
---

<div
    class="[ flex ]"
    x-data={`{
        button_dialog_open: false,
        open_dialog() {
            this.button_dialog_open = true
            ${inside_swiper ? 'swiper.allowTouchMove = false' : ''}
            $refs.body.classList.add('overflow-hidden')
        },
        close_dialog() {
            if (!this.button_dialog_open) return

            this.button_dialog_open = false
            ${inside_swiper ? 'swiper.allowTouchMove = true' : ''}
            $refs.body.classList.remove('overflow-hidden')
            console.log('close dialog')
        }
    }`}
    @dialog_opened.stop={disable_when_open ? "$el.querySelector('button').setAttribute('disabled', '')" : undefined}
    @dialog_closed.stop={disable_when_open ? "$el.querySelector('button').removeAttribute('disabled')" : undefined}
>
    {styless ?
        <StylessButton
            type="button"
            x-on:click.stop.prevent="open_dialog()"
            {...attributes}
        >
            <slot />
        </StylessButton>
        :
        <Button
            size={size}
            type="button"
            color={color}
            narrow={narrow}
            x-on:click.stop.prevent="open_dialog()"
            id={id ? id : undefined}
            class={hidden ? '[ hidden! ]' : undefined}
            {...attributes}
        >
            <slot name="icon" />
            <slot />
        </Button>
    }

    <template x-teleport="body">
        <Dialog
            breakout={true}
            non_centered={true}
            close_button={close_button}
            non_centered={non_centered}
            full_screen={full_screen}
            body_full_h={body_full_h}
            class:list={[
                'button-dialog w-full component overflow-y-auto',
                { 'button-dialog-h-max': full_screen === false },
            ]}
            x-bind:class="(button_dialog_open ? 'open' : '')"
            x-bind:aria-hidden="button_dialog_open == false"
            x-trap="button_dialog_open"
            x-bind:inert="!button_dialog_open"
            @keyup.escape.window="close_dialog()"
            @mousedown.outside="open && close_dialog()"
            style={max_width ? `--dialog-max-width: ${max_width}` : undefined}
            thin={thin_dialog}
            transparent={transparent}
            x-init="htmx.process($el)"
        >
            <slot name="header" slot="header" />
            <slot name="dialog">
                <DebugTag set:html={marked.parse(t('missing_dialog_slot'))} />
            </slot>
            <slot name="footer" slot="footer" />
        </Dialog>
    </template>
</div>

<style lang="scss">
    .button-dialog {
        max-height: 100%;
    }

    .button-dialog-h-max {
        max-height: 88vh;
    }
</style>