---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { DoctrineLocationUI } from '@dtypes/layout_components'

interface Props {
    active_doctrine_location_ui:        DoctrineLocationUI;
    non_active_doctrine_location_ui:    DoctrineLocationUI[];
}

const {
    active_doctrine_location_ui,
    non_active_doctrine_location_ui
} = Astro.props

import { semantic_list } from '@helpers/array';
import { query_string } from '@helpers/string';

const REEL_GAP = 80

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Grid from '@components/compositions/Grid.astro';

import DoctrineCard from '@components/blocks/DoctrineCard.astro';
import LocationsReel from '@components/blocks/LocationsReel.astro';
import LocationsReelSlide from '@components/blocks/LocationsReelSlide.astro';
---


<Flexblock class="[ order-table ]" gap='var(--space-xl)'>
    <LocationsReel gap={REEL_GAP}>
        <LocationsReelSlide
            title={active_doctrine_location_ui.name}
            href={translatePath(active_doctrine_location_ui.id > 0 ? `/ships/doctrines?${query_string({
                location_id: active_doctrine_location_ui.id
            })}` : '/ships/doctrines/')}
            subtitle={t(active_doctrine_location_ui.doctrines.length != 1 ? 'doctrines_plural' : 'doctrines_singular').replace('{count}', String(active_doctrine_location_ui.doctrines.length))}
            gap={REEL_GAP}
            active={true}
        />

        {non_active_doctrine_location_ui.map(location =>
            <LocationsReelSlide
                title={location.name}
                href={translatePath(location.id > 0 ? `/ships/doctrines?${query_string({
                    location_id: location.id
                })}` : '/ships/doctrines/')}
                subtitle={t(location.doctrines.length != 1 ? 'doctrines_plural' : 'doctrines_singular').replace('{count}', String(location.doctrines.length))}
                gap={REEL_GAP}
            />
        )}
    </LocationsReel>

    <Grid
        role="list"
        class="[ w-full grid-fill ]"
        min_item_width='240px'
        row_gap='var(--space-3xs)'
        column_gap='var(--space-3xs)'
    >
        {active_doctrine_location_ui.doctrines.map((doctrine) =>
            <a
                class="[ doctrine-card-container ]"
                href={translatePath(`/ships/doctrines/${doctrine.id}${active_doctrine_location_ui.id ? `?location_id=${active_doctrine_location_ui.id}` : '/' }`)}
            >
                <DoctrineCard
                    doctrine={doctrine}
                    subtitle={semantic_list(lang, doctrine.primary_fittings.map((primary_fitting) => primary_fitting.ship_name))}
                />
            </a>
        )}
    </Grid>
</Flexblock>