---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { get_item_icon_by_name } from '@helpers/eve_image_server';

import type { DoctrineItemObj } from '@dtypes/layout_components';

import Grid from '@components/compositions/Grid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import VerticalCenter from './VerticalCenter.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Button from '@components/blocks/Button.astro';
import Tag from '@components/blocks/Tag.astro';
import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';
import Picture64 from '@components/blocks/Picture64.astro';

interface Props {
    doctrine: DoctrineItemObj;
    [propName: string]: any;
}

const {
    doctrine,
    ...attributes
} = Astro.props
---

<Flexblock  {...attributes} class="[ w-full ]" gap='var(--space-m)'>
    <h2>{doctrine.doctrine_name}</h2>
    <Grid
        role="list"
        class="[ w-full ]"
        min_item_width='270px'
        row_gap='var(--space-s-m)'
        column_gap='var(--space-s-m)'
    >
        {doctrine.fits.map((fit) => 
            <a role="listitem" href={fit.href}>
                <Picture64 role="listitem" text={fit.name}>
                    <img class="[ w-full confetti-image ]" src={get_item_icon_by_name(fit.alt)} alt={fit.alt} height="64" width="64" />
                </Picture64>
            </a>
        )}
    </Grid>
    <FlexInline class="[ w-full ]" gap='var(--space-m)' justification='space-between'>
        <VerticalCenter>
            <Flexblock gap="var(--space-3xs)">
                <FlexInline role="list">
                    {doctrine.tags.map((tag) => 
                        <Tag role="listitem" title={tag.description} text={tag.name} color={tag.color} />
                    )}
                </FlexInline>
            </Flexblock>
        </VerticalCenter>

        <VerticalCenter>
            <Button href={doctrine.href}>
                <MagnifierIcon slot="icon" />
                {t('view_details')}
            </Button>
        </VerticalCenter>
    </FlexInline>
</Flexblock>

<style lang="scss">
    .wrapper {
        display: flex;
        align-items: center;
    }

    a[href] {
        text-decoration: none;
        color: var(--highlight);
    }
</style>