---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { DoctrineType } from '@dtypes/layout_components';

interface Props {
    doctrine:       DoctrineType;
    title?:         string;
    subtitle?:      string;
    [propName: string]: any;
}

const {
    doctrine,
    title,
    subtitle,
    ...attributes
} = Astro.props

import Flexblock from "@components/compositions/Flexblock.astro";
import Wrapper from "@components/compositions/Wrapper.astro";

import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import ItemPicture from "@components/blocks/ItemPicture.astro";

import FleetLogo from '@components/icons/FleetLogo.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import StratopIcon from '@components/icons/StratopIcon.astro';
import NonStrategicIcon from '@components/icons/NonStrategicIcon.astro';
import TrainingIcon from '@components/icons/TrainingIcon.astro';
---

<ComponentBlock class="[ doctrine-card card-animated ]" padding_block='0' padding_inline='0' {...attributes}>
    <Flexblock gap="0">
        <ItemPicture
            item_id={doctrine.primary_fittings[0].ship_id}
            item_name={doctrine.primary_fittings[0].ship_name}
            size={256}
            narrow={true}
            icon_quality={512}
            mask={true}
        />
        <Wrapper class="[ doctrine-card-body ]" padding_block="var(--space-2xs)" padding_inline="var(--space-2xs)">
            <Flexblock gap='var(--space-xs)'>
                {!doctrine?.sigs?.length &&
                    <picture
                        data-tippy-content={t('alliance_doctrine_description')}
                        x-init={`tippy($el, {
                            delay: [ 100, 200 ],
                            arrow: true,
                        })`}
                    >
                        <FleetLogo
                            square={true}
                            slot="picture"
                            width="32"
                        />
                    </picture>
                }

                <Flexblock gap='var(--space-3xs)'>
                    {subtitle && <small>{subtitle}</small>}
                    <h3>{title ? title : doctrine.name}</h3>
                </Flexblock>
            </Flexblock>
        </Wrapper>

        <div class="[ doctrine-type-icon ]">
            <div
                data-tippy-content={
                    doctrine.type === 'strategic' ?
                    t('strategic') :
                    doctrine.type === 'training' ?
                    t('training') :
                    t('non_strategic')
                }
                x-init={`tippy($el, {
                    delay: [ 100, 200 ],
                    arrow: true,
                })`}
            >
                {doctrine.type === 'strategic' ?
                    <StratopIcon /> :
                    doctrine.type === 'training' ?
                    <TrainingIcon /> :
                    <NonStrategicIcon />
                }
            </div>
        </div>

        <div class="[ doctrine-sigs ]">
            <FlexInline gap='var(--space-3xs)'>
                {doctrine?.sigs?.length > 0 && doctrine.sigs.map((sig) =>
                    <picture
                        data-tippy-content={t('doctrine_flayable_description').replace('GROUP', sig.name)}
                        x-init={`tippy($el, {
                            delay: [ 100, 200 ],
                            arrow: true,
                        })`}
                    >
                        <img
                            src={sig?.image_url ? sig.image_url : '/images/icons/48px-Grouplist.png'}
                            height="32"
                            width="32"
                            alt={`${sig.name} icon`}
                        />
                    </picture>
                )}
            </FlexInline>
        </div>
    </Flexblock>
</ComponentBlock>

<style lang="scss">
    .doctrine-card {
        position: relative;

        .doctrine-card-body {
            position: absolute;
            bottom: 0%;
            left: 0;
            right: 0;
        }

        .doctrine-type-icon {
            position: absolute;
            top: 0;
            left: 0;
        }

        .doctrine-sigs {
            position: absolute;
            bottom: var(--space-3xs);
            right: var(--space-3xs);
        }
    }

    h3 {
        font-size: var(--step-1);
    }

    small {
        color: var(--fleet-yellow);
    }
</style>