---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { FittingItem } from '@dtypes/layout_components';

import Button from '@components/blocks/Button.astro';
import ThumbCard from '@components/blocks/ThumbCard.astro';
import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';
import VerticalCenter from './VerticalCenter.astro';
import TextGroup from './TextGroup.astro';

import { get_item_icon } from '@helpers/eve_image_server'

interface Props {
    fitting: FittingItem;
    [propName: string]: any;
}

const {
    fitting,
    ...attributes
} = Astro.props
---

<div {...attributes}>
    <ThumbCard
        thumb_image={get_item_icon(fitting.ship_id, 256)}
        thumb_image_small={get_item_icon(fitting.ship_id)}
        thumb_image_alt={fitting.ship_name}
    >
        <VerticalCenter>
            <TextGroup title={t('fitting_name')}>
                {fitting.fitting_name}
            </TextGroup>
        </VerticalCenter>

        <VerticalCenter>
            <TextGroup title={t('fitting_type')}>
                {fitting.fitting_type}
            </TextGroup>
        </VerticalCenter>

        <VerticalCenter>
            <TextGroup title={t('ship_type')}>
                {fitting.ship_type}
            </TextGroup>
        </VerticalCenter>

        <VerticalCenter slot="actions">
            <Button href={translatePath(`/ships/fitting/${fitting.id}`)}>
                <MagnifierIcon slot="icon" />
                {t('view_details')}
            </Button>
        </VerticalCenter>
    </ThumbCard>
</div>