---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { ShipFitting, Module } from '@dtypes/layout_components';
import { SHIP_WEIGHT } from '@helpers/eve'

import { is_disabled_ccpwgl } from '@helpers/env';

const DISABLED_CCPWGL = is_disabled_ccpwgl()

interface Props {
    ship_id:    number;
    ship_type:  string | undefined;
    fitting:    ShipFitting;
    text?:      string;
}

const {
    ship_id,
    ship_type,
    fitting,
    text,
} = Astro.props

const interpolation_decay = ship_type ? SHIP_WEIGHT[ship_type] : 50

import { query_string } from '@helpers/string';

// Update from https://estamelgg.github.io/EVE_Model_Gallery/statics/resources_index_en.json
import resources_index_en from '@json/estamelgg_model_ref.json'

const ships_index = resources_index_en.find(group => group.name === 'Ship')
const supported_ships = ships_index?.groups.map(group => group.types.map(type => type.id)).flat()

const ship_model_supported = supported_ships?.includes(ship_id)

let low_slots:Module[] = []
let med_slots:Module[] = []
let high_slots:Module[] = []
let rig_slots:Module[] = []
let subsystem_slots:Module[] = []

try {
    const low_slots_count = Math.max(fitting?.capabilities?.low_slots as number, fitting?.low_slots?.length ?? 0)
    for (let i = 0; i < low_slots_count; i++)
        low_slots.push((fitting?.low_slots as Module[])[i] ?? null)

    const med_slots_count = Math.max(fitting?.capabilities?.med_slots as number, fitting?.med_slots?.length ?? 0)
    for (let i = 0; i < med_slots_count; i++)
        med_slots.push((fitting?.med_slots as Module[])[i] ?? null)

    const high_slots_count = Math.max(fitting.capabilities?.high_slots as number, fitting?.high_slots?.length ?? 0)
    for (let i = 0; i < high_slots_count; i++)
        high_slots.push((fitting?.high_slots as Module[])[i] ?? null)

    const rig_slots_count = Math.max(fitting.capabilities?.rig_slots as number, fitting?.rig_slots?.length ?? 0)
    for (let i = 0; i < rig_slots_count; i++)
        rig_slots.push((fitting?.rig_slots as Module[])[i] ?? null)

    const subsystem_slots_count = fitting.capabilities?.subsystem_slots ? fitting?.subsystem_slots?.length ?? 0 : 0
    for (let i = 0; i < subsystem_slots_count; i++)
        subsystem_slots.push((fitting?.subsystem_slots as Module[])[i] ?? null)

} catch (error) {
    console.log(error)
}

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import FittingSlot from '@components/blocks/FittingSlot.astro';
import Markdown from '@components/blocks/Markdown.astro';
---

<div
    id="fitting-custom" 
    class="[ fitting-grid ]"
>
    <!-- Hight -->
    <div class="[ high ]">
        <FlexInline justification='center'>
            {high_slots.map( (ship_slot) =>
                <FittingSlot
                    ship_slot={ship_slot}
                    slot_type='High Slots'
                    placement='bottom'
                />
            )}
        </FlexInline>
    </div>
    
    <div class="[ rigs ]">
        <!-- Rigs and Subsystems -->
        <Flexblock gap='var(--space-xl)'>
            <Flexblock>
                {rig_slots.map( (ship_slot) =>
                    <FittingSlot
                        ship_slot={ship_slot}
                        slot_type='Rig Slots'
                        placement='right'
                    />
                )}
            </Flexblock>

            {subsystem_slots.length > 0 &&
                <Flexblock>
                    {subsystem_slots.map( (ship_slot) =>
                        <FittingSlot
                            ship_slot={ship_slot}
                            slot_type='Subsystem Slots'
                            placement='right'
                        />
                    )}
                </Flexblock>
            }
        </Flexblock>
    </div>

    <div class="[ empty ]">
        {ship_model_supported ?
            <model-viewer
                id={`ship-model-${ship_id}`}
                src={`https://estamelgg.github.io/EVE_Model_Gallery/models/${ship_id}_lite.glb`}
                shadow-intensity="0"
                camera-controls
                interaction-prompt="none"
                disable-zoom
                interpolation-decay={interpolation_decay}
                x-data={`{
                    CAMERA_ROTATION_TIMER_MS: 15000,
                    cameraRotate() {
                        console.log('Ticking ${`ship-model-${ship_id}`}')
                        const modelViewer = document.querySelector('#${`ship-model-${ship_id}`}')
                        const orbitCycle = [
                            '45deg 55deg 100%',
                            '-60deg 110deg 100%',
                            modelViewer.cameraOrbit
                        ];

                        const currentOrbitIndex = orbitCycle.indexOf(modelViewer.cameraOrbit)
                        modelViewer.cameraOrbit = orbitCycle[(currentOrbitIndex + 1) % orbitCycle.length]
                    },
                    init() {
                        let timer = setInterval(this.cameraRotate, this.CAMERA_ROTATION_TIMER_MS)

                        function clearTimer(event) {
                            console.log('clearing timer')
                            clearInterval(timer)
                            event.currentTarget.removeEventListener('astro:after-swap', clearTimer)
                        }

                        document.addEventListener('astro:after-swap', clearTimer)
                    }
                }`}
            ></model-viewer> :
            <small
                class="[ animate-fade-in-up animate-delay-1000 ]"
                x-show={!DISABLED_CCPWGL ? 'scene_loaded && !ship_loaded' : 'true' }
                style={!DISABLED_CCPWGL ? "display: none" : undefined}
            >
                {!DISABLED_CCPWGL ? t('ship_preview_not_available_for_ship') : t('ship_preview_not_available')}
            </small>
        }
    </div>

    <div class="[ med ]">
        <Flexblock>
            {med_slots.map( (ship_slot) =>
                <FittingSlot
                    ship_slot={ship_slot}
                    slot_type='Medium Slots'
                    placement='left'
                />
            )}
        </Flexblock>

    </div>

    <!-- Low -->
    <div class="[ low ]">
        <FlexInline justification='center'>
            {low_slots.map( (ship_slot) =>
                <FittingSlot
                    ship_slot={ship_slot}
                    slot_type='Low Slots'
                    placement='top'
                />
            )}
        </FlexInline>
    </div>

    <FlexInline gap='var(--space-3xs)' class="[ credits ][ absolute w-full ]" justification='center'>
        <Markdown inline={true} inline_element='small' markdown={t('models_credits')} />
        <small>
            <span
                class="[ text-[var(--highlight)] cursor-pointer ]"
                x-data={`{
                    show_character_modal() {
                        show_modal({
                            partial: '${translatePath('/partials/character_modal_component/')}?${query_string({
                                character_id: '2113974546',
                            })}',
                        })
                    }
                }`}
                x-on:click="show_character_modal()"
            >iDea SP1</span>
            {t('in_eve_online')}
        </small>
    </FlexInline>
</div>

<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath id="octagon-clip-path">
            <path d="M56.4055 0.477051H8.54768L0.476562 8.54816V56.4059L8.54768 64.4771H56.4055L64.4766 56.4059V8.54816" />
        </clipPath>
    </defs>
</svg>

<svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <clipPath id="octagon-inside-clip-path">
            <path d="M47.19 0H6.81L0 6.81V47.19L6.81 54H47.19L54 47.19V6.81" />
        </clipPath>
    </defs>
</svg>

<style lang="scss">
    model-viewer::part(default-progress-bar) {
        top: 50%;
        width: 40%;
        left: 30%;
        background-color: var(--highlight);
        box-shadow: 0 0 10px 0px var(--highlight);
    }

    .credits {
        bottom: var(--space-xs);
        left: 50%;
        transform: translateX(-50%);
    }

    .fitting-grid {
        position: relative;
    }

    model-viewer {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    svg {
        position: absolute;
        top: 0;
    }

    #fitting-custom {
        position: fixed;
        left: 50%;
        right: var(--space-2xl);
        padding-block: var(--space-xl);
        z-index: 1;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 64px 1fr 64px;
        grid-template-columns: 64px 1fr 64px;
        grid-template-areas:
            "high high high"
            "rigs empty med"
            "low low low";

        .high {
            grid-area: high;
            pointer-events: all;
        }

        .rigs {
            grid-area: rigs;
            align-self: center;
            pointer-events: all;
        }

        .empty {
            grid-area: empty;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .med {
            grid-area: med;
            align-self: center;
            pointer-events: all;
        }

        .low {
            grid-area: low;
            pointer-events: all;
        }
    }

    .wrapper {
        display: flex;
        align-items: center;
    }
</style>