---
import type { FittingItem } from '@dtypes/layout_components';

interface Props {
    fitting:        FittingItem;
    title?:         string;
    subtitle?:      string;
    [propName: string]: any;
}

const {
    fitting,
    title,
    subtitle,
    ...attributes
} = Astro.props

import Flexblock from "@components/compositions/Flexblock.astro";
import Wrapper from "@components/compositions/Wrapper.astro";

import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import ItemPicture from "@components/blocks/ItemPicture.astro";
import ClipboardButton from "@components/blocks/ClipboardButton.astro";
---

<ComponentBlock class="[ fitting-card card-animated ]" padding_block='0' padding_inline='0' {...attributes}>
    <Flexblock gap="0">
        <ItemPicture
            item_id={fitting.ship_id}
            item_name={fitting.ship_name}
            size={256}
            narrow={true}
            icon_quality={512}
            mask={true}
        />
        <Wrapper class="[ fitting-card-body ]" padding_block="var(--space-2xs)" padding_inline="var(--space-2xs)">
            <Flexblock gap='var(--space-3xs)'>
                {subtitle && <small>{subtitle}</small>}
                <h3>{title ? title : fitting.fitting_name}</h3>
            </Flexblock>
        </Wrapper>
        <Wrapper class="[ fitting-card-actions ]" padding_block="var(--space-2xs)" padding_inline="var(--space-2xs)">
            <ClipboardButton narrow={true} id={fitting.id.toString()}>{fitting.eft_format}</ClipboardButton>
        </Wrapper>
        <div class="[ fitting-card-filters ]">
            <p>{fitting.fitting_name}</p>
            <p>{fitting.fitting_type}</p>
            <p>{fitting.ship_type}</p>
        </div>
    </Flexblock>
</ComponentBlock>

<style lang="scss">
    .fitting-card {
        position: relative;

        &:hover {
            .fitting-card-actions {
                opacity: 1;
            }
        }

        .fitting-card-body {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .ship-type-icon {
            position: absolute;
            top: var(--space-3xs);
            left: var(--space-3xs);
        }

        .fitting-card-actions {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
        }

        .fitting-card-filters {
            display: none;
        }
    }

    h3 {
        font-size: var(--step-1);
    }

    small {
        color:  var(--fleet-yellow);
    }
</style>