---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import type { FleetItem } from '@dtypes/layout_components'

interface Props {
    fleet:  FleetItem;
}

const {
    fleet,
} = Astro.props

import { get_player_icon } from '@helpers/eve_image_server'

import FlexInline from '@components/compositions/FlexInline.astro';
import PilotBadge from '@components/blocks/PilotBadge.astro';
import Countdown from '@components/blocks/Countdown.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import StylessButton from './StylessButton.astro';
---

<StylessButton
    href={translatePath(`/fleets/upcoming/${fleet.id}/`)}
    @countdown="notify($event.detail.id)"
    x-data={`{
        notify(fleet_id) {
            if (fleet_id !== ${fleet.id})
                return

            const notification = new Notification(
                '${t('push_up_notification_title')}', {
                body: \`${fleet.description}\`,
                icon: '${get_player_icon(fleet.fleet_commander_id)}',
                requireInteraction: true,
            })

            notification.onclick = (e) => {
                navigate('${translatePath(`/fleets/upcoming/${fleet.id}`)}')
            }
        }
    }`}
>
    <FlexInline
        justification='space-between'
        gap='0'
    >
        <PilotBadge
            class="[ basis-[220px] ]"
            character_id={fleet.fleet_commander_id}
            character_name={fleet.fleet_commander_name}
        />
        <small>{t(fleet.type as any)} {t('fleet')}</small>
        <div class="[ text-center pr-[var(--space-l)] basis-[340px] ]">
            {fleet?.tracking && !fleet?.tracking?.end_time &&
                <p class="[ fleet-status-text blink-animation ]">{t('active')}</p>
            }

            {fleet?.tracking && fleet?.tracking?.end_time &&
                <p class="[ fleet-status-text ]">{t('completed')}</p>
            }

            {!fleet?.tracking ?
                <Countdown
                    date={fleet.start_time}
                    id={fleet.id}
                    tag="countdown-fleet"
                />
                :
                <div class="[ hidden ]">
                    <Countdown
                        date={fleet.start_time}
                        id={fleet.id}
                        tag="countdown-fleet"
                    />
                </div>
            }
        </div>
    </FlexInline>
</StylessButton>

<style lang="scss">
    a {
        display: block;
        color: var(--fleet-yellow);
    }
    
    a:focus-visible {
        outline-color: var(--highlight);
        outline-style: double;
        outline-offset: -1px;
    }
    
    .fleet-status-text {
        font-family: var(--heading-font);
        font-size: var(--step-0);
        color: var(--highlight);
		letter-spacing: 12px;
        text-indent: 12px;
		line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
    }
</style>