---
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

import type { FleetItem } from '@dtypes/layout_components'

interface Props {
    fleet:  FleetItem;
}

const {
    fleet,
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';
import PilotBadge from '@components/blocks/PilotBadge.astro';
import Countdown from '@components/blocks/Countdown.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import StylessButton from './StylessButton.astro';
---

<StylessButton
    href={translatePath(`/fleets/upcoming/${fleet.id}/`)}
>
    <FlexInline
        justification='space-between'
        gap='0'
    >
        <PilotBadge
            class="[ basis-[220px] ]"
            character_id={fleet.fleet_commander_id}
            character_name={fleet.fleet_commander_name}
        />
        <small>{t(fleet.type as any)} {t('fleet')}</small>
        <div class="[ text-center pr-[var(--space-s)] ]">
            <Countdown
                date={fleet.start_time}
                id={`countdown-fleet-${fleet.id}`}
                expired_text={t('forming')}
            />
        </div>
    </FlexInline>
</StylessButton>

<style lang="scss">
    a {
        display: block;
        color: var(--fleet-yellow);
    }
    
    a:focus-visible {
        outline-color: var(--highlight);
        outline-style: double;
        outline-offset: -1px;
    }
</style>