---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { TrackingStatus } from '@dtypes/api.minmatar.org'
import type { Tracking, Alert, FleetTrackingTexts } from '@dtypes/layout_components'

interface Props {
    fleet_id:                   number;
    start_time:                 Date;
    fleet_tracking?:            Tracking;
    fleet_status?:              TrackingStatus;
    is_fleet_commander:         boolean;
    alert?:                     false | Alert;
    start_tracking?:            boolean;
    fleet_tracking_texts?:      FleetTrackingTexts | false;
}

const {
    fleet_id,
    start_time,
    fleet_tracking,
    fleet_status,
    is_fleet_commander,
    alert = false,
    start_tracking = false,
    fleet_tracking_texts = false,
} = Astro.props

import { minutes_to } from '@helpers/date';

const diff_time = minutes_to(start_time)
const minutes_to_fleet = diff_time < 0 ? Math.abs(diff_time) : 0
const is_fleet_time = minutes_to_fleet < 30

const FLEET_STATUS_PARTIAL_URL = `${translatePath('/partials/fleet_status_component')}?id=${fleet_id}`

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';

import StartFleetButton from '@components/blocks/StartFleetButton.astro';
import EndFleetButton from '@components/blocks/EndFleetButton.astro';
import Countdown from '@components/blocks/Countdown.astro';
import CompletedStatus from '@components/blocks/CompletedStatus.astro';
---

<div
    id="fleet-status"
    x-data={`{
        is_fleet_time: ${JSON.stringify(is_fleet_time)},
        init() {
            ${alert !== false ? `show_alert_dialog(${JSON.stringify(alert)})` : ''}
            ${JSON.stringify(start_tracking)} && $dispatch('tracking_started')
        }
    }`}
    hx-get={!fleet_tracking?.end_time ? FLEET_STATUS_PARTIAL_URL: undefined}
    hx-trigger={!fleet_tracking?.end_time ? 'load delay:60s' : undefined}
    hx-swap={!fleet_tracking?.end_time ? 'outerHTML transition:true' : undefined}
    hx-indicator={!fleet_tracking?.end_time ? '.loader' : undefined}
>
    <Flexblock
        class="[ grow text-center ]"
        centered={true}
    >
        {fleet_tracking === null && fleet_status !== 'cancelled' &&
            <Countdown
                date={start_time}
                id={fleet_id}
                tag='countdown-fleet'
                x-data={`{
                    init() {
                        window.addEventListener('countdown', event => {
                            is_fleet_time = true
                        })
                    }
                }`}
            />
        }

        {fleet_status === 'cancelled' &&
            <p class="[ fleet-status-text cancelled ]">{t('cancelled')}</p>
        }

        {fleet_status !== 'cancelled' && fleet_tracking && !fleet_tracking?.end_time &&
            <Flexblock>
                <p class="[ fleet-status-text blink-animation ]">{t('active')}</p>

                {is_fleet_commander &&
                    <EndFleetButton id={fleet_id} />
                }
            </Flexblock>

        }

        {fleet_status !== 'cancelled' && fleet_tracking && fleet_tracking?.end_time &&
            <CompletedStatus fleet_tracking_texts={fleet_tracking_texts} />
        }

        {is_fleet_commander && is_fleet_time && !fleet_tracking && fleet_status !== 'cancelled' &&
            <StartFleetButton id={fleet_id} />
        }

        {is_fleet_commander && !is_fleet_time && !fleet_tracking && fleet_status !== 'cancelled' &&
            <template
                id="fleet-tick"
                x-if="is_fleet_time"
                x-data={`{
                    init() {
                        if (is_fleet_time) return

                        const timer = setInterval(function () {
                            const countDownDate = new Date('${start_time}').getTime();
                            const now = new Date().getTime();
                            const distance = countDownDate - now;
                            const DISTANCE_30_MINUTES = 30*60*1000

                            if (!document.getElementById('fleet-tick'))
                                clearInterval(timer)

                            if (distance <= DISTANCE_30_MINUTES) {
                                is_fleet_time = true
                                $dispatch('is_fleet_time')
                                clearInterval(timer)
                            }
                        }, 1000)
                    }
                }`}
            >
                <StartFleetButton id={fleet_id} />
            </template>
        }

        {fleet_tracking && !fleet_tracking?.is_registered && !fleet_tracking?.end_time &&
            <TextBox max_width='40rem'>
                <Flexblock gap='var(--space-xs)' class="[ text-left ]">
                    <p>{t('missing_advert')}</p>
                    <small>{t('missing_advert_subtext')}</small>
                </Flexblock>
            </TextBox>
        }
    </Flexblock>
</ComponentBlock>

<style lang="scss">
    .fleet-status-text {
        font-family: var(--heading-font);
        font-size: var(--step-0);
        margin-left: -10px;
        margin-right: -10px;
        color: var(--highlight);
		letter-spacing: 12px;
        text-indent: 12px;
		line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;

        &.cancelled {
            color: var(--fleet-red);
        }
    }
</style>