---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

import type { FleetItem } from '@dtypes/layout_components';

interface Props {
    fleet: FleetItem;
    history?: boolean;
    [propName: string]: any;
}

const {
    fleet,
    history = false,
    ...attributes
} = Astro.props

import { get_player_icon } from '@helpers/eve_image_server'
import { marked } from 'marked';
import { renderer } from '@helpers/marked';

const APPLY_HINT_TEXT = (marked.parseInline(t('apply_hint')) as string)
    .replace(
        'FLEET_PAGE_LINK', translatePath('/alliance/')
    ).replace(
        'CORPORATIONS_PAGE_LINK', translatePath('/alliance/corporations/list/')
    )

import { get_fleet_tracking_texts } from '@helpers/fetching/fleets'
const fleet_tracking_texts = get_fleet_tracking_texts(lang, fleet.tracking)

const [ system, station ] = fleet.location?.split(' - ') ?? []

import StratopIcon from '@components/icons/StratopIcon.astro';
import NonStrategicIcon from '@components/icons/NonStrategicIcon.astro';
import TrainingIcon from '@components/icons/TrainingIcon.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import BlockList from '@components/compositions/BlockList.astro'

import Countdown from '@components/blocks/Countdown.astro';
import TextGroup from '@components/blocks/TextGroup.astro';
import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';
import LocalTimeGroup from '@components/blocks/LocalTimeGroup.astro';
import TimeAlternator from '@components/blocks/TimeAlternator.astro'
import CompletedStatus from '@components/blocks/CompletedStatus.astro'

const eve_time = new Date(fleet.start_time);
const eve_time_text = eve_time.toLocaleDateString(lang, JSON.parse(import.meta.env.DATETIME_FORMAT))
---

<Flexblock
    class="[ card component border light-transparency relative ]"
    gap='0'
>
    <div
        class="[ absolute top-0 left-0 z-10 ]"
        data-tippy-content={
            fleet.type === 'strategic' ?
            t('strategic_fleet') :
            fleet.type === 'training' ?
            t('training_fleet') :
            t('non_strategic_fleet')
        }
        x-init="tippy($el, tippy_options)"
    >
        {fleet.type === 'strategic' ?
            <StratopIcon /> :
            fleet.type === 'training' ?
            <TrainingIcon /> :
            fleet.type === 'non_strategic' &&
            <NonStrategicIcon />
        }
    </div>

    <Tile
        title={fleet.fleet_commander_name}
        cover={get_player_icon(fleet.fleet_commander_id, 512)}
        transparent={true}
        soft={false}
    >
        <Flexblock slot="subtitle">
            <FlexInline gap='var(--space-2xs)'>
                <span><b>{system}</b> - {station}</span>
            </FlexInline>

            <Flexblock
                class="[ wrap-break-word max-w-full pr-1.5 max-h-[130px] overflow-y-auto ]"
                gap="var(--space-s-m)"
                set:html={marked.parse(fleet.description ?? '', { renderer })}
            />
        </Flexblock>
    </Tile>

    <Wrapper
        class="[ pb-(--component-padding-block)! grow ]"
        padding_inline='var(--component-padding-block)'
        padding_block='0'
        max_width='100%'
    >
        <Flexblock
            class="[ justify-between! h-full ]"
            gap='var(--space-l)'
        >
            <Flexblock gap='var(--space-l)'>
                <FlexInline class="[ !w-auto item ]">
                    <Button
                        href={translatePath(`/fleets/${history ? 'history' : 'upcoming'}/${fleet.id}`)}
                        size='sm'
                    >
                        {t('view_details')}
                    </Button>
                </FlexInline>

                {
                    fleet?.status === 'cancelled' ?
                        <p class="[ fleet-status-text cancelled ]">{t('cancelled')}</p> :
                    fleet?.tracking && !fleet?.tracking?.end_time ?
                        <p class="[ fleet-status-text blink-animation ]">{t('active')}</p> :
                    fleet?.tracking && fleet?.tracking?.end_time ?
                        <CompletedStatus fleet_tracking_texts={fleet_tracking_texts} /> :
                    !history && !fleet?.tracking ?
                        <TimeAlternator>
                            <BlockList
                                slot="time"
                                x-data={`{
                                    tick: 0,
                                    alternate() {
                                        this.tick = (this.tick + 1) % 4
                                    }
                                }`}
                                @tick.window="alternate()"
                            >
                                <div x-show="tick < 2">
                                    <TextGroup
                                        title={t('eve_time')}
                                        class="[ sentence-cap ]"
                                    >
                                        {eve_time_text}
                                    </TextGroup>
                                </div>
                                <div x-show="tick > 1" style="display: none">
                                    <LocalTimeGroup eve_time={eve_time} />
                                </div>
                            </Flexblock>

                            <div slot="countdown" class="[ -ml-2.5 ]">
                                <Countdown
                                    date={fleet.start_time}
                                    id={fleet.id}
                                    tag='countdown-fleet'
                                />
                            </div>
                        </TimeAlternator> :
                        <p>{t('no_tracking_data')}</p>
                }
            </CompletedStatus>

            {!history &&
                <FlexInline>
                    <Button
                        href={translatePath(`/fleets/${history ? 'history' : 'upcoming'}/${fleet.id}/volunteer`)}
                        color='green'
                    >
                        {t('volunteer')}
                    </Button>
                </FlexInline>
            }
        </Flexblock>
    </Wrapper>
</Flexblock>

<style lang="scss">
    .wrap-break-word {
        max-width: 100%;
        overflow-wrap: break-word;
    }

    :global(.wrap-break-word *) {
        max-width: 100%;
        overflow-wrap: break-word;
    }

    .fleet-status-text {
        font-family: var(--heading-font);
        font-size: var(--step-0);
        margin-left: -10px;
        margin-right: -10px;
        color: var(--highlight);
		letter-spacing: 12px;
        text-indent: 12px;
		line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;

        &.cancelled {
            color: var(--fleet-red);
        }
    }
</style>