---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { FleetItem, DoctrineType } from '@dtypes/layout_components'
import type { Contract, FleetCommanderMetrics } from '@dtypes/api.minmatar.org'

interface Props {
    fleets:             FleetItem[];
    active_fleets?:     FleetItem[];
    active_doctrines?:  (DoctrineType | null)[];
    history?:           boolean;
    init_tooltips:      boolean;
    supply_contracts?:  Contract[][];
    fc_metrics?:        FleetCommanderMetrics[] | null;
}

const {
    fleets,
    active_fleets = [],
    active_doctrines = [],
    history = false,
    init_tooltips,
    supply_contracts = [],
    fc_metrics,
} = Astro.props

const active_fleets_ids = active_fleets ? active_fleets.map(fleet => fleet.id) : []
const fleet_list = fleets.filter(fleet => !active_fleets_ids.includes(fleet.id))
const show_fleet_commanders_bar = fc_metrics && fc_metrics.length > 0
const skip_hero = active_fleets?.length > 0

const AUDIENCE_IDS = {
    'Etherium Reach': 1,
    'Warzone': 2,
}

import {
    get_location_video_cover,
    get_location_video_cover_thumb,
    get_location_cover,
    get_location_cover_990,
} from '@helpers/covers'

const is_video_cover = active_fleets.length > 0 ?
    Boolean(get_location_video_cover(active_fleets[0]?.location ?? '')) :
    false

import PageCover from '@components/page/partials/PageCover.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Grid from '@components/compositions/Grid.astro';
import BlockList from '@components/compositions/BlockList.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import FleetListItem from '@components/blocks/FleetListItem.astro';
import StylessButton from '@components/blocks/StylessButton.astro';
import FleetHero from '@components/blocks/FleetHero.astro';
import Countdown from '@components/blocks/Countdown.astro';
import Tag from '@components/blocks/Tag.astro';
import Button from '@components/blocks/Button.astro';
import FleetCommandersReel from '@components/blocks/FleetCommandersReel.astro';
import LandingSwiper from '@components/blocks/LandingSwiper.astro';
---

<BlockList
    gap='var(--space-xl)'
    class={show_fleet_commanders_bar ? 'compensate-bottom-bar' : undefined}
>
    {active_fleets.length > 0 ?
        <Flexblock gap='0'>
            <Wrapper
                class="[ relative ]"
                max_width='100%'
                padding_block='0'
                padding_inline='0'
                x-intersect:enter="show_fc_ranking = false"
                x-intersect:leave="show_fc_ranking = true"
            >
                <div class="[ swiper ][ w-full ]">
                    <LandingSwiper gap={5} pagination={false} delay_ms={60000} effect='fade'>
                        {active_fleets.map((fleet, index) =>
                            <div
                                class:list={[ 'swiper-slide', { 'wide': true }, { 'swiper-slide-active': index === 0} ]}
                                style="margin-right: 5px"
                            >
                                <Flexblock
                                    gap='var(--space-xl)'
                                    hx-get={translatePath(`/partials/fleet_cover?audience_id=${AUDIENCE_IDS[fleet.audience] ?? 2}`)}
                                    hx-target="#viewport-cover-oob"
                                    hx-trigger="intersect delay:2000ms"
                                    hx-swap="outerHTML transition:true"
                                    hx-indicator=".loader"
                                >
                                    <FleetHero
                                        fleet={fleet}
                                        doctrine={active_doctrines[index] ?? null}
                                        supply_contracts={supply_contracts[index]}
                                        init_tooltips={init_tooltips}
                                    >
                                        {fleet &&
                                            <Tag class="[ blink-animation ]" text={t('in_development')}></Tag>

                                            <Countdown
                                                date={fleet.tracking?.start_time ?? fleet.start_time}
                                                id={fleet.id}
                                                expired_class={false}
                                                tag='countdown-fleet'
                                            />
                                        }
                                    </FleetHero>
                                    {fleet &&
                                        <FlexInline class="[ !w-auto item animate-slide-up-fade animate-delay-1000 ]">
                                            <Button
                                                href={translatePath(`/fleets/${history ? 'history' : 'upcoming'}/${fleet.id}`)}
                                                size='sm'
                                            >
                                                {t('view_details')}
                                            </Button>

                                            <Button
                                                href={translatePath(`/fleets/${history ? 'history' : 'upcoming'}/${fleet.id}/volunteer`)}
                                                size='sm'
                                                color='green'
                                            >
                                                {t('volunteer')}
                                            </Button>
                                        </FlexInline>
                                    }
                                </Flexblock>
                            </div>
                        )}
                    </LandingSwiper>
                </div>

                <div class="[ swiper-button-prev ]"></div>
                <div class="[ swiper-button-next ]"></div>
            </Wrapper>
        
            {fleet_list.length > 0 &&
                <FlexInline justification='center' class="[ animate-fade-in animate-duration-250 animate-delay-1000 ]">
                    <StylessButton href='#other-fleets' class="[ caret-down ]" />
                </FlexInline>
            }
        </Flexblock>
        
        <>{init_tooltips &&
            <PageCover
                video={get_location_video_cover(active_fleets[0].location ?? '') ?? undefined}
                video_thumb={get_location_video_cover_thumb(active_fleets[0].location ?? '') ?? undefined}
                image={get_location_cover(active_fleets[0].location ?? '') ?? '/images/fleets-cover.jpg'}
                image_990={get_location_cover_990(active_fleets[0].location ?? '') ?? '/images/fleets-cover.jpg'}
                animated={false}
                scrollable={true}
                overlay={true}
                oob_swap={true}
            />
        }</>
        :
        <>{init_tooltips &&
            <PageCover
                image="/images/fleets-cover.jpg"
                image_990="/images/fleets-cover.jpg"
                scrollable={true}
                overlay={true}
                oob_swap={true}
            />
        }</>
    }

    <div class:list={[ { 'animate-fade-in animate-duration-250 animate-delay-1000': active_fleets.length > 0 } ]}>
        <Grid
            id="other-fleets"
            class="[ w-full grid-fill ]"
            row_gap="var(--space-3xs)"
            column_gap="var(--space-3xs)"
            min_item_width="350px"
            x-data={`{
                init() {
                    const timer = setInterval(() => {
                        $dispatch('tick')
                    }, 5000)

                    function clearTimer(event) {
                        clearInterval(timer)
                        event.currentTarget.removeEventListener('astro:after-swap', clearTimer)
                    }

                    document.addEventListener('astro:after-swap', clearTimer)
                }
            }`}
        >
            {fleet_list.map((fleet) =>
                <FleetListItem
                    role="listitem"
                    fleet={fleet}
                    history={history}
                    init_tooltips={init_tooltips}
                />
            )}
        </Grid>
    </div>

    {fleets.length == 0 &&
        <Flexblock gap='var(--space-xl)' centered={true}>
            <p>{t('fleets.upcoming.empty_message')}</p>
        </Flexblock>
    }
</BlockList>

{show_fleet_commanders_bar &&
    <div
        x-data={`{
            initialized: false,
        }`}
        x-show={skip_hero ? "show_fc_ranking || !initialized" : undefined}
        x-on:marquee-started={skip_hero ? "$nextTick(() => { initialized = true; })" : undefined}
    >
        <FleetCommandersReel
            fc_metrics={fc_metrics}
        />
    </div>
}

<style lang="scss">
	.caret-down {
		transform: rotate(90deg);

		&:before {
			content: 'next';
			color: var(--highlight);
			font-family: swiper-icons;
			font-size: var(--swiper-navigation-size);
			text-transform: none !important;
			letter-spacing: 0;
			font-variant: initial;
			line-height: 1;
		}
	}

    .swiper-slide {
        padding-bottom: var(--space-xl);
    }

    :global(.swiper-initialized .swiper-slide > div) {
        display: none;
    }

    :global(.swiper-initialized .swiper-slide-active > div) {
        display: block !important;
    }

     .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: calc(-1 * var(--space-m-l));

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }
</style>