---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

import type { FleetItem } from '@dtypes/layout_components';

interface Props {
    fleet: FleetItem;
    history?: boolean;
    [propName: string]: any;
}

const {
    fleet,
    history = false,
    ...attributes
} = Astro.props

import { get_player_icon } from '@helpers/eve_image_server'
import { marked } from 'marked';
const APPLY_HINT_TEXT = (marked.parseInline(t('apply_hint')) as string)
    .replace(
        'FLEET_PAGE_LINK', translatePath('/alliance/')
    ).replace(
        'CORPORATIONS_PAGE_LINK', translatePath('/alliance/corporations/list/')
    )

import Flexblock from '@components/compositions/Flexblock.astro';

import Button from '@components/blocks/Button.astro';
import ThumbCard from '@components/blocks/ThumbCard.astro';
import Countdown from '@components/blocks/Countdown.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import TextGroup from '@components/blocks/TextGroup.astro';

import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';
import StratopIcon from '@components/icons/StratopIcon.astro';
import NonStrategicIcon from '@components/icons/NonStrategicIcon.astro';
import TrainingIcon from '@components/icons/TrainingIcon.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Tag from './Tag.astro'

const eve_time = new Date(fleet.start_time);
const eve_time_text = eve_time.toLocaleDateString(lang, JSON.parse(import.meta.env.DATETIME_FORMAT))
---

<ThumbCard
    thumb_name={fleet.fleet_commander_name}
    thumb_image={get_player_icon(fleet.fleet_commander_id, 512)}
    thumb_image_small={get_player_icon(fleet.fleet_commander_id, 512)}
    thumb_image_alt={fleet.fleet_commander_name}
    thumb_title={t('fleet_commander')}
    x-data={`{
        time_class: '',
        time_tooltip: false,
        set_time_class() {
            const date = new Date('${eve_time} UTC')
            const hour = date.getHours()

            if (hour >= 0 && hour < 1) {
                this.timer_class = 'text-status-point-1'
                this.time_tooltip = '${t('sleeptime')}'
            } else if (hour >= 1 && hour < 7) {
                this.time_class = 'text-status-point-2'
                this.time_tooltip = '${t('sleeptime')}'
            } else if (hour >= 7 && hour < 8) {
                this.time_class = 'text-status-point-3'
                this.time_tooltip = '${t('sleeptime')}'
            } else if (hour >= 8 && hour < 9) {
                this.time_class = 'text-status-point-4'
                this.time_tooltip = '${t('daytime')}'
            } else if (hour >= 9 && hour < 19) {
                this.time_class = 'text-status-point-5'
                this.time_tooltip = '${t('daytime')}'
            } else if (hour >= 19 && hour < 20) {
                this.time_class = 'text-status-point-6'
                this.time_tooltip = '${t('nighttime')}'
            } else if (hour >= 20 && hour < 21) {
                this.time_class = 'text-status-point-7'
                this.time_tooltip = '${t('nighttime')}'
            } else if (hour >= 21 && hour < 22) {
                this.time_class = 'text-status-point-8'
                this.time_tooltip = '${t('nighttime')}'
            } else if (hour >= 22 && hour < 23) {
                this.time_class = 'text-status-point-9'
                this.time_tooltip = '${t('nighttime')}'
            } else if (hour >= 23) {
                this.time_class = 'text-status-null'
                this.time_tooltip = '${t('sleeptime')}'
            } else {
                this.time_class = 'text-yellow'
                this.time_tooltip = '${t('daytime')}'
            }
        },
        local_time: new Date('${eve_time} UTC').toLocaleDateString(
            '${lang}',
            ${import.meta.env.DATETIME_FORMAT}
        ),
        tippy_options: {
            delay: [ 100, 200 ],
            arrow: true,
        },
        init() {
            this.set_time_class()
        }
    }`}
    {...attributes}
>
    <div
        class="[ absolute top-0 left-0 ]"
        data-tippy-content={
            fleet.type === 'strategic' ?
            t('strategic_fleet') :
            fleet.type === 'training' ?
            t('training_fleet') :
            t('non_strategic_fleet')
        }
        x-init="tippy($el, tippy_options)"
    >
        {fleet.type === 'strategic' ?
            <StratopIcon /> :
            fleet.type === 'training' ?
            <TrainingIcon /> :
            fleet.type === 'non_strategic' &&
            <NonStrategicIcon />
        }
    </div>

    {fleet.fleet_commander_id === 0 &&
        <VerticalCenter class="[ grow ]">
            <FlexInline justification='space-between'>
                <Flexblock gap='0'>
                    <p class="[ text-[var(--highlight)] ]">{t('cant_view_fleet_details')}</p>
                    
                    {user && fleet.audience === 'Alliance' &&
                        <small set:html={APPLY_HINT_TEXT} />
                    }
                    {user && fleet.audience === 'Militia' &&
                        <small>{t('enlist_fw_hint')}</small>
                    }
                </Flexblock>
            </FlexInline>
        </VerticalCenter>
    }

    {fleet.fleet_commander_id > 0 &&
        <VerticalCenter>
            <Flexblock gap="var(--space-s-m)">
                <TextGroup title={t('audience')}>
                    {fleet.audience}
                </TextGroup>
                <TextGroup title={t('location')}>
                    {fleet.location}
                </TextGroup>
            </Flexblock>
        </VerticalCenter>
        
        <VerticalCenter>
            <Flexblock gap="var(--space-s-m)">
                <TextGroup title={t('eve_time')} class="[ sentence-cap ]">
                    {eve_time_text}
                </TextGroup>
                <TextGroup title={t('local_time')}>
                    <span
                        class="[ sentence-cap ]"
                        x-bind:class="time_class"
                        x-text="local_time"
                        x-bind:data-tippy-content="time_tooltip"
                        x-init="tippy($el, this.tippy_options)"
                    >
                        <span class="[ loading ]">{t('calculating')}</span>
                    </span>
                </TextGroup>
            </Flexblock>
        </VerticalCenter>
    }
        
    {fleet.fleet_commander_id > 0 &&
        <VerticalCenter>
            <Flexblock>
                {fleet?.tracking && !fleet?.tracking?.end_time &&
                    <p class="[ fleet-status-text blink-animation ]">{t('active')}</p>
                }

                {fleet?.tracking && fleet?.tracking?.end_time &&
                    <p class="[ fleet-status-text ]">{t('completed')}</p>
                }

                {!history && !fleet?.tracking &&
                    <Countdown
                        date={fleet.start_time}
                        id={fleet.id}
                        tag='countdown-fleet'
                    />
                }
            </Flexblock>
        </VerticalCenter>
    }

    {fleet.fleet_commander_id > 0 &&
        <VerticalCenter slot="actions">
            <Button href={translatePath(`/fleets/${history ? 'history' : 'upcoming'}/${fleet.id}`)}>
                <MagnifierIcon slot="icon" />
                {t('view_details')}
            </Button>
        </VerticalCenter>
    }
</ThumbCard>

<style>
    .fleet-status-text {
        font-family: var(--heading-font);
        font-size: var(--step-0);
        margin-left: -10px;
        margin-right: -10px;
        color: var(--highlight);
		letter-spacing: 12px;
        text-indent: 12px;
		line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
    }
</style>