---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { FleetCombatLog } from '@dtypes/layout_components'
import { format_date_time } from '@helpers/date'
import { get_app_url } from '@helpers/env'

interface Props {
    log:        FleetCombatLog;
}

const {
    log,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';

import Card from '@components/blocks/Card.astro';
import StylessButton from '@components/blocks/StylessButton.astro';
import ClipboardButton from '@components/blocks/ClipboardButton.astro';
---

<StylessButton href={translatePath(`/intel/combatlog/${log.id}`)}>
    <Card
        item_id={log.logger.character_id}
        item_name={log.logger.character_name}
        type='character'
        inert={true}
    >
        <ClipboardButton
            slot='actions'
            id={`share-log-${log.id}`}
            text={t('share')}
            narrow={true}
        >
            {translatePath(`${get_app_url(`/intel/combatlog/${log.id}`)}`)}
        </ClipboardButton>
        
        <Flexblock gap='0'>
            <h4>{log.logger.character_name}</h4>
            <small>{format_date_time(lang, log.uploaded_at)}</small>
        </Flexblock>
    </Card>
</StylessButton>

<style lang="scss">
    small {
        color: var(--foreground);
    }
</style>