---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { FreightRoutesData } from '@dtypes/layout_components'

interface Props {
    freight_routes_data:    FreightRoutesData;
    default_route:          string | number;
}

const {
    freight_routes_data,
    default_route,
} = Astro.props

import { number_name } from '@helpers/numbers.ts'

const MAXIMUM_CARGO = 350000
const HIGH_COLLATERAL_WARNING = 2500000000

import Flexblock from '@components/compositions/Flexblock.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import Button from '@components/blocks/Button.astro';
import Select from '@components/blocks/Select.astro';
import NumberInput from './NumberInput.astro';
---

<form
    method="POST"
    action={translatePath('/market/freight/contract')}
    x-data={`{
        route_id: '${default_route}',
        routes_options: ${JSON.stringify(freight_routes_data.routes)},
        route_details: ${JSON.stringify(freight_routes_data.route_details ?? {})},
        contract_size: '',
        collateralValue: 0,
        submitted: false,
    }`}
    x-on:submit="submitted = true"
    x-on:collateral-change="collateralValue = $event.detail"
>
    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
        <h2>{t('freight.standard.calculator_title')}</h2>
        
        <Flexblock>
            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="route">{t('route')}</label>
                    <Select id="route" name="route" x-model="route_id">
                        {freight_routes_data.routes.map((option) => 
                            <option value={option.value}>{option.label}</option>
                        )}
                    </Select>
                </FixedFluid>
            </VerticalCenter>

            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="contract_size">
                        <span data-tippy-content={t('freight_maximum_cargo').replace('{maximum}', MAXIMUM_CARGO.toLocaleString())}>
                            {t('contract_size')} (m<sup>3</sup>)
                        </span>
                    </label>
                    <NumberInput
                        id="contract_size"
                        name="contract_size"
                        required
                        placeholder={t('freight.volume_placeholder')}
                        model="contract_size"
                        x-data={`{
                            MAXIMUM_CARGO: ${MAXIMUM_CARGO},
                            update_validity() {
                                const current_val = parseFloat($el.value.replaceAll(',', ''))

                                if (current_val > this.MAXIMUM_CARGO)
                                    $el.setCustomValidity('${t('maximum_cargo')}'.replace('{maximum}', this.MAXIMUM_CARGO.toLocaleString()))
                                else
                                    $el.setCustomValidity('')
                            }
                        }`}
                        x-on:input="update_validity()"
                    />
                </FixedFluid>
            </VerticalCenter>

            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="collateral"><span data-tippy-content={t('freight.standard.faq_2_text')}>{t('collateral')} (ISK)</span></label>
                    <NumberInput
                        id="collateral"
                        name="collateral"
                        model="collateral"
                        x-on:input="$dispatch('collateral-change', parseFloat(($event.target.value || '').replace(/,/g, '')) || 0)"
                        required
                    />
                </FixedFluid>
            </VerticalCenter>

            <div
                class="[ high-collateral-warning ]"
                x-show={`route_details[route_id] && route_details[route_id].collateral_modifier > 0 && collateralValue >= ${HIGH_COLLATERAL_WARNING}`}
                style="display: none"
                role="alert"
            >
                <FixedFluid
                    gap="var(--space-3xs)"
                    width="250px"
                    breakpoint="60%"
                >
                    <div></div>
                    <p class="[ animate-rubber-band ]">{t('high_collateral_warning').replace('{value}', number_name(HIGH_COLLATERAL_WARNING, lang))}</p>
                </FixedFluid>
            </div>
        </Flexblock>

        <Button x-bind:disabled="submitted" type="submit" class="[ w-full ]">{t('calculate')}</Button>
    </Flexblock>
</form>