---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { FreightRoutesData } from '@dtypes/layout_components'

interface Props {
    freight_routes_data:    FreightRoutesData;
    default_route:          string | number;
}

const {
    freight_routes_data,
    default_route,
} = Astro.props

const MAXIMUM_CARGO = 350000

import Flexblock from '@components/compositions/Flexblock.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import Button from '@components/blocks/Button.astro';
import Select from '@components/blocks/Select.astro';
import NumberInput from '@components/blocks/NumberInput.astro';
---

<form
    method="POST"
    action={translatePath('/market/freight/contract')}
    x-data={`{
        route_id: '${default_route}',
        routes_options: ${JSON.stringify(freight_routes_data.routes)},
        contract_size: '',
        submitted: false,
    }`}
    x-on:submit="submitted = true"
>
    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
        <h2>{t('freight.calculator.calculator_title')}</h2>
        
        <Flexblock>
            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="route">{t('route')}</label>
                    <Select id="route" name="route" x-model="route_id">
                        {freight_routes_data.routes.map((option) => 
                            <option value={option.value}>{option.label}</option>
                        )}
                    </Select>
                </FixedFluid>
            </VerticalCenter>

            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="contract_size">
                        <span data-tippy-content={t('freight_maximum_cargo').replace('{maximum}', MAXIMUM_CARGO.toLocaleString())}>
                            {t('contract_size')} (m<sup>3</sup>)
                        </span>
                    </label>
                    <NumberInput
                        id="contract_size"
                        name="contract_size"
                        required
                        placeholder={t('freight.volume_placeholder')}
                        model="contract_size"
                        x-data={`{
                            MAXIMUM_CARGO: ${MAXIMUM_CARGO},
                            update_validity() {
                                const current_val = parseFloat($el.value.replaceAll(',', ''))

                                if (current_val > this.MAXIMUM_CARGO)
                                    $el.setCustomValidity('${t('maximum_cargo')}'.replace('{maximum}', this.MAXIMUM_CARGO.toLocaleString()))
                                else
                                    $el.setCustomValidity('')
                            }
                        }`}
                        x-on:input="update_validity()"
                    />
                </FixedFluid>
            </VerticalCenter>

            <VerticalCenter>
                <FixedFluid class="[ w-full items-center ]" gap="var(--space-3xs)" width="250px" breakpoint="60%">
                    <label for="collateral"><span data-tippy-content={t('freight.calculator.faq_2_text')}>{t('collateral')} (ISK)</span></label>
                    <NumberInput
                        id="collateral"
                        name="collateral"
                        model="collateral"
                        required
                    />
                </FixedFluid>
            </VerticalCenter>
        </Flexblock>

        <Button x-bind:disabled="submitted" type="submit" class="[ w-full ]">{t('calculate')}</Button>
    </Flexblock>
</form>
