---
import Flexblock from '@components/compositions/Flexblock.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

interface Props {
    thumb_title?: string;
    thumb_name?: string;
    thumb_alt?: string;
    logo?: string,
    thumb_image: string;
    thumb_image_small: string;
}

const {
    thumb_title,
    thumb_name,
    thumb_alt,
    thumb_image,
    thumb_image_small,
    logo,
} = Astro.props

const image_alt = {
    ...(thumb_alt && { "alt": thumb_alt })
}
---

<picture class="[ fullbody-card ]">
    <source srcset={thumb_image_small} media="(max-width: 686px)">
    <img loading="lazy" height="1" width="1" src={thumb_image} {...image_alt} />
    
    {thumb_name &&
        <figcaption class="[ transparency ]">
            <Flexblock gap={(thumb_title ? 'var(--space-3xs)' : '0')}>
                <h4>{thumb_title}</h4>
                <FixedFluid width={(logo ? '32px' : '0')} gap={(logo ? 'var(--space-3xs)' : '0')} class="[ items-center ]">
                    {logo &&
                        <img loading="lazy" src={logo} width="32" height="32" />
                    }
                    <p>{thumb_name}</p>
                </FixedFluid>
            </Flexblock>
        </figcaption>
    }
</picture>

<style lang="scss">
    .fullbody-card {
        position: relative;
        background-color: #292929;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        figcaption {
            position: absolute;
            bottom: -1px;
            inset-inline: 0;
            padding: var(--space-2xs) var(--space-xs) var(--space-2xs);

            p {
                line-height: 1.1;
            }
        }
    }
</style>