---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { GroupItemUI } from '@dtypes/layout_components'
import { strip_markdown } from '@helpers/string';

interface Props {
    group:              GroupItemUI;
    groups_type:        'team' | 'group';
}

const {
    group,
    groups_type,
} = Astro.props

const sigs_covers = {
    'Black Ops': '/images/support-card.jpg',
    'Force Auxiliary Carriers': '/images/fax-card.jpg',
    'Dreads': '/images/dread-card.jpg',
    'Carriers': '/images/carrier-card.jpg',
    'Tournaments': '/images/tournament-card.jpg',
    'Mining': '/images/mining-card.jpg',
    'Capital production': '/images/capital-production-card.jpg',
    'Ship production': '/images/ship-production-card.jpg',
    'Freighters': '/images/hauler-card.jpg',
    'Consumables': '/images/consumables-card.jpg',
}

const team_covers = {
    'Conversion Team': '/images/conversion-card.jpg',
    'Conversion': '/images/conversion-card.jpg',
    'Supply Team': '/images/hauler-card.jpg',
    'Supply': '/images/hauler-card.jpg',
    'Technology Team': '/images/techteam-card.jpg',
    'Technology': '/images/techteam-card.jpg',
    'Thinkspeak Team': '/images/thinkspeak-card.jpg',
    'Thinkspeak': '/images/thinkspeak-card.jpg',
    'Internal Affairs': '/images/internal-affairs-card.jpg',
    'Readiness Division': '/images/readiness-card.jpg',
    'Advocate': '/images/advocate-card.jpg',
    'Warzone Coordination': '/images/warzone-card.jpg',
    'Etherium Coordination': '/images/etherium-card.jpg',
}

const LOGO_TEXT = {
    'team': t('team_logo'),
    'group': t('group_logo'),
}

const PLACEHOLDER_IMAGE = groups_type === 'team' ? '/images/icons/48px-Augmentations.png' : '/images/icons/48px-Grouplist.png';

import { query_string } from '@helpers/string'
const GROUP_ITEM_PARTIAL_URL = translatePath('/partials/group_item_component/')

import { hours_diff, from_now_diff } from '@helpers/date'
const hours_since_last_app = hours_diff(group.last_update as Date, new Date())
const REAPPLY_PERIOD_HOURS = 1
const is_re_applicable = group.last_update === null || (hours_since_last_app >= REAPPLY_PERIOD_HOURS)
let reapplication_date = new Date(group.last_update as Date)
reapplication_date.setHours(reapplication_date.getHours() + REAPPLY_PERIOD_HOURS);
const TIME_TO_REAPPLY = from_now_diff(lang, reapplication_date)
const REQUEST_DENIED_TOOLTIP = t('request_denied_tooltip').replace('TIME_TO_REAPPLY', TIME_TO_REAPPLY)

const LEAVE_DIALOG_TITLE = {
    'team': t('team_leave_request_dialog_title'),
    'group': t('group_leave_request_dialog_title')
}

const LEAVE_DIALOG_TEXT = {
    'team': t('team_leave_request_dialog_text'),
    'group': t('group_leave_request_dialog_text')
}

const GROUP_SLUG = {
    'team': 'teams',
    'group': 'sigs'
}

import Wrapper from '@components/compositions/Wrapper.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

import PictureCard from '@components/blocks/PictureCard.astro';
import Tag from '@components/blocks/Tag.astro';
import Button from '@components/blocks/Button.astro';

import AugmentationEvEIcon from '@components/icons/AugmentationEvEIcon.astro';
import GroupsEvEIcon from '@components/icons/GroupsEvEIcon.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
---

<a href={translatePath(`/alliance/${GROUP_SLUG[groups_type]}/${group.id}`)} class:list={{ 'desature-bg': group?.status !== 'confirmed' }}>
    <PictureCard
        src={(groups_type === 'team' ? team_covers[group.name] : sigs_covers[group.name]) ?? `/images/generic-${groups_type}-cover.jpg`}
        alt={group.name}
        narrow={true}
    >
        <div slot="header">
            {group?.status == 'requested' &&
                <Tag
                    data-tippy-content={groups_type === 'team' ? t('pending_team_request_tooltip') : t('pending_group_request_tooltip')}
                    x-init="tippy($el, tippy_options)"
                    color='alliance-blue'
                    text={t('pending')} 
                />
            }
            {group?.status == 'denied' && !is_re_applicable &&
                <Tag
                    data-tippy-content={REQUEST_DENIED_TOOLTIP}
                    x-init="tippy($el, tippy_options)"
                    text={t('denied')} 
                />
            }
            {group?.status == 'error' &&
                <Tag
                    data-tippy-content={t('error_reload')}
                    x-init="tippy($el, tippy_options)"
                    text={t('error_status_corp')} 
                />
            }
        </div>

        {group?.status == 'confirmed' &&
            <div slot="actions">
                <Button
                    size='sm'
                    type="button"
                    x-data={`{
                        show_leave_group_dialog() {
                            show_confirm_dialog({
                                title: '${LEAVE_DIALOG_TITLE[groups_type]}',
                                partial: '${translatePath('/partials/dialog_with_group/')}?${query_string({
                                    name: group.name,
                                    description: group.description,
                                    image_url: JSON.stringify(group.image_url),
                                    type: groups_type,
                                    message: LEAVE_DIALOG_TEXT[groups_type]
                                })}',
                                return_on_accept: ${group.id},
                                hx: {
                                    method: 'delete',
                                    url: '${GROUP_ITEM_PARTIAL_URL}?${query_string({
                                        id: group.id.toString(),
                                        type: groups_type,
                                    })}',
                                    target: '#group-item-${group.id}',
                                    swap: 'outerHTML transition:true'
                                }
                            })
                        }
                    }`}
                    x-on:click.stop.prevent="show_leave_group_dialog()"
                >
                    {t('leave')}
                </Button>
            </div>
        }

        <Wrapper class="[ group-card-body ]" padding_block="var(--space-2xs)" padding_inline="var(--space-2xs)">
            <Flexblock gap='var(--space-2xs)'>
                {!group?.image_url ?
                    <FlexInline>
                        <picture class="bordered">
                            {groups_type === 'team' &&
                                <AugmentationEvEIcon />
                            }
                            {groups_type === 'group' &&
                                <GroupsEvEIcon />
                            }
                        </picture>
                    </FlexInline>
                    :
                    <img
                        loading="lazy"
                        src={group.image_url}
                        width="64"
                        height="64"
                        alt={`${group.name} ${LOGO_TEXT[groups_type]}`}
                        onerror={`
                            this.onerror=null;
                            this.src='${PLACEHOLDER_IMAGE}';
                            this.closest('picture').classList.add('bordered')
                            this.height = 48
                            this.width = 48
                        `}
                    />
                }
                <Flexblock gap='var(--space-3xs)'>
                    <small>{strip_markdown(group.description as string)}</small>
                    <h3>{group.name}</h3>
                </Flexblock>
            </Flexblock>
        </Wrapper>
    </PictureCard>
</a>

<style lang="scss">
    .group-card-body {
        h3 {
            font-size: var(--step-1);
        }

        small {
            color: var(--fleet-yellow);
        }
    }

    picture {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        &.bordered {
            border: solid 1px var(--border-color)
        }
    }

    :global(.desature-bg picture img) {
        filter: saturate(0%);
    }

    :global(.desature-bg:hover picture img) {
        filter: saturate(75%);
    }
</style>