---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import type { GroupMembersUI, GroupItemType } from '@dtypes/layout_components'

interface Props {
    group:  GroupMembersUI;
    type:   GroupItemType;
    [propName: string]: any;
}

const {
    group,
    type,
    ...attributes
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';

import GroupItem from '@components/blocks/GroupItem.astro';
import GroupMemberItem from '@components/blocks/GroupMemberItem.astro';
import ComponentBlockHeader from '@components/blocks/ComponentBlockHeader.astro';
---

<div
    {...attributes}
    x-data={`{
        show_group() {
            return ("${group.id}" in groups_filtered) && groups_filtered[${group.id}].length > 0
        },
        get_members_count() {
            if ("${group.id}" in groups_filtered_members_count)
                return groups_filtered_members_count[${group.id}]

            return 0
        }
    }`}
    x-show="show_group()"
>
    <ComponentBlockHeader
        id={group.id.toString()}
    >
        <GroupItem
            slot="header"
            group={{
                id: group.id,
                name: group.name,
                description: group.description,
                image_url: group.image_url,
                status: null
            }}
            type={type}
        >
            <small
                x-text={'`${get_members_count()} ${get_members_count() != 1 ? `'+t('members').toLowerCase()+'` : `'+t('member').toLowerCase()+'`}`'}
            >
                {group.members.length} {group.members.length != 1 ? t('members').toLowerCase() : t('member').toLowerCase()}
            </small>
        </GroupItem>

        <Flexblock
            gap='var(--space-3xs)'
            class="[ min-h-[64px] justify-center correct-first-element-margin ]"
            x-show="expanded"
            first_element_gap={true}
            x-collapse.duration.100ms
        >
            {group.members.map( (member) => 
                <GroupMemberItem
                    member={member}
                    group={{
                        id: group.id,
                        name: group.name,
                        description: group.description,
                        image_url: group.image_url,
                        status: null
                    }}
                    is_officer={group.officers.includes(member.user_id)}
                    group_type={type}
                    x-data={`{
                        show_item() {
                            return ("${group.id}" in groups_filtered) && groups_filtered[${group.id}].includes(${member.character_id})
                        }
                    }`}
                    x-show="show_item()"
                />
            )}
        </Flexblock>
    </ComponentBlockHeader>
</div>