---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

interface Props {
    gap:        number;
    title:      string;
    subtitle:   string;
    href:       string;
    progress?:  number;
    active?:    boolean;
}

const {
    gap,
    title,
    subtitle,
    href,
    progress,
    active,
} = Astro.props

const HeadingElement = active ? 'h2' : 'h3'

import Flexblock from '@components/compositions/Flexblock.astro';

import Progress from '@components/blocks/Progress.astro';
---

<div class:list={[ "swiper-slide", { 'swiper-slide-active': active } ]} style={`margin-right: ${gap}px`}>
    <a href={href}>
        <Flexblock gap='var(--space-3xs)'>
            <HeadingElement>{title}</HeadingElement>
            {progress &&
                <Progress
                    class:list={[ 'w-full', { danger: progress < 30 } ]}
                    max="100"
                    value={progress > 0 ? progress : 0.1}
                    data-tippy-content={`${progress.toFixed(0)}%`}
                >
                    {progress.toFixed(2)}%
                </Progress>
            }
            <small class="[ text-foreground ]">{subtitle}</small>
        </Flexblock>
    </a>
</div>

<style lang="scss">
    .swiper-slide {
        position: relative;
        width: fit-content;
        opacity: 0.4;

        &.swiper-slide-active,
        &.swiper-slide-active:hover {
            opacity: 1;
        }

        &:focus-within,
        &:hover {
            opacity: 0.75;
        }

        &:focus-within,
        &:hover,
        &.swiper-slide-active {
            &:after {
                content: ' ';
                position: absolute;
                background-color: var(--highlight);
            }

            &:before {
                content: ' ';
                z-index: 1;
                position: absolute;
                width: 24px;
                border-radius: 50%;
                filter: blur(4px);
                bottom: 2px;
                height: 3px;
                left: 50%;
                transform: translateX(-50%);
                background-color: var(--highlight);
            }
        }

        &:after {
            content: ' ';
            position: absolute;
            width: 28px;
            height: 2px;
            bottom: 0;
            background-color: transparent;
            transition: var(--fast-transition);
            left: 50%;
            transform: translateX(-50%);
        }

        a {
            display: block;
            padding-bottom: var(--space-2xs);
        }
    }
</style>