---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { FittingMarketData } from '@helpers/fetching/market'

interface Props {
    fitting:                    FittingMarketData;
    init_tooltips?:             boolean;
    no_expectation_progress?:   boolean;
    [propName: string]:         any;
}

const {
    fitting,
    init_tooltips = false,
    no_expectation_progress = true,
    ...attributes
} = Astro.props

const expected_quantity = fitting.expectation_quantity ?? 0
const current_quantity = fitting.current_quantity ?? 0
const low_amount = expected_quantity > 0 && (current_quantity <= (20 * expected_quantity) / 100)
const completion = current_quantity > expected_quantity ? 100 : expected_quantity > 0 ? (current_quantity / expected_quantity * 100) : 100

import { get_item_icon } from '@helpers/eve_image_server';

import FixedFluid from "@components/compositions/FixedFluid.astro";
import FluidFixed from '@components/compositions/FluidFixed.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import Progress from '@components/blocks/Progress.astro';
import ClipboardButton from '@components/blocks/ClipboardButton.astro';
---

<ComponentBlock
    class="[ market-fitting-card ]"
    padding_block='0'
    padding_inline='0'
    width='thin'
    {...attributes}
>
    <Flexblock gap='1px'>
        <FluidFixed width='230px' class="[ items-center! ]">
            <FixedFluid width='64px' class="[ items-center! ]">
                <picture>
                    <img loading="lazy" src={get_item_icon(fitting.ship_id, 64)} width={64} height={64} />
                </picture>
                <Flexblock gap='var(--space-3xs)'>
                    <h4 class="[ title ]">{fitting.fitting_name}</h4>
                    <small class="[ subtitle ]">{fitting.doctrine_name}</small>
                </Flexblock>
            </FixedFluid>

            <FlexInline justification='space-between'>
                <ClipboardButton
                    class="[ action-button ]"
                    text={t('copy_eft')}
                    narrow={true}
                    id={`${fitting.fitting_id.toString()}-row-copy`}
                >
                    {fitting.eft}
                </ClipboardButton>
                <span class="[ quantity ]"><b class:list={{ 'text-red': low_amount }}>{current_quantity}</b>{expected_quantity > 0 && `/${expected_quantity}`}</span>
            </FlexInline>
        </FluidFixed>
        {(no_expectation_progress || expected_quantity > 0) &&
            <Progress
                class:list={[ 'w-full', { danger: low_amount }, { disabled: expected_quantity === 0 } ]}
                max="100"
                value={completion}
                data-tippy-content={expected_quantity > 0 ? `${completion.toFixed(0)}%` : t('no_expectation')}
                x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
            >
                {completion.toFixed(2)}%
            </Progress>
        }
    </Flexblock>
</ComponentBlock>

<style lang="scss">
    .market-fitting-card {
        @media (hover: hover) {
            .action-button {
                transition: var(--fast-transition);
                opacity: 0;
            }

            &:hover,
            &:focus-within {
                .action-button {
                    opacity: 1;
                }
            }
        }
    }

    .quantity {
        font-family: var(--heading-font);
        text-transform: uppercase;
        font-size: var(--step-0);
        font-weight: 400;
        color: var(--highlight);
        text-align: right;
        padding-right: var(--space-s);
    }

    .title {
        min-width: 0;
        flex: 1;
    }

    h3 {
        font-size: var(--step--1);
        line-height: 1.2;
    }
</style>
