---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { TribeMembership } from '@dtypes/api.minmatar.org'

interface Props {
    membership:         TribeMembership;
    init_tooltips:      boolean;
}

const {
    membership,
    init_tooltips,
} = Astro.props

const TRIBE_GROUP_MEMBERSHIPS_PARTIAL_URL = translatePath(`/partials/tribe_group_memberships_component?tribe_id=${membership.tribe_id}&group_id=${membership.tribe_group_id}`)

import { query_string } from '@helpers/string';

import { format_date_short, time_diff_text } from '@helpers/date';

const member_since = time_diff_text(lang, new Date(membership.approved_at as string), new Date())

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import CharacterPicture from '@components/blocks/CharacterPicture.astro';
import ButtonConfirm from '@components/blocks/ButtonConfirm.astro';
import ButtonRemoveTribeCharacter from '@components/blocks/ButtonRemoveTribeCharacter.astro';
import Button from '@components/blocks/Button.astro';

import MemberIcon from '@components/icons/MemberIcon.astro';
---

<FlexInline gap='var(--space-2xs)'>
    <FixedFluid
        width='64px'
        class="[ basis-[380px] items-center! ]"
    >
        <CharacterPicture
            character_id={membership.primary_character_id ?? 0}
            character_name={membership.primary_character_name ?? t('unknown_pilot')}
            size={64}
        />
        <Flexblock gap='var(--space-3xs)'>
            <h3>{membership.primary_character_name ?? t('membership_title').replace('{number}', String(membership.id))}</h3>
            <small>{`${format_date_short(lang, membership.approved_at)} (${member_since ? member_since : t('just_now')})`}</small>
        </Flexblock>
    </FixedFluid>

    <FixedFluid
        width='32px'
        gap='var(--space-2xs)'
        breakpoint='30%'
        class="[  items-center! basis-[350px] ]"
    >
        <div
            class="[ h-[32px] text-highlight ]"
            data-tippy-content={t('characters')}
            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
        >
            <MemberIcon size={32} />
        </div>

        <FlexInline
            gap='var(--space-2xs)'
            class="[ membership-characters ]"
        >
            {membership.characters.map((character) => {
                const has_tooltip = character.qualifies != null || character.missing_skills != null || character.missing_assets != null
                let tooltip_text = ''

                if (has_tooltip) {
                    if (character?.qualifies)
                        tooltip_text = t('tribes.detail.qualified')
                    else if (character?.missing_skills && character.missing_assets)
                        tooltip_text = t('tribes.detail.missing_skills_and_assets')
                    else if (character?.missing_skills)
                        tooltip_text = t('tribes.detail.missing_skills')
                    else if (character?.missing_assets)
                        tooltip_text = t('tribes.detail.missing_assets')
                    else
                        tooltip_text = t('tribes.detail.unqualified')
                }

                return (
                    <div class="[ relative ]">
                        <div
                            class="[ relative ]"
                            data-tippy-content={character.character_name}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            <CharacterPicture
                                character_id={character.character_id}
                                character_name={character.character_name}
                                size={32}
                            />
                            <div class="[ sr-only ]">{character.character_name}</div>
                        </div>

                        <span
                            class:list={[ 'membership-status', character.qualifies ? 'text-green' : 'text-red' ]}
                            color={character.qualifies ? 'green' : 'fleet-red'}
                            data-tippy-content={tooltip_text ? tooltip_text : undefined}
                            x-init={init_tooltips && tooltip_text ? 'tippy($el, tippy_options)' : undefined}
                        >
                            {character.qualifies ? '▲' : '▼'}
                        </span>
                    </div>
                )
            })}
        </FlexInline>
    </FixedFluid>
    
    <FlexInline>
        <ButtonRemoveTribeCharacter
            target_id='members'
            title={t('remove_character_membership')}
            membership={membership}
        />

        <ButtonConfirm
            label={t('remove')}
            size='sm'
        >
            <Button
                size='sm'
                hx-delete={`${TRIBE_GROUP_MEMBERSHIPS_PARTIAL_URL}&${query_string({
                    membership_id: membership.id,
                })}`}
                hx-target={`#members`}
                hx-indicator=".loader"
                hx-swap="outerHTML transition:true"
                x-on:click="$el.setAttribute('disabled','')"
            >
                {t('confirm')}
            </Button>
        </ButtonConfirm>
    </FlexInline>
</FlexInline>

<style lang="scss">
    .membership-status {
        position: absolute;
        bottom: -5px;
        right: -8px;
    }
</style>