---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { TribeMembership } from '@dtypes/api.minmatar.org'

interface Props {
    request:            TribeMembership;
    init_tooltips:      boolean;
}

const {
    request,
    init_tooltips,
} = Astro.props

const TRIBE_GROUP_MEMBERSHIPS_PARTIAL_URL = translatePath(`/partials/tribe_group_memberships_component?tribe_id=${request.tribe_id}&group_id=${request.tribe_group_id}`)

import { format_date_short, time_diff_text } from '@helpers/date';
import { query_string } from '@helpers/string';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import CharacterPicture from '@components/blocks/CharacterPicture.astro';
import ButtonConfirm from '@components/blocks/ButtonConfirm.astro';
import Button from '@components/blocks/Button.astro';

import RecruitmentIcon from '@components/icons/RecruitmentIcon.astro';
---

<FlexInline gap='var(--space-2xs)'>
    <FixedFluid
        width='64px'
        class="[ basis-[380px] items-center! ]"
    >
        <CharacterPicture
            character_id={request.primary_character_id ?? 0}
            character_name={request.primary_character_name ?? t('unknown_pilot')}
            size={64}
        />
        <Flexblock class="[ basis-[300px] ]" gap='var(--space-3xs)'>
            <h3>{request.primary_character_name ?? t('membership_request_title').replace('{number}', String(request.id))}</h3>
            <small>{`${format_date_short(lang, request.created_at)} (${time_diff_text(lang, new Date(request.created_at), new Date())})`}</small>
        </Flexblock>
    </FixedFluid>

    <FixedFluid
        width='32px'
        gap='var(--space-2xs)'
        breakpoint='30%'
        class="[  items-center! basis-[350px] ]"
    >
        <div class="[ h-[32px] text-highlight ]"><RecruitmentIcon size={32} /></div>

        <FlexInline
            gap='var(--space-2xs)'
            class="[ membership-characters ]"
        >
            {request.characters.map(character => {
                const has_tooltip = character.qualifies != null || character.missing_skills != null || character.missing_assets != null
                let tooltip_text = ''

                if (has_tooltip) {
                    if (character?.qualifies)
                        tooltip_text = t('tribes.detail.qualified')
                    else if (character?.missing_skills && character.missing_assets)
                        tooltip_text = t('tribes.detail.missing_skills_and_assets')
                    else if (character?.missing_skills)
                        tooltip_text = t('tribes.detail.missing_skills')
                    else if (character?.missing_assets)
                        tooltip_text = t('tribes.detail.missing_assets')
                    else
                        tooltip_text = t('tribes.detail.unqualified')
                }

                return (
                    <div class="[ relative ]">
                        <div
                            class="[ relative ]"
                            data-tippy-content={character.character_name}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            <CharacterPicture
                                character_id={character.character_id}
                                character_name={character.character_name}
                                size={32}
                            />
                            <div class="[ sr-only ]">{character.character_name}</div>
                        </div>

                        <span
                            class:list={[ 'membership-status', character.qualifies ? 'text-green' : 'text-red' ]}
                            color={character.qualifies ? 'green' : 'fleet-red'}
                            data-tippy-content={tooltip_text ? tooltip_text : undefined}
                            x-init={init_tooltips && tooltip_text ? 'tippy($el, tippy_options)' : undefined}
                        >
                            {character.qualifies ? '▲' : '▼'}
                        </span>
                    </div>
                )
            })}
        </FlexInline>
    </FixedFluid>

    <FlexInline>
        <Button
            color='green'
            size='sm'
            hx-post={`${TRIBE_GROUP_MEMBERSHIPS_PARTIAL_URL}&${query_string({
                membership_id: request.id,
                status: 'approve',
            })}`}
            hx-target={`#members`}
            hx-indicator=".loader"
            hx-swap="outerHTML transition:true"
            x-on:click="$el.setAttribute('disabled','')"
        >
            {t('approve')}
        </Button>

        <ButtonConfirm
            label={t('deny')}
            size='sm'
        >
            <Button
                size='sm'
                hx-post={`${TRIBE_GROUP_MEMBERSHIPS_PARTIAL_URL}&${query_string({
                    membership_id: request.id,
                    status: 'deny',
                })}`}
                hx-target={`#members`}
                hx-indicator=".loader"
                hx-swap="outerHTML transition:true"
                x-on:click="$el.setAttribute('disabled','')"
            >
                {t('confirm')}
            </Button>
        </ButtonConfirm>
    </FlexInline>
</FlexInline>

<style lang="scss">
    .membership-status {
        position: absolute;
        bottom: -5px;
        right: -8px;
    }
</style>