---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:     PostListUI[];
}

const {
    posts,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import MarqueeSwiper from '@components/blocks/MarqueeSwiper.astro';
import NewsReelBadge from '@components/blocks/NewsReelBadge.astro';
---

<div class="[ bottom-bar ][ card component light-transparency hidden! lg:block! ]">
    <Wrapper
        class="[ news-reel ]"
        neocom={true}
        max_width='var(--max-content-width)'
        centered={true}
        padding_block='var(--space-2xs)'
    >
        <FixedFluid width='120px' class="[ items-center! ]" gap='var(--space-xl)'>
            <h4>{t('recent_events')}</h4>

            <div class="[ relative ]">
                <div
                    class="[ swiper ][ w-full ]"
                    id="news-list"
                >
                    <MarqueeSwiper
                        swiper_selector='#news-list'
                        pagination={false}
                        gap={40}
                        speed={15000}
                    >
                        <div class="[ swiper-slide ]" style="margin-right: 40px; width: 450px"></div>
                        {posts.map(post =>
                            <div class="[ swiper-slide ]" style="margin-right: 40px">
                                <NewsReelBadge post={post} />
                            </div>
                        )}
                        <div class="[ swiper-slide ]" style="margin-right: 40px; width: 450px"></div>
                        {posts.length >= 6 && posts.length < 12 &&
                            posts.map(post =>
                                <div class="[ swiper-slide ]" style="margin-right: 40px">
                                    <NewsReelBadge post={post} />
                                </div>
                            )
                        }
                    </MarqueeSwiper>
                </div>

                <div id="news-list-button-prev" class="[ swiper-button-prev ]"></div>
                <div id="news-list-button-next" class="[ swiper-button-next ]"></div>
            </div>
        </FixedFluid>
    </Wrapper>
</div>

<style lang="scss">
    .bottom-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: var(--sticky-z-index);
    }

    .news-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -32px;
        --swiper-navigation-size: 22px;

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-slide {
        width: fit-content;
    }
</style>