---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { OrderBreakdownUI } from '@dtypes/layout_components'

interface Props {
    order_breakdown:            OrderBreakdownUI[];
    init_tooltips?:             boolean;
}

const {
    order_breakdown,
    init_tooltips = false,
} = Astro.props

import { number_thousand_separator } from '@helpers/numbers'

import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import Flexblock from '@components/compositions/Flexblock.astro';

import ItemBadge from '@components/blocks/ItemBadge.astro';
import ProducersList from '@components/blocks/ProducersList.astro';

import ClipboardButton from './ClipboardButton.astro';
---

<Flexblock>
    {order_breakdown.map((item, index) => 
        <FixedFluid width='270px' class="[ production-drilldown-item ][ w-full items-center! ]">
            <div>
                <ItemBadge
                    item_name={item.name}
                    type_id={item.type_id}
                    size={32}
                    centered={true}
                >
                    <small>{t(item.quantity !== 1 ? 'items_count_plural' : 'items_count_singular' as any).replace('{count}', number_thousand_separator(item.quantity))}</small>
                </ItemBadge>
            </div>

            <FlexInline gap='var(--space-3xs)'>
                <div class="[ basis-[200px] ]">
                    <ProducersList
                        character_producers={[{
                            id: item.character_id,
                            name: item.character_name,
                        }]}
                        init_tooltips={init_tooltips}
                    />
                </div>
                <FlexInline>
                    <ClipboardButton
                        id={`breakdown-copy-${index}-${item.type_id}`}
                        text={t('breakdown')}
                        narrow={true}
                    >{item.copy_breakdown}</ClipboardButton>
                    <ClipboardButton
                        id={`materials-copy-${index}-${item.type_id}`}
                        text={t('materials')}
                        narrow={true}
                    >{`${item.quantity}×${item.name}\n${
                    item.materials
                        .map(material => `${material.eve_type_name}\t${material.quantity}`)
                        .join('\n')
                    }\n`}</ClipboardButton>
                </FlexInline>
            </FlexInline>
        </FixedFluid>
    )}
</Flexblock>