---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { RootSingleItem } from '@dtypes/api.minmatar.org'
import type { IndustryOrderUI } from '@dtypes/layout_components'

interface Props {
    order:                  IndustryOrderUI;
    order_breakdown?:       RootSingleItem[];
    primary_character_id?:  number | null;
    location_name:          string | undefined;
    init_tooltips:          boolean;
}

const {
    order,
    order_breakdown,
    primary_character_id,
    location_name,
    init_tooltips,
} = Astro.props

import {
    format_date_short,
    get_date_progress_percent,
    humanize_date_diff_single,
    from_to_text
} from '@helpers/date'

const time_to_deadline = !order.fulfilled_at ?
                         get_date_progress_percent(order.created_at, `${order.needed_by}T23:59:59.999Z`) :
                         get_date_progress_percent(order.created_at, `${order.needed_by}T23:59:59.999Z`, order.fulfilled_at)

let completion_text = ''

if (time_to_deadline < 100)
    completion_text = t('time_to_deadline').replace('{time}', humanize_date_diff_single(lang, new Date(), order.needed_by)).replace('{percent}', time_to_deadline.toFixed(0))
else
    completion_text = t('time_overdue').replace('{time}', humanize_date_diff_single(lang, order.needed_by, new Date()))

if (order.fulfilled_at)
    completion_text = t('completed_percent').replace('{date}', format_date_short(lang, order.fulfilled_at))

import { query_string } from '@helpers/string';
const ORDER_BREAKDOWN_PARTIAL_URL = `${translatePath('/partials/order_breakdown_component')}?${query_string({
    order_id: order.id,
    ...(location_name && { location_name }),
})}`

import FixedFluid from "@components/compositions/FixedFluid.astro";
import Flexblock from "@components/compositions/Flexblock.astro";
import FlexInline from "@components/compositions/FlexInline.astro";

import PilotBadge from "@components/blocks/PilotBadge.astro";
import ProducersList from '@components/blocks/ProducersList.astro';
import ItemPicture from '@components/blocks/ItemPicture.astro';
import CollapsibleBlock from '@components/blocks/CollapsibleBlock.astro';
import OrderBreakdown from '@components/blocks/OrderBreakdown.astro'

import IndustryIcon from '@components/icons/IndustryIcon.astro';
import FlagIcon from '@components/icons/FlagIcon.astro';
---

<CollapsibleBlock
    id={`order-item-${order.id}`}
    expanded={order_breakdown ? true : false}
>
    <div slot="head" class="[ w-full ]">
        <FixedFluid width='350px' class="[ order-item ]">
            <div>
                <PilotBadge
                    character_id={order.character_id}
                    character_name={order.character_name}
                    heading={true}
                >
                    <small>{t('contractor')}</small>
                </PilotBadge>
            </div>
            <FlexInline justification='space-between'>
                <div class="[ basis-[425px] ]">
                    <FixedFluid width='32px' gap='var(--space-2xs)' breakpoint='30%' class="[  items-center! ]">
                        <div
                            class="[ text-highlight h-[32px] ]"
                            data-tippy-content={t('manufacturing')}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            <IndustryIcon size={32} />
                        </div>
                        <FlexInline gap='var(--space-2xs)'>
                            {order.items.map((item) =>
                                <div
                                    data-tippy-content={item.eve_type_name}
                                    x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                                >
                                    <ItemPicture
                                        item_name={item.eve_type_name}
                                        item_id={item.eve_type_id}
                                        quantity={item.quantity}
                                        size={32}
                                    />
                                    <div class="[ sr-only ]">{item.eve_type_name}</div>
                                </div>
                            )}
                        </FlexInline>
                    </FixedFluid>
                </div>
                <div class="[ basis-[250px] ]">
                    <ProducersList
                        character_producers={order.assigned_to}
                        init_tooltips={init_tooltips}
                    />
                </div>
                <FlexInline class="[ basis-[240px] ]" gap='var(--space-3xs)'>
                    <div
                        class="[ text-highlight h-[32px] ]"
                        data-tippy-content={t('needed_by')}
                        x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                    >
                        <FlagIcon size={32} />
                    </div>
                    <Flexblock gap='var(--space-3xs)'>
                        <h4>{format_date_short(lang, order.needed_by)}</h4>
                        <small
                            data-tippy-content={from_to_text(lang, order.created_at, new Date(`${order.needed_by}T23:59:59.999Z`))}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                            class:list={[
                                'w-fit',
                                { 'text-red': !order.fulfilled_at && time_to_deadline > 90 }
                            ]}
                        >
                            {completion_text}
                        </small>
                    </Flexblock>
                </FlexInline>
            </FlexInline>
        </FixedFluid>
    </div>

    <div class="[ order-breakdown-container ]" id={`order-breakdown-${order.id}`}>
        {order_breakdown ?
            <OrderBreakdown
                order_id={order.id}
                primary_character_id={primary_character_id}
                order_breakdown={order_breakdown}
                location_name={location_name}
                init_tooltips={true}
            />
            :
            <small
                class="[ loading ]"
                hx-get={ORDER_BREAKDOWN_PARTIAL_URL}
                hx-trigger="intersect"
                hx-indicator=".loader"
                hx-swap="outerHTML transition:true"
            >{t('fetching_order_breakdown')}</small>
        }
        
    </div>
</CollapsibleBlock>

<style lang="scss">
    .timeline {
        border: solid var(--highlight);
        border-width: 0 1px 0 1px;
        position: relative;
        
        &:before,
        &:after {
            content: ' ';
            position: absolute;
            height: 100%;
            bottom: 0;
            pointer-events: none;
        }

        &:before {
            left: 25%;
            border: solid var(--highlight);
            border-width: 0 1px 0 1px;
            width: 50%;
        }

        &:after {
            left: 50%;
            border-left: solid 1px var(--highlight);
        }
    }

    .order-breakdown-container {
        padding-top: var(--space-s);
        padding-bottom: var(--space-s);
    }
</style>