---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { IndustryOrderUI } from '@dtypes/layout_components'

interface Props {
    order:              IndustryOrderUI;
    init_tooltips:      boolean;
}

const {
    order,
    init_tooltips,
} = Astro.props

import { format_date_time, format_date, format_date_short, get_date_progress_percent } from '@helpers/date'

const time_to_deadline = !order.fulfilled_at ?
                         get_date_progress_percent(order.created_at, `${order.needed_by}T23:59:59.999Z`) :
                         get_date_progress_percent(order.created_at, `${order.needed_by}T23:59:59.999Z`, order.fulfilled_at)

let completion_tooltip = t('deadline_percent').replace('{percent}', String(time_to_deadline.toFixed(0)))

if (order.fulfilled_at)
    completion_tooltip = t('completed_percent').replace('{date}', format_date_short(lang, order.fulfilled_at))
else if (time_to_deadline === 100)
    completion_tooltip = t('overdue')

import FixedFluid from "@components/compositions/FixedFluid.astro";
import Flexblock from "@components/compositions/Flexblock.astro";
import FlexInline from "@components/compositions/FlexInline.astro";

import PilotBadge from "@components/blocks/PilotBadge.astro";
import Progress from "@components/blocks/Progress.astro";
import ProducersList from '@components/blocks/ProducersList.astro';
import ItemPicture from '@components/blocks/ItemPicture.astro';
import Button from '@components/blocks/Button.astro';

import IndustryIcon from '@components/icons/IndustryIcon.astro';
---

<FixedFluid width='350px' class="[ order-item ]">
    <div>
        <PilotBadge
            character_id={order.character_id}
            character_name={order.character_name}
            heading={true}
        >
            <small>{t('contractor')}</small>
        </PilotBadge>
    </div>
    <FlexInline>
        <div class="[ basis-[200px] ]">
            <FixedFluid width='32px' gap='var(--space-2xs)' breakpoint='30%' class="[  items-center! ]">
                <div
                    class="[ text-highlight h-[32px] ]"
                    data-tippy-content={t('manufacturing')}
                    x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                >
                    <IndustryIcon size={32} />
                </div>
                <FlexInline gap='var(--space-2xs)'>
                    {order.items.map(item =>
                        <div
                            data-tippy-content={item.eve_type_name}
                            x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                        >
                            <ItemPicture
                                item_name={item.eve_type_name}
                                item_id={item.eve_type_id}
                                quantity={item.quantity}
                                size={32}
                            />
                            <div class="[ sr-only ]">{item.eve_type_name}</div>
                        </div>
                    )}
                </FlexInline>
            </FixedFluid>
        </div>
        <Flexblock class="[ basis-[350px] pr-10 ]" gap='var(--space-3xs)'>
            <FlexInline justification='space-between'>
                <small>{format_date(lang, order.created_at)}</small>
                <small>{format_date(lang, order.needed_by)}</small>
            </FlexInline>
            <div class="[ timeline ]">
                <Progress
                    class:list={[
                        'w-full',
                        { success: order.fulfilled_at },
                        { danger: !order.fulfilled_at && time_to_deadline > 90 }
                    ]}
                    max="100"
                    value={time_to_deadline}
                    data-tippy-content={completion_tooltip}
                >
                    {completion_tooltip}
                </Progress>
            </div>
        </Flexblock>
        <div class="[ basis-[200px] ]">
            <ProducersList
                character_producers={order.assigned_to}
                init_tooltips={init_tooltips}
            />
        </div>
        <Button size='sm' href={translatePath(`/industry/orders/${order.id}`)}>
            {t('view_details')}
        </Button>
    </FlexInline>
</FixedFluid>

<style lang="scss">
    .timeline {
        border: solid var(--highlight);
        border-width: 0 1px 0 1px;
        position: relative;
        
        &:before,
        &:after {
            content: ' ';
            position: absolute;
            height: 100%;
            bottom: 0;
            pointer-events: none;
        }

        &:before {
            left: 25%;
            border: solid var(--highlight);
            border-width: 0 1px 0 1px;
            width: 50%;
        }

        &:after {
            left: 50%;
            border-left: solid 1px var(--highlight);
        }
    }
</style>