---
import { i18n } from '@helpers/i18n'
const { t, lang, translatePath } = i18n(Astro.url)

import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:      PostListUI[];
    small?:     boolean;
    swiper_id?: string;
    is_video?:  boolean;
    editor_id?: number;
    is_editing: boolean;
}

const {
    posts,
    small = false,
    swiper_id = 'posters-reel-swiper',
    is_video = false,
    editor_id,
    is_editing,
} = Astro.props

import { get_player_icon } from '@helpers/eve_image_server'
import { format_date } from '@helpers/date'

import Wrapper from '@components/compositions/Wrapper.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import BlockList from '@components/compositions/BlockList.astro';

import LandingSwiper from '@components/blocks/LandingSwiper.astro';
import PictureCard from '@components/blocks/PictureCard.astro';
import PostActions from '@components/blocks/PostActions.astro';
import Tag from '@components/blocks/Tag.astro';

import PlayIcon from '@components/icons/buttons/PlayIcon.astro';
---

<Wrapper
    class:list={[ 'posters-reel', { 'posters-reel-small': small} ]}
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <div id={swiper_id} class="[ swiper ][ w-full pb-10! ]">
        <LandingSwiper swiper_selector={`#${swiper_id}`} align={is_video ? 'start' : 'end'} gap={is_video ? 45 : 5}>
            {posts.map(post =>
                <div class:list={[ 'swiper-slide', { 'wide': is_video } ]}
                    style={`margin-right: ${is_video ? 45 : 5}px`}
                >
                    {!is_video ?
                        <PictureCard
                            src={post.image ? post.image : get_player_icon(post.author.character_id, 512)}
                            alt={post.title}
                            narrow={true}
                            zoomable={post.image ? true : false}
                            data-desature={post.state === 'trash' ? 'mild' : undefined}
                        >
                            {(post.user_id === editor_id && is_editing) &&
                                <PostActions
                                    post={post}
                                    slot="actions"
                                />
                            }
                            <Flexblock gap='var(--space-3xs)'>
                                {is_editing &&
                                    <Tag
                                        id={`post-tag-${post.post_id}`}
                                        text={t(post.state as any)}
                                        color={post.state === 'published' ? 'green' : undefined}
                                    />
                                }
                                <small>{format_date(lang, post.date_posted)}</small>
                                <a href={translatePath(`/alliance/propaganda/${post.post_id}`)}>
                                    <h3>{post.title}</h3>
                                </a>
                            </Flexblock>
                        </PictureCard> :
                        <BlockList
                            class="[ youtube-wrapper ][ relative ]"
                            gap='var(--space-xs)'
                            data-desature={post.state === 'trash' ? 'mild' : undefined}
                        >
                            {(post.user_id === editor_id && is_editing) &&
                                <div class="[ youtube-actions ]">
                                    <PostActions
                                        post={post}
                                    />
                                </div>
                            }
                            <a class="[ youtube border ]" href={translatePath(`/alliance/propaganda/${post.post_id}`)}>
                                <PlayIcon />
                                <img
                                    src={post.image ? post.image : get_player_icon(post.author.character_id, 512)}
                                    alt={post.title}
                                />
                            </a>
                            <Flexblock gap='var(--space-3xs)'>
                                {is_editing &&
                                    <Tag
                                        id={`post-tag-${post.post_id}`}
                                        text={t(post.state as any)}
                                        color={post.state === 'published' ? 'green' : undefined}
                                    />
                                }
                                <small>{format_date(lang, post.date_posted)}</small>
                                <a href={translatePath(`/alliance/propaganda/${post.slug}-${post.post_id}`)}>
                                    <h3>{post.title}</h3>
                                </a>
                            </Flexblock>
                        </BlockList>
                    }
                </div>
            )}
        </LandingSwiper>
    </div>

    <div id={`${swiper_id}-button-prev`} class="[ swiper-button-prev hidden lg:block! ]"></div>
    <div id={`${swiper_id}-button-next`} class="[ swiper-button-next hidden lg:block! ]"></div>
</Wrapper>

<style lang="scss">
    h3 {
        font-size: var(--step-0);
    }

    :global([data-desature="full"] img) {
        filter: saturate(0%);
    }

    :global([data-desature="mild"] img) {
        filter: saturate(35%);
    }

    .youtube-wrapper {
        &:hover {
            .youtube-actions {
                opacity: 1;
            }
        }

        .youtube-actions {
            position: absolute;
            right: var(--space-2xs);
            top: var(--space-2xs);
            z-index: 2;
            opacity: 0;
        }
    }

    .youtube {
        position: relative;

        &:before {
            content: ' ';
            position: absolute;
            inset: 0;
            background-color: var(--background);
            opacity: 0.4;
            z-index: 1;
        }

        :global(svg) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }

    :global(.medium-zoom-image--opened) {
        z-index: var(--sticky-z-index);
    }
    :global(.medium-zoom-overlay) {
        z-index: 1;
    }

    .posters-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -46px;

        opacity: 0;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-button-prev {
        transform: translateY(-1.25rem);
    }

    .swiper-button-next {
        transform: translateY(-1.25rem);
    }

    .swiper-slide {
        width: min(100%, 350px);
    }

    .posters-reel-small .swiper-slide {
        width: min(100%, 250px);

        &.wide {
            width: min(100%, 330px);
        }
    }

    .swiper-lazy-preloader {
        border-color: var(--fleet-yellow);
        border-top-color: transparent;
    }

</style>