---
import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:      PostListUI[];
    small?:     boolean;
    swiper_id?: string;
    is_video?:  boolean;
    editor_id?: number;
    is_editing: boolean;
}

const {
    posts,
    small = false,
    swiper_id = 'posters-reel-swiper',
    is_video = false,
    editor_id,
    is_editing,
} = Astro.props

import Wrapper from '@components/compositions/Wrapper.astro';

import LandingSwiper from '@components/blocks/LandingSwiper.astro';
import PropagandaPostCard from '@components/blocks/PropagandaPostCard.astro';
import PropagandaVideoPost from '@components/blocks/PropagandaVideoPost.astro';
---

<Wrapper
    class:list={[ 'posters-reel', { 'posters-reel-small': small} ]}
    padding_block='0'
    padding_inline='0'
    max_width='100%'
>
    <div id={swiper_id} class="[ swiper ][ w-full pb-10! ]">
        <LandingSwiper swiper_selector={`#${swiper_id}`} align={is_video ? 'start' : 'end'} gap={is_video ? 25 : 5}>
            {posts.map(post =>
                <div class:list={[ 'swiper-slide', { 'wide': is_video } ]}
                    style={`margin-right: ${is_video ? 25 : 5}px`}
                >
                    {!is_video ?
                        <PropagandaPostCard
                            post={post}
                            editor_id={editor_id}
                            is_editing={is_editing}
                        /> :
                        <PropagandaVideoPost
                            post={post}
                            editor_id={editor_id}
                            is_editing={is_editing}
                        />
                    }
                </div>
            )}
        </LandingSwiper>
    </div>

    <div id={`${swiper_id}-button-prev`} class="[ swiper-button-prev hidden lg:block! ]"></div>
    <div id={`${swiper_id}-button-next`} class="[ swiper-button-next hidden lg:block! ]"></div>
</Wrapper>

<style lang="scss">
    :global([data-desature="full"] img) {
        filter: saturate(0%);
    }

    :global([data-desature="mild"] img) {
        filter: saturate(35%);
    }

    :global(.medium-zoom-image--opened) {
        z-index: var(--dialog-z-index);
    }
    
    :global(.medium-zoom-overlay) {
        z-index: var(--backdrop-z-index);
    }

    .posters-reel {
        position: relative;
    }

    .swiper-button-prev,
    .swiper-button-next {
        --swiper-navigation-color: var(--highlight);
        --swiper-navigation-sides-offset: -46px;

        opacity: 0;
        z-index: 1;
    }

    .swiper-initialized ~ .swiper-button-prev,
    .swiper-initialized ~ .swiper-button-next {
        opacity: 1;
    }

    .swiper-initialized ~ .swiper-button-next.swiper-button-disabled,
    .swiper-initialized ~ .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        --swiper-navigation-color: var(--fleet-yellow);
        opacity: 1;
    }

    .swiper-button-prev {
        transform: translateY(-1.25rem);
    }

    .swiper-button-next {
        transform: translateY(-1.25rem);
    }

    .swiper-slide {
        width: min(100%, 350px);
    }

    .posters-reel-small .swiper-slide {
        width: min(100%, 250px);

        &.wide {
            width: min(100%, 330px);
        }
    }

    .swiper-lazy-preloader {
        border-color: var(--fleet-yellow);
        border-top-color: transparent;
    }
</style>