---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { Product } from '@dtypes/api.minmatar.org'

interface Props {
    product:            Product;
    init_tooltips:      boolean;
}

const {
    product,
    init_tooltips,
} = Astro.props

import { get_bpc_icon } from '@helpers/eve_image_server';

import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';
import Grid from '@components/compositions/Grid.astro';

import ItemBadge from '@components/blocks/ItemBadge.astro';
import ItemPicture from '@components/blocks/ItemPicture.astro';
import Picture from '@components/blocks/Picture.astro';
import ProducersList from '@components/blocks/ProducersList.astro';

import IndustryIcon from '@components/icons/IndustryIcon.astro';
---

<FixedFluid
    class="[ product-item ]"
    width='450px'
    gap='var(--space-3xs)'
    x-show="show_item($el)"
>
    <div>
        <ItemBadge
            class="[ items-center ]"
            item_name={product.name}
            type_id={product.type_id}
            title_el='h3'
        >
            <FlexInline gap='var(--space-3xs)'>
                {product.blueprint_or_reaction_type_id &&
                    <Picture
                        src={get_bpc_icon(product.blueprint_or_reaction_type_id, false, 32)}
                        alt={product.name}
                        size={16}
                    />
                }

                <small class:list={[ { 'text-red': product.strategy === 'imported' } ]}>
                    {t(product.strategy as any)}
                </small>
            </FlexInline>
        </ItemBadge>
    </div>

    <div class="[ alignment-hack ]">
        <Grid class="[ pl-[64px] ]" min_item_width='250px'>
            <FixedFluid width='32px' gap='var(--space-2xs)' breakpoint='30%' class="[  items-center! ]">
                <div class="[ text-highlight ]">
                    <IndustryIcon size={32} />
                </div>
                
                {product.supplied_for.length > 0 ?
                    <FlexInline gap='var(--space-3xs)'>
                        {product.supplied_for.map(material =>
                            <div 
                                data-tippy-content={material.name}
                                x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
                            >
                                <ItemPicture
                                    item_id={material.type_id}
                                    size={24}
                                    icon_quality={32}
                                />
                                <div class="[ sr-only ]">{material.name}</div>
                            </div>
                        )}
                    </FlexInline>
                    :
                    <small>{t('final_product')}</small>
                }
            </FixedFluid>

            <ProducersList
                character_producers={product.character_producers}
                corporation_producers={product.corporation_producers}
                init_tooltips={init_tooltips}
            />
        </Grid>
    </div>
</FixedFluid>

<style lang="scss">
    .alignment-hack {
        padding-left: var(--space-s);
    }
</style>