---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { Producer } from '@dtypes/api.minmatar.org'

interface Props {
    character_producers?:       Producer[];
    corporation_producers?:     Producer[];
    init_tooltips:              boolean;
}

const {
    character_producers = [],
    corporation_producers = [],
    init_tooltips,
} = Astro.props

import FlexInline from '@components/compositions/FlexInline.astro';
import FixedFluid from '@components/compositions/FixedFluid.astro';

import CharacterPicture from '@components/blocks/CharacterPicture.astro';
import CorporationPicture from '@components/blocks/CorporationPicture.astro';
import TippyProducer from '@components/blocks/TippyProducer.astro';
import Tag from '@components/blocks/Tag.astro';

import IndustrialistIcon from '@components/icons/IndustrialistIcon.astro';
---

<FixedFluid width='32px' breakpoint='30%' gap='var(--space-2xs)' class="[  items-center! text-highlight ]">
    <div
        class="[ text-highlight ]"
        data-tippy-content={t('industrialists')}
        x-init={init_tooltips ? 'tippy($el, tippy_options)' : undefined}
    >
        <IndustrialistIcon size={32} />
    </div>

    <FlexInline gap='var(--space-3xs)'>
        {character_producers.map(producer =>
            <TippyProducer
                producer_name={producer.name}
                money={producer.total_value_isk}
                init_tooltip={init_tooltips}
            >
                <CharacterPicture
                    character_id={producer.id}
                    character_name={producer.name}
                    size={24}
                />
                <div class="[ sr-only ]">{producer.name}</div>
            </TippyProducer>
        )}
        {corporation_producers.map(producer =>
            <TippyProducer
                producer_name={producer.name}
                money={producer.total_value_isk}
                init_tooltip={init_tooltips}
            >
                <CorporationPicture
                    corporation_id={producer.id}
                    corporation_name={producer.name}
                    size={24}
                />
                <div class="[ sr-only ]">{producer.name}</div>
            </TippyProducer>
        )}
        {character_producers.length === 0 && corporation_producers.length === 0 &&
            <Tag text={t('no_producers')} />
        }
    </FlexInline>
</FixedFluid>