---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import type { PostListUI } from '@dtypes/layout_components'

interface Props {
    posts:              Record<string, PostListUI[]>;
    editor_id?:         number;
    is_editing:         boolean;
}

const {
    posts,
    editor_id,
    is_editing,
} = Astro.props

const metropolis_posts:PostListUI[] = posts['Metropolis'] ?? []
const frontlines_posts:PostListUI[] = posts['Frontlines'] ?? []
const propaganda_posts:PostListUI[] = posts['Propaganda'] ?? []
const mdn_posts_posts:PostListUI[] = posts['Metro Daily News'] ?? []
const the_cope_posts:PostListUI[] = posts['The Cope'] ?? []
const videos_posts:PostListUI[] = posts['Videos'] ?? []
const rust_and_blood_posts:PostListUI[] = posts['Rust and Blood'] ?? []
const waifu_wars_posts:PostListUI[] = posts['Waifu Wars'] ?? []

let empty = true
for (var i in posts) {
    if (posts[i].length > 0) {
        empty = false
        break
    }
}

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import PropagandaSection from '@components/blocks/PropagandaSection.astro';
import MarkeeDragonBanner from '@components/blocks/MarkeeDragonBanner.astro';
import StoreBanner from '@components/blocks/StoreBanner.astro';
---

<Flexblock class="[ pb-[64px] ]" gap='var(--space-xl)'>
    {metropolis_posts.length > 0 &&
        <PropagandaSection
            title="Metropolis Daily News"
            description={t('metropolis_description')}
            posts={metropolis_posts}
            cover="/images/mdn-cover.png"
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {frontlines_posts.length > 0 &&
        <PropagandaSection
            title="Frontlines"
            description={t('frontlines_description')}
            posts={frontlines_posts}
            cover="/images/frontlines-cover.png"
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {propaganda_posts.length > 0 &&
        <PropagandaSection
            title="The odd bunch"
            description={t('odd_bunch_description')}
            posts={propaganda_posts}
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {mdn_posts_posts.length > 0 &&
        <PropagandaSection
            title="Metro Daily News"
            description={t('metro_dn_description')}
            posts={mdn_posts_posts}
            cover="/images/metrodn-cover.png"
            is_video={true}
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {the_cope_posts.length > 0 &&
        <PropagandaSection
            title="The COPE"
            description={t('the_cope_description')}
            posts={the_cope_posts}
            cover="/images/cope-cover.png"
            is_video={true}
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {videos_posts.length > 0 &&
        <PropagandaSection
            title="Videos"
            description={t('videos_description')}
            posts={videos_posts}
            is_video={true}
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {!is_editing &&
        <Wrapper class="[ w-full ]" max_width="700px" padding_inline="0" padding_block="0" centered={true}>
            <MarkeeDragonBanner thin={true} />
        </Wrapper>
    }
    {rust_and_blood_posts.length > 0 &&
        <PropagandaSection
            title="Rust and Blood"
            description={t('rust_description')}
            posts={rust_and_blood_posts}
            cover="/images/rust-cover.png"
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {waifu_wars_posts.length > 0 &&
        <PropagandaSection
            title="The Waifu Wars"
            description={t('waifus_description')}
            posts={waifu_wars_posts}
            cover="/images/waifu-wars-cover.png"
            editor_id={editor_id ? editor_id : undefined}
            is_editing={is_editing}
        />
    }
    {!is_editing &&
        <Wrapper class="[ w-full ]" max_width="700px" padding_inline="0" padding_block="0" centered={true}>
            <StoreBanner thin={true} />
        </Wrapper>
    }
    {empty && <p>{t('no_post_to_display')}</p>}
</Flexblock>