---
import { i18n } from '@helpers/i18n'
const { translatePath } = i18n(Astro.url)

interface Props {
    post_id:        number;
    title:          string;
    description?:   string;
    image:          string;
}

const {
    post_id,
    title,
    description,
    image,
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';

import PictureCard from '@components/blocks/PictureCard.astro';
---

<PictureCard
    src={image}
    alt={title}
    narrow={true}
    zoomable={true}
    class="card"
>
    <Flexblock gap='var(--space-3xs)'>
        {description && <small>{description}</small>}
        <a href={translatePath(`/alliance/propaganda/${post_id}`)}>
            <h3>{title}</h3>
        </a>
    </Flexblock>
</PictureCard>

<style lang="scss">
    h3 {
        font-size: var(--step-1);
    }
</style>