---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { SRPUI } from '@dtypes/layout_components'

interface Props {
    srp:        SRPUI;
    readonly:   boolean;
    target?:    string;
}

const {
    srp,
    readonly,
    target = '#srp-table',
} = Astro.props

import { query_string } from '@helpers/string';
const SRP_TABLE_PARTIAL_URL = `${translatePath('/partials/srp_table_component')}`

import FlexInline from '@components/compositions/FlexInline.astro';

import Button from '@components/blocks/Button.astro';
import ClipboardButton from '@components/blocks/ClipboardButton.astro';
import SRPBadge from '@components/blocks/SRPBadge.astro';
---

<FlexInline justification='space-between' class="[ srp-item ][ w-full ]">
    <FlexInline class="[ grow ]">
        <SRPBadge srp={srp} />
        <FlexInline>
            <ClipboardButton id={`srp-name-${srp.id}`}>{`${srp.primary_character_name} ${srp.amount}`}</ClipboardButton>
        </FlexInline>
    </FlexInline>

    {!readonly &&
        <FlexInline class="[ show-on-hover ]">
            <Button
                size='sm'
                type="button"
                color='green'
                x-data={`{
                    show_approve_srp_dialog() {
                        show_confirm_dialog({
                            title: '${t('accept_srp_dialog_title')}',
                            partial: '${translatePath('/partials/dialog_with_srp/')}?${query_string({
                                srp: JSON.stringify(srp),
                                type: 'accept',
                                message: t('accept_srp_dialog_text'),
                            })}',
                            hx: {
                                method: 'patch',
                                url: '${SRP_TABLE_PARTIAL_URL}?${query_string({
                                    fleet_id : JSON.stringify(srp.fleet_id),
                                    reimbursement_id : JSON.stringify(srp.id),
                                    status: 'approved'
                                })}',
                                target: '${target}',
                                swap: 'outerHTML transition:true'
                            }
                        })
                    }
                }`}
                x-on:click="show_approve_srp_dialog()"
            >
                {t('approve')}
            </Button>
            
            <Button
                size='sm'
                x-data={`{
                    show_reject_srp_dialog() {
                        show_confirm_dialog({
                            title: '${t('reject_srp_dialog_title')}',
                            partial: '${translatePath('/partials/dialog_with_srp/')}?${query_string({
                                srp: JSON.stringify(srp),
                                type: 'reject',
                                message: t('deny_srp_dialog_text'),
                            })}',
                            hx: {
                                method: 'patch',
                                url: '${SRP_TABLE_PARTIAL_URL}?${query_string({
                                    fleet_id : JSON.stringify(srp.fleet_id),
                                    reimbursement_id : JSON.stringify(srp.id),
                                    status: 'rejected'
                                })}',
                                target: '${target}',
                                swap: 'outerHTML transition:true'
                            }
                        })
                    }
                }`}
                x-on:click="show_reject_srp_dialog()"
            >
                {t('reject')}
            </Button>
        </FlexInline>
    }
</FlexInline>

<style lang="scss">
    .srp-item {
        @media (hover: hover) {
            .show-on-hover {
                transition: var(--fast-transition);
                opacity: 0;
            }

            &:hover,
            &:focus-within {
                .show-on-hover {
                    opacity: 1;
                }
            }
        }
    }
</style>