---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { SRPUI } from '@dtypes/layout_components'

interface Props {
    fleet_id:           number;
    fleet_srps:         SRPUI[];
    readonly:           boolean;
    fleet_title?:       boolean;
    can_add_srp:        boolean;
    [propName: string]: any;
}

const {
    fleet_id,
    fleet_srps,
    readonly,
    fleet_title = false,
    can_add_srp,
    ...attributes
} = Astro.props

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Grid from '@components/compositions/Grid.astro';

import SRPButton from '@components/blocks/SRPButton.astro';
import SRPItem from '@components/blocks/SRPItem.astro';
import KillReportEVEIcon from '@components/icons/KillReportEVEIcon.astro';
---

<Flexblock 
    {...attributes}
    class="[ srp-table w-full ]"
    gap='var(--space-m)'
    id={fleet_title ? `srp-table-${fleet_id}` : 'srp-table'}
>
    <FlexInline justification='space-between'>
        <FlexInline>
            {!fleet_title &&
                <KillReportEVEIcon />
            }
            <Flexblock gap='var(--space-3xs)'>
                {fleet_title && fleet_id > 0 ?
                    <h2><a href={translatePath(`/fleets/history/${fleet_id}`)}>{`${t('fleet')} ${fleet_id}`}</a></h2> :
                fleet_title ?
                    <h2>{t('fleetless')}</h2> :
                    <h2>{t('ship_replacement_program')}</h2>
                }
                <small>{fleet_srps.length} {fleet_srps.length !== 1 ? t('killmails_pending') : t('killmail_pending')}</small>
            </Flexblock>
        </FlexInline>
        {!fleet_title && can_add_srp &&
            <SRPButton fleet_id={fleet_id} target={fleet_title ? `#srp-table-${fleet_id}` : undefined} />
        }
    </FlexInline>
    {fleet_srps.length > 0 &&
        <Grid
            role="list"
            class="[ w-full grid-fill ]"
            min_item_width='240px'
            row_gap='var(--space-3xs)'
            column_gap='var(--space-3xs)'
        >
            {fleet_srps.map(srp =>
                <SRPItem
                    srp={srp}
                    readonly={readonly}
                    target={fleet_title ? `#srp-table-${fleet_id}` : undefined}
                    remove_table={fleet_title ? true : undefined}
                    fleet_title={fleet_title}
                />
            )}
        </Grid>
    }
</Flexblock>



<style lang="scss">
    .srp-table:not(:has(.srp-item:not([style="display: none;"]))) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        left: 0;
        top: 0;
    }
</style>