---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import type { StructureTimerUI } from '@dtypes/layout_components'
import type { VerifyStructureTimerRequest } from '@dtypes/api.minmatar.org'
import { remove_line_breaks } from '@helpers/string'

interface Props {
    structure_timer:    StructureTimerUI;
    can_verify_timer:   boolean;
    create_fleet?:      boolean;
    [propName: string]: any;
}

const {
    structure_timer,
    can_verify_timer = false,
    create_fleet = false,
    ...attributes
} = Astro.props

import { get_item_icon } from '@helpers/eve_image_server'
import { query_string } from '@helpers/string';

const ITEM_ID = `structure-timer-${structure_timer.id}`

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import Countdown from '@components/blocks/Countdown.astro';
import TextGroup from '@components/blocks/TextGroup.astro';
import Button from '@components/blocks/Button.astro';
import Tile from '@components/blocks/Tile.astro';
import Tag from '@components/blocks/Tag.astro';
import LocalTimeGroup from '@components/blocks/LocalTimeGroup.astro';
import ClipboardButton from '@components/blocks/ClipboardButton.astro';
import TimeAlternator from '@components/blocks/TimeAlternator.astro';

const STRUCTURE_TIMER_LIST_ITEM_PARTIAL_URL = translatePath('/partials/structure_timer_list_item_component/')

const eve_time = new Date(structure_timer.timer);
const eve_time_text = eve_time.toLocaleDateString(lang, JSON.parse(import.meta.env.DATETIME_FORMAT))
---

<Flexblock
    id={ITEM_ID}
    class="[ card component border light-transparency ]"
    gap='0'
>
    <Tile
        title={structure_timer.corporation_name}
        cover={get_item_icon(structure_timer.structure_type_id ?? 0, 512)}
        transparent={true}
        soft={false}
    >
        <Flexblock slot="subtitle" gap='var(--space-3xs)'>
            <FlexInline gap='var(--space-2xs)'>
                <span><b>{structure_timer.system_name}</b> - {structure_timer.name}</span>
                {structure_timer.verified &&
                    <Tag color='green' text={t('verified')} />
                }
            </FlexInline>
            <small>{t('structure_timer_template').replace('{state}', t(structure_timer.state as any) ?? structure_timer.state)}</small>
        </Flexblock>
    </Tile>

    <Wrapper
        class="[ pb-(--component-padding-block)! grow ]"
        padding_inline='var(--component-padding-block)'
        padding_block='0'
        max_width='100%'
    >
        <Flexblock
            class="[ justify-between! h-full ]"
            gap='var(--space-l)'
        >
            <Flexblock gap='var(--space-l)'>
                <FlexInline class="[ !w-auto item ]">
                    <ClipboardButton
                        id={`structure-timer-copy-${structure_timer.id}`}
                        class="[ copy-button ]"
                        iconed={false}
                    >
                        {`${structure_timer.timer}: ${t(structure_timer.structure_type as any) ?? structure_timer.structure_type} [${structure_timer.corporation_name}] [${structure_timer.system_name} - ${remove_line_breaks(structure_timer.name)}]`}
                    </ClipboardButton>

                    {can_verify_timer && !structure_timer.verified &&
                        <Button
                            type="button"
                            size='sm'
                            x-bind:disabled="disabled"
                            x-data={`{
                                disabled: false,
                                show_verify_dialog() {
                                    this.disabled = true
                                    
                                    show_confirm_dialog({
                                        title: '${t('structure_timer_verify_dialog_title')}',
                                        partial: '${translatePath('/partials/dialog_verify_structure_timer/')}?${query_string({
                                            location: `${structure_timer.system_name} - ${structure_timer.name}`,
                                            alliance_id: structure_timer.alliance_id,
                                            alliance_name: structure_timer.alliance_name ?? t('unknown_alliance'),
                                            timer: eve_time_text,
                                            structure_type: structure_timer.structure_type,
                                            message: t('verify_structure_timer_dialog_text')
                                        })}',
                                        return_on_accept: true,
                                        hx: {
                                            method: 'post',
                                            url: '${STRUCTURE_TIMER_LIST_ITEM_PARTIAL_URL}?${query_string({
                                                timer_id: structure_timer.id
                                            })}',
                                            vals: ${JSON.stringify({
                                                    alliance_name: structure_timer.alliance_name,
                                                    corporation_name: structure_timer.corporation_name,
                                                } as VerifyStructureTimerRequest)
                                            },
                                            target: '#${ITEM_ID}',
                                            swap: 'outerHTML transition:true'
                                        }
                                    }).then( (accepted) => { this.disabled = !!accepted } )
                                }
                            }`}
                            x-on:click="show_verify_dialog()"
                            type="button"
                        >
                            {t('verify_timer')}
                        </Button>
                    }
                </FlexInline>

                <Flexblock>
                    {new Date(structure_timer.timer).getTime() > new Date().getTime() ?
                        <TimeAlternator>
                            <Flexblock slot="time">
                                <TextGroup title={t('eve_time')} class="[ sentence-cap ]">
                                    {eve_time_text}
                                </TextGroup>
                                <LocalTimeGroup eve_time={eve_time} />
                            </Flexblock>

                            <div slot="countdown" class="[ -ml-2.5 ]">
                                <Countdown
                                    date={structure_timer.timer}
                                    id={structure_timer.id}
                                    tag='countdown-structure'
                                />
                            </div>
                        </TimeAlternator> :
                        <p class="[ timer-status-text ]">{t('expired')}</p>
                    }
                </Flexblock>
            </Flexblock>

            <FlexInline>
                {create_fleet &&
                    <Button
                        color='green'
                        href={`${translatePath('/fleets/add/')}?${query_string({
                            timer: structure_timer.timer,
                        })}`}
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        x-init="tippy($el, tippy_options)"
                    >
                        {t('create_fleet')}
                    </Button>
                }
            </FlexInline>
        </Flexblock>
    </Wrapper>
</Flexblock>