---
interface Props {
    max_width?:         string;
    neocom?:            boolean;
    [propName: string]: any;
}

const {
    max_width = '80rem',
    neocom = true,
} = Astro.props;

import Wrapper from '@components/compositions/Wrapper.astro';

const subheader_content = await Astro.slots.render('subheader');
---

<div
    class="[ post-header ]"
    x-data={`{
        sticky: false,
        init() {
            const observer = new IntersectionObserver(
                ([entry]) => {
                    if (entry.intersectionRatio < 1 && entry.boundingClientRect.top <= 0)
                        this.sticky = true
                    else
                        this.sticky = false
                },
                { threshold: [1] }
            )
            
            observer.observe($el)
        }
    }`}
    x-bind:class="{ sticky: sticky }"
>
    <div class="[ relative z-10 pt-[3px] ]">
        <Wrapper class="[ main-bar ][ w-full ]" padding_block="var(--space-xs)" max_width={max_width} neocom={neocom} centered={true}>
            <slot />
        </Wrapper>
    </div>

    {subheader_content !== '' &&
        <div class="[ subheader-bar ]">
            <Wrapper class="[ w-full ]" centered={true} max_width={max_width} neocom={neocom} centered={true} padding_block='0'>
                <slot name="subheader" />
            </Wrapper>
        </div>
    }
</div>

<style lang="scss" is:global>
    .post-header > .wrapper > .flex-inline {
        width: 100%;
    }

    .post-header h1 {
        font-size: var(--step-4) !important;
    }

    .post-header.sticky h1 {
        font-size: var(--step-1) !important;
    }
</style>

<style lang="scss">
    .sticky {
        background-color: var(--dark-transparency-background-mobile);

        @media screen and (min-width: 980px) {
            background-color: var(--dark-transparency-background);
            backdrop-filter: blur(var(--transparency-backdrop-blur));
        }

        @media screen and (max-width: 979px) {
            .subheader-bar {
                display: none;
            }
        }
    }
    
    .subheader-bar {
        padding-bottom: var(--space-s);
    }
    
    .post-header {
        transition: var(--fast-transition);
        position: sticky;
        top: -1px;
        z-index: var(--header-z-index);
        padding-top: var(--space-xl);

        &.sticky {
            padding-top: 0;
        }

        .main-bar {
            position: relative;
            z-index: 1;
            min-height: var(--space-xl-2xl);
            display: flex;
            width: 100%;
            justify-content: stretch;
        }
    }
</style>