---
import { i18n } from '@helpers/i18n'
const { t } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import type { FittingItem } from '@dtypes/layout_components'
import { fetch_fittings } from '@helpers/fetching/ships'
import { SHIP_TYPES_SORTED } from '@helpers/eve'
import { get_ship_type_icon } from '@helpers/eve'
import { get_ships_meta } from '@helpers/sde/ships'
import { unique_values } from '@helpers/array'

let fittings:FittingItem[] = []
let get_fittings_error:string | false = false

try {
    fittings = await fetch_fittings()
    const ship_ids = fittings.map(fitting => fitting.ship_id)
    const unique_ships_ids = unique_values(ship_ids)
    const ships_meta = await get_ships_meta(unique_ships_ids)
    const ships_meta_map: Record<number, string> = {}
    ships_meta.forEach((meta) => {
        ships_meta_map[meta.ship_id] = meta.meta
    })
    
    fittings = fittings.map(fitting => {
        fitting.ship_meta = ships_meta_map[fitting.ship_id] ?? 'Tech I'
        return fitting
    })
} catch (error) {
    get_fittings_error = prod_error_messages() ? t('get_fittings_error') : error.message
}

let fitting_type = {};
let ship_type = {};
fittings.forEach((fitting) => {
    fitting_type[fitting.fitting_type] = fitting.fitting_type;
    ship_type[fitting.ship_type] = fitting.ship_type;
    if (fitting.ship_type === 'Unknown')
        console.log(fitting)
})

let fitting_ship_types = Object.keys(ship_type)
fitting_ship_types = fitting_ship_types.sort((a, b) => SHIP_TYPES_SORTED.indexOf(a) - SHIP_TYPES_SORTED.indexOf(b))

let fittings_grouped_by_ship_type:FittingItem[][] = []
fitting_ship_types.forEach((fitting_ship_type) => {
    fittings_grouped_by_ship_type.push(
        fittings.filter((fitting) => fitting.ship_type === fitting_ship_type).sort((a, b) => a.ship_name.localeCompare(b.ship_name))
    )
})

let fitting_type_filter:string[] = [];

for (let i in fitting_type)
    fitting_type_filter.push(fitting_type[i])
fitting_type_filter.sort( (a, b) => a.localeCompare(b))

const search_type = Astro.url.searchParams.get('type')

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import BlockList from '@components/compositions/BlockList.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Grid from '@components/compositions/Grid.astro';

import FittingCard from '@components/blocks/FittingCard.astro';
import Input from '@components/blocks/Input.astro';
import Select from '@components/blocks/Select.astro';
import FittingLink from '@components/blocks/FittingLink.astro'

import MagnifierIcon from '@components/icons/buttons/MagnifierIcon.astro';

const page_title = t('fitting.list.page_title');
---

<Viewport
    title={page_title}
    meta_description={t('fitting.meta_description')}
>
    <PageWide
        cover={{
            image: "/images/fits-cover.jpg",
            image_990: "/images/fits-cover.jpg",
            animated: false,
            scrollable: true,
            overlay: true
        }}
        x-data={`{
            fitting_name_filter: '',
            fitting_type_filter: '${!fitting_type_filter.includes(search_type ?? '') ? -1 : search_type}',
            ship_type_filter: '-1',
            fits_count: ${fittings.length},
            countVisibleElements(selector, parent = document) {
                const elements = parent.querySelectorAll(selector)
                let visible_count = 0

                elements.forEach(element => {
                    const is_visible = element.offsetParent !== null
                    if (is_visible)
                        visible_count++
                })

                return visible_count
            },
            show_item(el) {
                const content_to_filter = el.querySelectorAll('.fitting-card-filters p')
                const show_item =   (
                                        (this.fitting_name_filter === '' || content_to_filter[0].textContent.toLowerCase().includes(this.fitting_name_filter.toLowerCase())) &&
                                        (this.fitting_type_filter == '-1' || content_to_filter[1].textContent.includes(this.fitting_type_filter)) &&
                                        (this.ship_type_filter == '-1' || content_to_filter[2].textContent === this.ship_type_filter)
                                    )

                return show_item
            },
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <Flexblock gap="var(--space-3xs)">
                    <PageTitle>
                        {page_title}
                    </PageTitle>
                    <small x-text={'`'+t('showing')+' ${fits_count} '+t('fitting').toLowerCase()+'${fits_count != 1 ? `s` : ``}`'}>
                        {t('showing')} {fittings.length} {t('fitting').toLowerCase()}{fittings.length != 1 ? 's' : ''}
                    </small>
                </Flexblock>
            </FlexInline>
            <FlexInline class="[ !items-start ]">
                <Input
                    type="text"
                    placeholder={t('filter')}
                    x-model="fitting_name_filter"
                    x-on:keyup="setTimeout(function () { fits_count = countVisibleElements('.fitting-card') })"
                    x-init="$el.focus()"
                >
                    <MagnifierIcon slot="icon" />
                </Input>
                
                <div class="[ hidden 2xl:!block ]">
                    <Select
                        x-model="fitting_type_filter"
                        x-on:change="setTimeout(function () { fits_count = countVisibleElements('.fitting-card') }, 100)"
                    >
                        <option selected value="-1">{t('all_fitting_types')}</option>
                        {fitting_type_filter.map((option) => 
                            <option value={option}>{option}</option>
                        )}
                    </Select>
                </div>

                <div class="[ hidden xl:!block ]">
                    <Select
                        x-model="ship_type_filter"
                        x-on:change="setTimeout(function () { fits_count = countVisibleElements('.fitting-card') }, 100)"
                    >
                        <option selected value="-1">{t('all_ship_type')}</option>
                        {fitting_ship_types.map((option) => 
                            <option value={option}>{option}</option>
                        )}
                    </Select>
                </div>
            </FlexInline>
        </FlexInline>

        <BlockList gap='var(--space-2xl)'>
            {fittings_grouped_by_ship_type.map((group_fittings) =>
                group_fittings.length > 0 &&
                    <Flexblock
                        class="[ fitting-groups ]"
                        gap='var(--space-m)'
                    >
                        <FlexInline gap='var(--space-2xs)'>
                            {get_ship_type_icon(group_fittings[0].ship_type) !== null &&
                                <img
                                    class="[ mt-[2px] ]"
                                    src={`/images/icons/ships/${get_ship_type_icon(group_fittings[0].ship_type)}`}
                                    height="32"
                                    width="32"
                                    alt={`${group_fittings[0].ship_type} icon`}
                                />
                            }
                            <h2>{group_fittings[0].ship_type}</h2>
                        </FlexInline>
                        <Grid
                            role="list"
                            class="[ w-full grid-fill ]"
                            min_item_width='240px'
                            row_gap='var(--space-3xs)'
                            column_gap='var(--space-3xs)'
                        >
                            {group_fittings.map((fitting) =>
                                <FittingLink
                                    fitting_id={fitting.id}
                                    class="[ fitting-card-container ]"
                                    x-show="show_item($el)"
                                >
                                    <FittingCard
                                        fitting={fitting}
                                        title={fitting.fitting_name.replace(`[${fitting.fitting_type}] `, '')}
                                        subtitle={fitting.fitting_type}
                                        role="listitem"
                                    />
                                </FittingLink>
                            )}
                        </Grid>
                    </Flexblock>
            )}
        </BlockList>
        <p x-show="fits_count === 0" class="[ text-center ]">{get_fittings_error ? t('error_fetching_fittings') : t('no_results')}</p>
    </PageWide>
</Viewport>

<style lang="scss">
    .fitting-groups:not(:has(.fitting-card-container:not([style="display: none;"]))) {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        left: 0;
        top: 0;
    }
</style>