---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token')?.value : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

if (!user) return Astro.redirect(`${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`)

import { get_user_permissions } from '@helpers/permissions'
import { HTTP_403_Forbidden } from '@helpers/http_responses'

const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_manage_posts = is_superuser || user_permissions.includes('posts.add_evepost')

if (!can_manage_posts)
    return HTTP_403_Forbidden()
import { get_post, create_post, update_post, get_posts_tags, delete_post } from '@helpers/api.minmatar.org/posts'
import type { Post, PostParams, PostTag } from '@dtypes/api.minmatar.org'
import type { Alert } from '@dtypes/layout_components'

const param = Astro.params.post_id
const post_id = param === 'new' ? 0 : parseInt(param ?? '')

if (isNaN(post_id))
    return Astro.redirect(translatePath('/alliance/propaganda/new/editor'))

let post:Post | null = null
let submitted_post_data:PostParams = {}
let alert:Alert | false = false

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData()

        const submitted_post_id = parseInt(data.get('post_id') as string)
        const tag_ids = data.getAll('tag_ids').map(tag_id => parseInt(tag_id as string))

        submitted_post_data = {
            title: data.get('title') as string,
            seo_description: data.get('excerpt') as string,
            content: data.get('content') as string,
            state: data.get('action') as string,
            tag_ids: tag_ids,
        } as PostParams

        if (isNaN(submitted_post_id))
            post = await create_post(auth_token as string, submitted_post_data)
        else
            post = await update_post(auth_token as string, submitted_post_id, submitted_post_data)

        return Astro.redirect(translatePath(`/alliance/propaganda/${post?.post_id}/editor`))
    } catch (error) {
        const create_post_error = error.message

        alert = {
            title: t('post_dialog_title'),
            content: create_post_error,
        }
    }
}

let error_fetching_post_tags:string | false = false
let post_tags:PostTag[] = []
try {
    post_tags = await get_posts_tags()
} catch (error) {
    error_fetching_post_tags = error.message
}

if (!post && post_id) {
    try {
        post = await get_post(post_id)
    } catch (error) {
        const get_post_error = error.message

        if (!alert) {
            alert = {
                title: t('post_editor_dialog_title'),
                content: get_post_error,
            }
        }
    }
}

const {
    title = post?.title ?? '',
    seo_description = post?.seo_description ?? '',
    content = post?.content ?? '',
    state = post?.state ?? 'draft',
    tag_ids = post?.tag_ids ?? [],
} = submitted_post_data

const PROPAGANDA_TAG_ID = 1
if (tag_ids.length === 0)
    tag_ids.push(PROPAGANDA_TAG_ID)

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import Button from '@components/blocks/Button.astro';
import TuiEditor from '@components/blocks/TuiEditor.astro';
import StylessTextArea from '@components/blocks/StylessTextArea.astro';
import UnstyledRadioCheckButton from '@components/blocks/UnstyledRadioCheckButton.astro';
import MarkdownTextArea from '@components/blocks/MarkdownTextArea.astro';

import FlexInlineSiblings from '@components/compositions/FlexInlineSiblings.astro'

const page_title = post?.title ?? t('new_post')
---

<Viewport
    title={page_title}
    components={{
        alert_dialog: true
    }}
>
    <form
        method="POST"
        x-data={`{
            title: \`${title}\`,
            excerpt: \`${seo_description}\`,
            disabled_actions: true,
            writing_mode: false,
            post_header_display: '',
            editor_metas_display: '',
            post_content_paddingTop: '',
            post_content_paddingBottom: '',
            editor_marginTop: '',
            prose_paddingBottom: '',
            update_disable() {
                this.disabled_actions = this.title === ''
            },
            enable_writing_mode() {
                $post_header = document.querySelector('.post-header')
                this.post_header_display = document.querySelector('.post-header').style.display
                $post_header.style.display = 'none'

                $editor_metas = document.querySelector('#editor-metas')
                this.editor_metas_display = $editor_metas.style.display
                $editor_metas.style.display = 'none'

                $post_content = document.querySelector('.post-content > div')
                this.post_content_paddingTop = $post_content.style.paddingTop
                this.post_content_paddingBottom = $post_content.style.paddingBottom
                $post_content.style.paddingTop = '0'
                $post_content.style.paddingBottom = '0'
                
                $editor = document.querySelector('#editor')
                this.editor_marginTop = $editor.style.marginTop
                $editor.style.marginTop = '0'

                $prose = document.querySelector('.toastui-editor-md-preview .prose')
                this.prose_paddingBottom = $prose.style.paddingBottom
                $prose.style.paddingBottom = 'var(--space-xl)'

                this.writing_mode = true
            },
            disable_writing_mode() {
                document.querySelector('.post-header').style.display = this.post_header_display
                document.querySelector('#editor-metas').style.display = this.editor_metas_display
                $post_content = document.querySelector('.post-content > div')
                document.querySelector('.post-content > div').style.paddingTop = this.post_content_paddingTop
                document.querySelector('.post-content > div').style.paddingBottom = this.post_content_paddingBottom
                document.querySelector('#editor').style.marginTop = this.editor_marginTop
                document.querySelector('.toastui-editor-md-preview .prose').style.paddingBottom = this.prose_paddingBottom

                this.writing_mode = false
            }
        }`}
        x-on:submit="$nextTick(() => {
            disabled_actions =  true
        })"
        x-init="update_disable()"
    >
        <PageWide
            fullscreen={true}
            wide={true}
            cover={{
                image: "/images/propaganda-cover.jpg",
                image_990: "/images/propaganda-cover.jpg",
                scrollable: true,
                overlay: true
            }}
            x-data={`{
                init() {
                    ${alert !== false ? `show_alert_dialog(${JSON.stringify(alert)})` : ''}
                }
            }`}
        >
            <FlexInline
                slot="header"
                justification='space-between'
                class="[ w-full ]"
                x-bind:class="{ '!items-start': !sticky }"
            >
                <TextBox>
                    <PageTitle no_link={true}>
                        <StylessTextArea
                            placeholder={t('add_title')}
                            class="[ uppercase !text-[var(--highlight)] !max-h-fit text-balance ]"
                            name="title"
                            x-model="title"
                            x-on:keyup="update_disable()"
                        >{title ? title : undefined}</StylessTextArea>
                    </PageTitle>
                </TextBox>
                
                <FlexInline>
                    <Button
                        type="submit"
                        name="action"
                        value="draft"
                        color='transparent'
                        off_disable={true}
                        x-bind:disabled="disabled_actions"
                    >
                        {post?.state === 'published' ?
                            t('switch_to_draft') :
                            t('save_draft')
                        }
                    </Button>
                    <Button
                        type="submit"
                        name="action"
                        value="published"
                        color='green'
                        off_disable={true}
                        x-bind:disabled="disabled_actions"
                    >
                        {(post_id > 0 && post?.state === 'published') ?
                            t('update') :
                            t('publish')
                        }
                    </Button>
                </FlexInline>
            </FlexInline>

            <Flexblock>
                <Wrapper
                    id="editor-metas"
                    padding_inline="0"
                    padding_block="0"
                    max_width='100%'
                >
                    <Flexblock gap='var(--space-s)'>
                        <TextBox>
                            <MarkdownTextArea
                                name="excerpt"
                                placeholder={t('add_excerpt')}
                                class="[ excerpt !max-h-none ]"
                                x-model="excerpt"
                                is_transparent={true}
                            >{seo_description ? seo_description : undefined}</MarkdownTextArea>
                        </TextBox>

                        <FlexInlineSiblings
                            class="[ w-full ]"
                            min-shink-width='250px'
                            shrinkable-sibbling='first'
                        >
                            {error_fetching_post_tags !== false ?
                                <span set:html={error_fetching_post_tags}></span> :
                                <FlexInline>
                                    <label>{t('post_tags')}:</label>
                                    {post_tags.map(tag =>
                                        <UnstyledRadioCheckButton
                                            type='radio'
                                            label={tag.tag}
                                            value={tag.tag_id}
                                            name="tag_ids"
                                            checked={tag_ids.find(tag_id => tag_id === tag.tag_id) !== undefined ? 'checked' : undefined}
                                        />
                                    )}
                                </FlexInline>
                            }
                            <Button
                                type="button"
                                size='sm'
                                x-on:click="enable_writing_mode()"
                            >
                                {t('writing_mode')}
                            </Button>
                        </FlexInlineSiblings>
                    </Flexblock>
                </Wrapper>

                <TuiEditor content={content} />
                <textarea class="[ hidden ]" name="content" id="post-content" />

                <div
                    class="[ write-mode-toolbar ]"
                    x-show="writing_mode === true"
                >
                    <Wrapper
                        class="[ animate-fade-in-up ]"
                        padding_block='var(--space-2xs)'
                        padding_inline='var(--space-xs)'
                    >
                        <FlexInline>
                            <Button
                                class="[ hidden! lg:block! ]"
                                size='sm'
                                type="submit"
                                name="action"
                                value="draft"
                                color='transparent'
                                off_disable={true}
                                x-bind:disabled="disabled_actions"
                            >
                                {post?.state === 'published' ?
                                    t('switch_to_draft') :
                                    t('save_draft')
                                }
                            </Button>

                            <Button
                                class="[ hidden! lg:block! ]"
                                size='sm'
                                type="submit"
                                name="action"
                                value="published"
                                color='green'
                                off_disable={true}
                                x-bind:disabled="disabled_actions"
                            >
                                {(post_id > 0 && post?.state === 'published') ?
                                    t('update') :
                                    t('publish')
                                }
                            </Button>

                            <Button
                                type="button"
                                size='sm'
                                x-on:click="disable_writing_mode()"
                            >
                                {t('exit_writing_mode')}
                            </Button>
                        </FlexInline>
                    </Wrapper>
                </div>

                {post_id > 0 &&
                    <input type="hidden" name="post_id" value={post_id} />
                }
            </Flexblock>
        </PageWide>
    </form>
</Viewport>

<style lang="scss">
    .excerpt,
    :global(.excerpt p) {
        font-size: var(--step-1);
    }

    .write-mode-toolbar {
        position: fixed;
        bottom: var(--space-2xs);
        left: 50%;
        transform: translateX(-50%);
        z-index: var(--dialog-z-index);

        > div {
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
            background-color: var(--component-background);
        }
    }
</style>