---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? Astro.cookies.get('auth_token')?.value : false
const user = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)
import { get_user_permissions } from '@helpers/permissions'

const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_manage_posts = is_superuser || user_permissions.includes('posts.add_evepost')
const post_editor = can_manage_posts ? (user as User).user_id : false

import { prod_error_messages } from '@helpers/env'

import type { PostListUI } from '@dtypes/layout_components'
import { fetch_posts_grouped_by_tags, fetch_posts } from '@helpers/fetching/posts'

let posts: Record<string, PostListUI[]> = {}
let news_reel_posts:PostListUI[] = []
let post_fetching_error:string | false = false
let post_count = 0
const PAGE_LENGTH = 10

try {
    const posts_grouped = await fetch_posts_grouped_by_tags({ status: 'published' })
    posts = posts_grouped.posts_by_tag
    post_count = posts_grouped.post_count

    const paginated_posts = await fetch_posts({
        page_num: 1,
        page_size: PAGE_LENGTH,
        status: 'published',
    })

    news_reel_posts = paginated_posts.chunk
} catch (error) {
    post_fetching_error = prod_error_messages() ? t('fetch_doctrines_error') : error.message
}

const count_text = t(post_count != 1 ? 'propaganda_post_plural' : 'propaganda_post_singular').replace('COUNT', String(post_count))

const PROPAGANDA_POSTS_LIST_PARTIAL_URL = `${translatePath('/partials/propaganda_posts_list_component')}?state=published`

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';

import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import PropagandaReels from '@components/blocks/PropagandaReels.astro';
import Button from '@components/blocks/Button.astro';
import NewsReel from '@components/blocks/NewsReel.astro'

const page_title = t('propaganda.page_title');
const leading_text = t('propaganda.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('alliance.meta_description')}
    components={{
        alert_dialog: true,
        confirm_dialog: true,
        modal: true,
    }}
>
    <PageWide
        cover={{
            image: "/images/propaganda-cover.jpg",
            image_990: "/images/propaganda-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
        x-data={`{
            count_text: '${count_text}',
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <Flexblock gap="var(--space-3xs)">
                <PageTitle>
                    {page_title}
                </PageTitle>
                <small x-text="count_text">{count_text}</small>
            </Flexblock>
            {post_editor &&
                <FlexInline>
                    <Button
                        href={translatePath('/alliance/propaganda/new/editor')}
                        color='green'
                    >
                        {t('create_post')}
                    </Button>
                </FlexInline>
            }
        </FlexInline>

        {post_editor &&
            <FlexInline slot="subheader">
                <Button size='sm' href={translatePath('/alliance/propaganda/my_posts/')}>
                    {t('my_posts')}
                </Button>
                
                <Button size='sm' href={translatePath('/alliance/propaganda/trash/')}>
                    {t('trash')}
                </Button>
            </FlexInline>
        }

        <Flexblock gap='var(--space-2xl)'>
            <TextBox>
                <p class="[ excerpt ]">{leading_text}</p>
            </TextBox>

            {post_fetching_error ?
                <ErrorRefetch
                    args={{
                        partial: PROPAGANDA_POSTS_LIST_PARTIAL_URL,
                        message: post_fetching_error,
                        delay: 0,
                    }}
                />
                :
                <PropagandaReels
                    posts={posts}
                    editor_id={post_editor ? post_editor : undefined}
                    is_editing={false}
                />
                <NewsReel posts={news_reel_posts} />
            }
        </Flexblock>
    </PageWide>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    h3 {
        font-size: var(--step-1);
    }
</style>