---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'

import type { PostListUI } from '@dtypes/layout_components'
import { fetch_posts_grouped_by_tags } from '@helpers/fetching/posts'

let posts: Record<string, PostListUI[]> = {}
let post_fetching_error:string | false = false

try {
    posts = await fetch_posts_grouped_by_tags()
} catch (error) {
    post_fetching_error = prod_error_messages() ? t('fetch_doctrines_error') : error.message
}

const PROPAGANDA_POSTS_LIST_PARTIAL_URL = `${translatePath('/partials/propaganda_posts_list_component')}`

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import PropagandaReels from '@components/blocks/PropagandaReels.astro';

const page_title = t('propaganda.page_title');
const leading_text = t('propaganda.leading_text');
---

<Viewport
    title={page_title}
    meta_description={t('alliance.meta_description')}
    components={{
        alert_dialog: true,
        modal: true,
    }}
>
    <PageLanding
        cover={{
            image: "/images/propaganda-cover.jpg",
            image_990: "/images/propaganda-cover.jpg",
            overlay: true,
            scrollable: true,
        }}
        wide={true}
    >
        <Flexblock gap='var(--space-2xl)'>
            <Wrapper
                max_width="var(--max-text-width)"
                padding_inline="0"
                padding_block="0"
            >
                <Flexblock gap='var(--space-xl)'>
                    <PageTitle is_landing={true}>{page_title}</PageTitle>
                    <p class="[ excerpt ]">{leading_text}</p>
                </Flexblock>
            </Wrapper>

            {post_fetching_error ?
                <ErrorRefetch
                    args={{
                        partial: PROPAGANDA_POSTS_LIST_PARTIAL_URL,
                        message: post_fetching_error,
                        delay: 0,
                    }}
                />
                :
                <PropagandaReels posts={posts} />
            }
        </Flexblock>
    </PageLanding>
</Viewport>

<style lang="scss">
    .cover-credits {
        position: fixed;
        bottom: var(--space-s);
        right: var(--space-s);

        span {
            color: var(--highlight);
            cursor: pointer;
        }
    }

    h2 {
        font-size: var(--step-3);
    }

    h3 {
        font-size: var(--step-1);
    }
</style>