---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import { HTTP_403_Forbidden } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false
const is_superuser = (user ? user?.is_superuser : false)

if (!user) return Astro.redirect(`${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`)

import { get_user_permissions } from '@helpers/permissions'
const user_permissions = (user ? await get_user_permissions(user?.username) : [])

const can_add_fleets = is_superuser || user_permissions.includes('fleets.add_evefleet')
const can_view_fleets = is_superuser || user_permissions.includes('fleets.view_evefleet')

if (!can_view_fleets)
    return HTTP_403_Forbidden()

import type { FleetItem, Alert, DoctrineType } from '@dtypes/layout_components'
import { fetch_fleets_auth } from '@helpers/fetching/fleets'
import { fetch_doctrine_by_id } from '@helpers/fetching/doctrines'

let fetch_fleets_error: Error | false = false
let fleets:FleetItem[] = []
let active_fleet:FleetItem | undefined = undefined
let active_doctrine:DoctrineType | undefined = undefined

try {
    fleets = await fetch_fleets_auth(auth_token as string)
    fleets.sort(function(a, b) {
        return new Date(a.start_time).getTime() - new Date(b.start_time).getTime();
    });

    active_fleet = fleets.find(fleet => fleet?.status !== 'cancelled' && fleet?.tracking && !fleet?.tracking?.end_time)
    if (active_fleet)
        active_doctrine = await fetch_doctrine_by_id(active_fleet.doctrine_id)
} catch (error) {
    fetch_fleets_error = error
}

import { get_market_contracts } from '@helpers/api.minmatar.org/market'
import { get_locations } from '@helpers/api.minmatar.org/locations'
import type { Contract } from '@dtypes/api.minmatar.org'
let supply_contracts: Contract[] = []

if (active_fleet && active_doctrine) {
    try {
        const locations = await get_locations()
        const fleet_location = locations.find(location => location.location_name === active_fleet?.location)
        
        supply_contracts = fleet_location?.location_id ? await get_market_contracts(fleet_location?.location_id) : []
    } catch (error) {
        console.error('Error fetching supply contracts:', error)
    }
}

const flash_form_error = Astro.cookies.has('flash_form_error') ? Astro.cookies.get('flash_form_error')?.value : false
if (Astro.cookies.has('flash_form_error')) Astro.cookies.delete('flash_form_error', { path: '/' })

const alert = !flash_form_error ? false : {
    title: t('flash_form'),
    content: flash_form_error
} as Alert

import { get_audiences } from '@helpers/api.minmatar.org/fleets'
import type { Audience } from '@dtypes/api.minmatar.org'
let audiences:Audience[] = []
let fetch_audiences_error: Error | false = false

try {
    audiences = await get_audiences(auth_token as string)
} catch (error) {
    fetch_audiences_error = error
}

const FLEET_LIST_PARTIAL_URL = translatePath(`/partials/fleet_list_component?upcoming=${JSON.stringify(true)}`)

const AUTH_REDIRECT_URL = `${translatePath('/redirects/auth_init')}?redirect_url=${Astro.url}`

import { marked } from 'marked';
const AUTH_FLEET_SUBHINT = (marked.parseInline(t('authenticate_fleet_subhint')) as string)
    .replace(
        'AUTH_LINK', AUTH_REDIRECT_URL
    )

import {
    get_location_video_cover,
    get_location_video_cover_thumb,
    get_location_cover,
    get_location_cover_990,
} from '@helpers/covers'

const count_text = t(fleets.length !== 1 ? 'fleets_on_schedule_plural' : 'fleets_on_schedule_singular')
    .replace('{count}', String(fleets.length))

import Viewport from '@layouts/Viewport.astro';

import PageWide from '@components/page/PageWide.astro';
import PageTitle from '@components/page/PageTitle.astro';
import PageSubheader from '@components/page/PageSubheader.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import FlexInline from '@components/compositions/FlexInline.astro';

import FleetList from '@components/blocks/FleetList.astro';
import Button from '@components/blocks/Button.astro';
import ErrorRefetch from '@components/blocks/ErrorRefetch.astro';
import ShowAlert from '@components/blocks/ShowAlert.astro';
import FlashFormButton from '@components/blocks/FlashFormButton.astro'
import UpcomingFleetsUpdater from '@components/blocks/UpcomingFleetsUpdater.astro'

import AddIcon from '@components/icons/buttons/AddIcon.astro';

const page_title = t('fleets.upcoming.page_title');
---

{alert && <ShowAlert alert={alert} /> }

<Viewport
    title={page_title}
    meta_description={t('page_finder.fleets.upcoming.meta_description')}
    components={{
        alert_dialog: true,
        confirm_dialog: true
    }}
>
    <PageWide
        cover={{
            video: get_location_video_cover(active_fleet?.location ?? '') ?? undefined,
            video_thumb: get_location_video_cover_thumb(active_fleet?.location ?? '') ?? undefined,
            image: get_location_cover(active_fleet?.location ?? '') ?? '/images/fleets-cover.jpg',
            image_990: get_location_cover_990(active_fleet?.location ?? '') ?? '/images/fleets-cover.jpg',
            animated: false,
            scrollable: true,
            overlay: true
        }}
        x-data={`{
            fleets_count: ${fleets.length}
        }`}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <Flexblock gap="var(--space-3xs)">
                    <PageTitle>
                        {page_title}
                    </PageTitle>
                    <small id="count-text-oob">{count_text}</small>
                </Flexblock>
            </FlexInline>
            <FlexInline>
                {can_add_fleets &&
                    <Button color={'green'} href={translatePath('/fleets/add/')}>
                        <AddIcon slot="icon" />
                        {t('schedule_fleet')}
                    </Button>
                    <>{!fetch_audiences_error && <FlashFormButton audiences={audiences} /> }</>
                }
            </FlexInline>
        </FlexInline>

        <PageSubheader slot="subheader">
            <Button
                href={translatePath('/fleets/history/')}
                size='sm'
            >
                {t('fleet_history')}
            </Button>
        </PageSubheader>
        
        <UpcomingFleetsUpdater refresh_rate_seconds={300}>
            {fetch_fleets_error ?
                <ErrorRefetch
                    args={{
                        partial: FLEET_LIST_PARTIAL_URL,
                        error: fetch_fleets_error,
                        delay: 0,
                    }}
                />
                :
                <FleetList
                    fleets={fleets}
                    active_fleet={active_fleet}
                    active_doctrine={active_doctrine}
                    supply_contracts={supply_contracts}
                    init_tooltips={false}
                />
            }
        </UpcomingFleetsUpdater>
	</PageWide>
</Viewport>