---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

if (is_prod_mode())
    return HTTP_404_Not_Found()

// TODO: Replace the static JSON below with the endpoint request using the id
const { id } = Astro.params;
console.log(`TODO: Fetch endpoint with id: ${id}`)
// Replace me 👇
import fit_details from '@json/page/fitting/list/adv-30-arazu.json';
import { fitting } from '@/data/test_fitting';

import { get_module_model } from '@helpers/sde/modules'
import ccpwgl_turrets from '@/data/ccpwgl_turrets.json'
import { get_item_id } from '@helpers/sde/items'
import { get_ship_dna } from '@helpers/ccpwgl'
import { get_item_icon } from '@helpers/eve_image_server';
import { parse_eft } from '@helpers/fit_parser.ts';

const fitting_parsed = await parse_eft(fitting)
let turrets:string[] = []

console.log(fitting_parsed?.high_slots)
await Promise.all(fitting_parsed?.high_slots.map(async (module, index) => {
    const res = module?.id ? await get_module_model(module.id) : null
    if (res && ccpwgl_turrets.includes(module.module_type))
        turrets.push(res)
}))

const DEFAULT_ZOOM = 3
const TECH_III_ZOOM = 8
const ship_id = await get_item_id(fitting_parsed.ship_name)
const ship_dna = await get_ship_dna(ship_id, fitting_parsed.subsystem_slots)
const CAMERA_ZOOM = fitting_parsed.subsystem_slots.length > 0 ? TECH_III_ZOOM : DEFAULT_ZOOM

import Viewport from '@layouts/Viewport.astro';

import PageLanding from '@components/page/PageLanding.astro';
import PageTitle from '@components/page/PageTitle.astro';

import FlexInline from '@components/compositions/FlexInline.astro';
import Flexblock from '@components/compositions/Flexblock.astro';
import Wrapper from '@components/compositions/Wrapper.astro';

import FittingCustom from '@components/blocks/FittingCustom.astro';
import Button from '@components/blocks/Button.astro';
import Cargohold from '@components/blocks/CargoHold.astro';
import ButtonStack from '@components/blocks/ButtonStack.astro';
import CollapsibleBlock from '@components/blocks/CollapsibleBlock.astro';

import ClipboardIcon from '@components/icons/buttons/ClipboardIcon.astro';
import FitsEvEIcon from '@components/icons/FitsEvEIcon.astro';
import CargoHoldEvEIcon from '@components/icons/CargoHoldEvEIcon.astro';
import DronesEvEIcon from '@components/icons/DronesEvEIcon.astro';
import Input from '@components/blocks/Input.astro';

const page_title = fitting_parsed.name;
---

<Viewport title={page_title}>
    <PageLanding
        cover={{
            image: "/images/fitting-cover.jpg",
            image_990: "/images/fitting-cover.jpg",
            alt: t('fitting.render.cover_alt'),
            animated: false,
        }}
        fullscreen={true}
        wide={true}
        x-data={`{
            rotation_x: -0.565,
            rotation_y: 0.208,
            camera: null,
            update() {
                this.camera.rotationX = this.rotation_x
                this.camera.rotationY = this.rotation_y
            }
        }`}
        x-effect="update"
    >
        <canvas
            slot="cover"
            id="mainCanvas"
            width="500"
            height="500"
            x-data={`{
                init_ccpwgl() {
                    if (${ship_dna === null})
                        return;

                    let ship
                    let canvas
                    let camera
                    let scene
                    let siege_state = ccpwgl.ShipSiegeState.SIEGE

                    canvas = document.getElementById('mainCanvas');
                    
                    ccpwgl.initialize(canvas, fitting.options);
                    ccpwgl_context = canvas.getContext("webgl");
                    
                    camera = ccpwgl.createCamera(canvas, undefined, true);
                    camera.rotationX = rotation_x
                    camera.rotationY = rotation_y

                    camera.shift = 100.75

                    scene = ccpwgl.loadScene('res:/dx9/scene/wormholes/wormhole_class_00.red');
                    scene.loadSun('res:/fisfx/lensflare/blue_small.red');
                    scene.setSunDirection([-1, 0, 0.7]);
                    
                    ship = scene.loadShip(${JSON.stringify(ship_dna)}, function() {
                        camera.focus(this, ${CAMERA_ZOOM})
                        setTimeout(enter_siege_mode, 50000)
                    });

                    function enter_siege_mode() {
                        ship.setSiegeState(ccpwgl.ShipSiegeState.SIEGE)
                        setTimeout(fire_guns, 15000)
                    }
                    
                    function fire_guns() {
                        console.log('firing...')

                        pt = {
                            0: 15219.994140625,
                            1: -897.7669067382812,
                            2: -10204.6015625,
                            3: 0.00005102222348796204,
                        }
                        
                        for (let i = 0; i < ${turrets.length}; i++) {
                            ship.setTurretTargetPosition(i + 1, pt);
                            ship.setTurretState(i + 1, ccpwgl.TurretState.FIRING);
                        }

                        setTimeout(leave_siege_mode, 5000)
                    }

                    function leave_siege_mode() {
                        ship.setSiegeState(ccpwgl.ShipSiegeState.NORMAL)
                        setTimeout(enter_siege_mode, 50000)
                    }

                    function fit_turret(ship, res, slot) {
                        if (res)
                            ship.mountTurret(slot, res)
                        else
                            ship.removeTurret(slot)
                    }

                    ${JSON.stringify(turrets)}.map((res, index) => {
                        fit_turret(ship, res, index + 1)
                    })

                    if (fitting.options.postprocess)
                        ccpwgl.enablePostprocessing(true);

                    canvas.addEventListener('mousedown', function (event)
                    {
                        if (event.button !== 2)
                            return
                        
                        fire_guns(ship)

                        event.preventDefault();
                    });
                    canvas.addEventListener('contextmenu', function (event) { event.preventDefault(); });
                }
            }`}
            x-init="$nextTick(() => init_ccpwgl())"
        />

        <Wrapper
            class="[ left-panel ]"
            padding_inline='0'
            padding_block='var(--space-xl)'
            max_width='650px'
        >
            <Flexblock gap='var(--space-3xl)'>
                <Flexblock gap='var(--space-xl)'>
                    <FlexInline justification='space-between'>
                        <FlexInline>
                            <img loading="lazy" height="64" width="64" src={get_item_icon(ship_id)} alt={fitting_parsed.ship_name} />
                            <PageTitle>{page_title}</PageTitle>
                        </FlexInline>
                        <ButtonStack>
                            <Button
                                onclick="copyFitToClipboard('fit-clipboard', 'Fit copied (EFT Format): ')"
                                size='sm'
                            >
                                <ClipboardIcon slot="icon" />
                                {t('copy')}
                            </Button>
                        </ButtonStack>
                    </FlexInline>
                    
                    <p>{fit_details.description}</p>
                </Flexblock>

                <Flexblock>
                    <Flexblock gap='0'>
                        <label for="doctrine">{t('rotation_x')}</label>
                        <Input type="number" x-model="rotation_x" step="0.001" />
                    </Flexblock>
                    <Flexblock gap='0'>
                        <label for="doctrine">{t('rotation_y')}</label>
                        <Input type="number" x-model="rotation_y" step="0.001" />
                    </Flexblock>
                </Flexblock>

                <Flexblock gap='var(--space-3xs)'>
                    <CollapsibleBlock>
                        <FitsEvEIcon slot="head" />
                        <h3 slot="head">{t('fitting')}</h3>
                        <pre class="[ eve-html ]">{fitting}</pre>
                    </CollapsibleBlock>

                    {fitting_parsed?.drones?.length > 0 &&
                        <Cargohold cargo={fitting_parsed.drones}>
                            <DronesEvEIcon />
                            <h3>{t('drone_bay')}</h3>
                        </Cargohold>
                    }

                    {fitting_parsed?.cargohold?.length > 0 &&
                        <Cargohold cargo={fitting_parsed.cargohold}>
                            <CargoHoldEvEIcon />
                            <h3>{t('cargo_hold')}</h3>
                        </Cargohold>
                    }
                </Flexblock>
            </Flexblock>
        </Wrapper>

        <FittingCustom
            fitting={fitting_parsed}
        />
    </PageLanding>
</Viewport>

<textarea id="fit-clipboard" set:html={fitting}></textarea>

<style lang="scss">
    #fit-clipboard {
        display: none;
    }

    .left-panel {
        position: absolute;
    }
</style>

<style is:global>

    #mainCanvas {
        border: none;
        position:fixed;
        width:100%;
        height:100%
    }

</style>