---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import { prod_error_messages } from '@helpers/env'
import { get_route_cost } from '@helpers/api.minmatar.org/freights'
import { fetch_freight_routes } from '@helpers/fetching/freights'
import { parseVolumeInput } from '@helpers/numbers'
import type { FreightRoutesData } from '@dtypes/layout_components'

let freight_routes_data:FreightRoutesData
let data_fetching_error:string | null = null

let cost:number = 0
let route:string = ''
let m3:number = 0
let collateral:number = 0
let origin:string = ''
let destination:string = ''
let expiration_days:number = 3
let days_to_complete:number = 3

if (Astro.request.method !== "POST")
    return Astro.redirect(translatePath('/market/freight/standard'))

try {
    freight_routes_data = await fetch_freight_routes()
    
    const data = await Astro.request.formData();
    
    route = data.get("route") as string
    const m3Raw = (data.get("m3") as string) ?? ''
    m3 = parseVolumeInput(m3Raw) || 0
    if (m3 < 1) {
        data_fetching_error = t('fetch_freight_cost_error')
        m3 = 0
    } else {
        collateral = parseInt((data.get("collateral") as string).replaceAll(',', ''), 10) || 0
        const route_id = freight_routes_data.route_translation[route]
        const route_cost = await get_route_cost(route_id, m3, collateral)
        cost = route_cost.cost
        origin = freight_routes_data.stations[route][0]
        destination = freight_routes_data.stations[route][1]
        const details = freight_routes_data.route_details[route]
        if (details) {
            expiration_days = details.expiration_days
            days_to_complete = details.days_to_complete
        }
    }
} catch (error) {
    data_fetching_error = prod_error_messages() ? t('fetch_freight_cost_error') : error.message
}

if (data_fetching_error) {
    Astro.cookies.set('contract_error', data_fetching_error, { path: '/' })
    return Astro.redirect(translatePath('/market/freight/standard'))
}

import { number_name } from '@helpers/numbers.ts';

import Viewport from '@layouts/Viewport.astro';
import PageAside from '@components/page/PageAside.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Context from '@components/layout/Context.astro';
import TextBox from '@components/layout/TextBox.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import ClipboardButton from '@components/blocks/ClipboardButton.astro';
import Button from '@components/blocks/Button.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';
import HistoryIcon from '@components/icons/buttons/HistoryIcon.astro';
import FreightFAQs from '@components/blocks/FreightFAQs.astro'

import FlexInline from '@components/compositions/FlexInline.astro';
import TextGroup from '@components/blocks/TextGroup.astro';

const page_title = t('freight.contract.page_title');
---

<Viewport title={page_title}>
    <PageAside
        cover={{
            image: "/images/freight-service-cover.jpg",
            image_990: "/images/freight-service-cover.jpg",
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <PageTitle>
                    {page_title}
                </PageTitle>
            </FlexInline>
            <FlexInline>
                <Button class="[ !hidden sm:block! ]" href={translatePath(`/market/freight/standard/`)}>
                    <HistoryIcon slot="icon" />
                    {t('recalculate')}
                </Button>
            </FlexInline>
        </FlexInline>

        <Flexblock gap='var(--space-xl)'>
            <TextBox>
                <p>{t('freight.contract.instruction_paragraph')}</p>
            </TextBox>

            <Context>
                <ComponentBlock width='narrow'>
                    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                        <h2>{t('freight.contract.step_1_title')}</h2>

                        <VerticalCenter>
                            <TextGroup title={t('contract_type')}>
                                {t('courier')}
                            </TextGroup>
                        </VerticalCenter>

                        <VerticalCenter>
                            <TextGroup title={t('availability')}>
                                {t('private')}
                            </TextGroup>
                        </VerticalCenter>

                        <VerticalCenter>
                            <FlexInline gap="var(--space-3xl)" class="[ w-full ]">
                                <Flexblock gap="var(--space-3xs)" class="basis-[250px]">
                                    <h4>{t('name')}</h4>
                                    <p>Minmatar Fleet Logistics</p>
                                </Flexblock>
                                <ClipboardButton id="copy-contract-name" class="[ hidden md:!flex relative mt-5 ]">Minmatar Fleet Logistics</ClipboardButton>
                            </FlexInline>
                        </VerticalCenter>
                    </Flexblock>
                </ComponentBlock>

                <ComponentBlock width='narrow'>
                    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                        <h2>{t('freight.contract.step_2_title')}</h2>
                        <p>{origin}</p>
                    </Flexblock>
                </ComponentBlock>

                <ComponentBlock width='narrow'>
                    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                        <h2>{t('freight.contract.step_3_title')}</h2>

                        <VerticalCenter>
                            <FlexInline gap="var(--space-3xl)" class="[ w-full ]">
                                <Flexblock gap="var(--space-3xs)" class="basis-[250px]">
                                    <h4>{t('ship_to')}</h4>
                                    <p>{destination}</p>
                                </Flexblock>
                                <ClipboardButton id="copy-contract-ship-to" class="[ hidden md:!flex relative mt-5 ]">{destination}</ClipboardButton>
                            </FlexInline>
                        </VerticalCenter>

                        <VerticalCenter>
                            <FlexInline gap="var(--space-3xl)" class="[ w-full ]">
                                <Flexblock gap="var(--space-3xs)" class="basis-[250px]">
                                    <h4>{t('contract_size')} (m³)</h4>
                                    <p>{m3.toLocaleString()}</p>
                                </Flexblock>
                            </FlexInline>
                        </VerticalCenter>

                        <VerticalCenter>
                            <FlexInline gap="var(--space-3xl)" class="[ w-full ]">
                                <Flexblock gap="var(--space-3xs)" class="basis-[250px]">
                                    <h4>{t('reward')}</h4>
                                    <p><span data-tippy-content={number_name(cost, lang)}>{cost.toLocaleString()}</span></p>
                                </Flexblock>
                                <ClipboardButton id="copy-contract-reward" class="[ hidden md:!flex relative mt-5 ]">{cost}</ClipboardButton>
                            </FlexInline>
                        </VerticalCenter>

                        <VerticalCenter>
                            <FlexInline gap="var(--space-3xl)" class="[ w-full ]">
                                <Flexblock gap="var(--space-3xs)" class="basis-[250px]">
                                    <h4>{t('collateral')}</h4>
                                    <p><span data-tippy-content={number_name(collateral, lang)}>{collateral.toLocaleString()}</span></p>
                                </Flexblock>
                                <ClipboardButton id="copy-contract-collateral" class="[ hidden md:!flex relative mt-5 ]">{collateral}</ClipboardButton>
                            </FlexInline>
                        </VerticalCenter>

                        <VerticalCenter>
                            <TextGroup title={t('expiration')}>
                                {`${expiration_days} ${t('days')}`}
                            </TextGroup>
                        </VerticalCenter>

                        <VerticalCenter>
                            <TextGroup title={t('days_to_complete')}>
                                {days_to_complete}
                            </TextGroup>
                        </VerticalCenter>
                    </Flexblock>
                </ComponentBlock>

                <ComponentBlock width='narrow'>
                    <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                        <h2>{t('freight.contract.step_4_title')}</h2>
                        <p>{t('freight.contract.step_4_text')}</p>
                    </Flexblock>
                </ComponentBlock>
            </Context>
        </Flexblock>

        <ComponentBlock slot="aside" class="sticky top-[170px]">
            <FreightFAQs is_contract_page={true} />
        </ComponentBlock>
    </PageAside>
</Viewport>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }
</style>