---
import { i18n } from '@helpers/i18n'
const { lang, t, translatePath } = i18n(Astro.url)

import { is_prod_mode } from '@helpers/env'
import { HTTP_404_Not_Found } from '@helpers/http_responses'

import type { User } from '@dtypes/jwt'
import * as jose from 'jose'

const auth_token = Astro.cookies.has('auth_token') ? (Astro.cookies.get('auth_token')?.value as string) : false
const user:User | false = auth_token ? jose.decodeJwt(auth_token) as User : false

const user_is_superadmin = (auth_token && user ? user.is_superuser : false)

if (is_prod_mode() && !user_is_superadmin)
    return HTTP_404_Not_Found()

import { number_name } from '@helpers/numbers.ts';

import summaries from '@json/page/freight/summary.json';

import Viewport from '@layouts/Viewport.astro';

import PageDefault from '@components/page/PageDefault.astro';
import PageTitle from '@components/page/PageTitle.astro';

import Flexblock from '@components/compositions/Flexblock.astro';
import VerticalCenter from '@components/blocks/VerticalCenter.astro';
import AddIcon from '@components/icons/buttons/AddIcon.astro';
import Button from '@components/blocks/Button.astro';
import ComponentBlock from '@components/blocks/ComponentBlock.astro';

import FlexInline from '@components/compositions/FlexInline.astro';
import TextGroup from '@components/blocks/TextGroup.astro';
import Context from '@components/layout/Context.astro';

const page_title = t('freight.summary.page_title');
---

<Viewport title={page_title} meta_description={t('freight.summary.meta_description')}>
    <PageDefault
        cover={{
            image: "/images/freight-service-cover.jpg",
            image_990: "/images/freight-service-cover.jpg",
            animated: false,
            scrollable: true,
            overlay: true
        }}
    >
        <FlexInline slot="header" justification='space-between' class="[ w-full ]">
            <FlexInline>
                <PageTitle>
                    {page_title}
                </PageTitle>
            </FlexInline>
            <FlexInline>
                <Button color={'green'} class="[ !hidden md:!flex ]" href={translatePath('/market/freight/standard/')}>
                    <AddIcon slot="icon" />
                    {t('standard_freight')}
                </Button>
                <Button color={'green'} class="[ !hidden lg:!flex ]" href={translatePath('/market/freight/wormhole/')}>
                    <AddIcon slot="icon" />
                    {t('wormhole_freight')}
                </Button>
            </FlexInline>
        </FlexInline>

        <Context>
            <ComponentBlock width='narrow'>
                <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                    <h2>{t('freight.summary.current_title')}</h2>
                    <VerticalCenter>
                        <TextGroup title={t('total_contracts')}>
                            {summaries.current.total_contracts.toLocaleString()}
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_volume')}>
                            <span data-tippy-content={number_name(summaries.current.total_volume, lang)}>{summaries.current.total_volume.toLocaleString()}</span> m<sup>3</sup>
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_collateral')}>
                            <span data-tippy-content={number_name(summaries.current.total_collateral, lang)}>{summaries.current.total_collateral.toLocaleString()}</span> ISK
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_reward')}>
                            <span data-tippy-content={number_name(summaries.current.total_reward, lang)}>{summaries.current.total_reward.toLocaleString()}</span> ISK
                        </TextGroup>
                    </VerticalCenter>
                </Flexblock>
            </ComponentBlock>
            
            <ComponentBlock width='narrow'>
                <Flexblock class="[ w-full ]" gap='var(--space-m)'>
                    <h2>{t('freight.summary.historical_header')}</h2>
                    <VerticalCenter>
                        <TextGroup title={t('total_contracts')}>
                            {summaries.history.total_contracts.toLocaleString()}
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_volume')}>
                            <span data-tippy-content={number_name(summaries.history.total_volume, lang)}>{summaries.history.total_volume.toLocaleString()}</span> m<sup>3</sup>
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_collateral')}>
                            <span data-tippy-content={number_name(summaries.history.total_collateral, lang)}>{summaries.history.total_collateral.toLocaleString()}</span> ISK
                        </TextGroup>
                    </VerticalCenter>

                    <VerticalCenter>
                        <TextGroup title={t('total_reward')}>
                        <span data-tippy-content={number_name(summaries.history.total_reward, lang)}>{summaries.history.total_reward.toLocaleString()}</span> ISK
                        </TextGroup>
                    </VerticalCenter>
                </Flexblock>
            </ComponentBlock>
        </Contex>
    </PageDefault>
</Viewport>

<style lang="scss">
    h3 {
        margin-block-start: var(--space-l);
    }
</style>