---
import { i18n } from '@helpers/i18n'
const { t, translatePath } = i18n(Astro.url)

import type { BaseIndustryOrder } from '@dtypes/api.minmatar.org'
import type { OrderLocation } from '@dtypes/layout_components'
import { fetch_orders_by_locations, fetch_orders_summary_flat } from '@helpers/fetching/industry'

let fetching_error:string | false = false
let orders_locations:OrderLocation[] = []
let materials_required:BaseIndustryOrder[] = []

try {
    orders_locations = await fetch_orders_by_locations()
    materials_required = await fetch_orders_summary_flat()
} catch (error) {
    fetching_error = error.message
}

let active_location_name = Astro.url.searchParams.get('location_name') ?? (orders_locations[0]?.location_name ?? '')

if (orders_locations.length > 0) {
    if (active_location_name === '' || !orders_locations.find(location => location.location_name === active_location_name) )
        active_location_name = orders_locations[0].location_name
}

const active_orders_locations = orders_locations.find(location => location.location_name === active_location_name)
const orders_count = active_orders_locations?.orders.length ?? 0

const non_active_orders_locations = orders_locations.filter(location => location.location_name !== active_location_name)

import { query_string } from '@helpers/string';

const INDUSTRY_ORDERS_PARTIAL_URL = translatePath(`/partials/industry_orders_component${active_location_name ? `?${query_string({
    location_name: active_location_name
})}` : ''}`)

const delay = parseInt(Astro.url.searchParams.get('delay') ?? '0')

import ErrorRefetch from '@components/blocks/ErrorRefetch.astro'
import OrdersTable from '@components/blocks/OrdersTable.astro'
import MaterialReels from '@components/blocks/MaterialReels.astro'
import UpdateAlpineVariables from '@components/blocks/UpdateAlpineVariables.astro'
---

{fetching_error !== false ?
    <ErrorRefetch
        args={{
            partial: INDUSTRY_ORDERS_PARTIAL_URL,
            message: fetching_error,
            delay: delay,
        }}
    />
    :
    active_orders_locations !== undefined ?
        <OrdersTable
            active_orders_locations={active_orders_locations}
            non_active_orders_locations={non_active_orders_locations}
            init_tooltips={false}
        />
        <MaterialReels materials_required={materials_required} init_tooltips={true} />
        <UpdateAlpineVariables
            variables={{
                orders_count: orders_count,
            }}
        /> :
        <p>{t('no_market_locations')}</p>
}